@use '../abstracts/theme-colors' as tc;
@use '../abstracts/general-colors' as gc;
@use '../abstracts/measurements' as ms;

[id="popout_38"] [class*="menu-"][class*="styleFixed-"] [class*="item-"] {
  border-radius: ms.$medium-radius;
  
  &[class*="colorDanger-"][class*="focused-"], &[class*="colorDanger-"]:active:not([class*="hideInteraction-"]) {
    color: tc.$text-alt;
  }
}

button {
  border-radius: ms.$medium-radius!important;
}

.theme-dark, .theme-light {
  [class*="disabledButtonWrapper_"] svg {
    --__lottieIconColor: tc.$text-alt;
  }

  /* colorBrand */
  [class*="lookFilled"][class*="colorBrand"]:not([class*="colorWhite"]) {
    color: tc.$text-alt;
    background-color: gc.$color11;
    transition: filter 0.3s;
  }

  [class*="lookFilled"][class*="colorBrand"]:not([class*="colorWhite"]):hover {
    color: tc.$text-alt;
    background-color: gc.$color11;
    filter: brightness(0.8);
  }

  [class*="lookFilled"][class*="colorBrand"]:not([class*="colorWhite"]) [class*="defaultColor"] {
    color: tc.$text-alt;
  }

  /* colorGrey */
  [class*="lookFilled"][class*="colorGrey"] {
    color: tc.$text-alt;
    background-color: gc.$color7;
    transition: filter 0.3s;
  }

  [class*="lookFilled"][class*="colorGrey"]:hover {
    color: tc.$text-alt;
    background-color: gc.$color7;
    filter: brightness(0.8);
  }

  /* colorRed */
  [class*="lookFilled"][class*="colorRed"] {
    color: tc.$text-alt;
    background-color: gc.$color3;
    transition: background-color 0.3s;
  }

  [class*="lookFilled"][class*="colorRed"]:hover {
    color: tc.$text-alt;
    background-color: gc.$color4;
  }

  /* colorPrimary */
  [class*="lookFilled"][class*="colorPrimary"] {
    color: tc.$text-alt;
    background-color: gc.$color7;
    transition: filter 0.3s;
  }

  [class*="lookFilled"][class*="colorPrimary"]:hover {
    color: tc.$text-alt;
    background-color: gc.$color7;
    filter: brightness(0.8);
  }

  [class*="lookFilled"][class*="colorPrimary"] [class*="defaultColor"] {
    color: tc.$text-alt;
  }

  /* colorWhite */
  [class*="lookFilled"][class*="colorWhite"]:not([class*="colorWhite-"]), [class*="lookFilled"][class*="colorWhite"]:not([class*="colorWhite-"]) * {
    color: tc.$text-alt;
    background-color: gc.$color7;
    transition: filter 0.3s;
  }

  [class*="lookFilled"][class*="colorWhite"]:not([class*="colorWhite-"]):active {
    filter: brightness(0.8);
  }

  /* lookInverted */
  [class*="lookInverted"][class*="colorBrand"] {
    color: tc.$text-alt;
    background-color: gc.$color7;
    transition: filter 0.3s;
  }

  [class*="lookInverted"][class*="colorBrand"]:hover  {
    filter: brightness(0.9);
  }

  /* colorGreen */
  [class*="lookFilled"][class*="colorGreen"] {
    color: tc.$text-alt;
    background-color: gc.$color11;
    transition: filter 0.3s;
  }

  [class*="lookFilled"][class*="colorGreen"]:hover  {
    filter: brightness(0.8);
  }

  /* lookOutlined */
  [class*="lookOutlined"][class*="colorRed"] {
    color: gc.$color3;
    border-color: gc.$color3;
    transition: all 0.3s;
  }

  [class*="lookOutlined"][class*="colorRed"]:hover {
    color: gc.$color4;
    background-color: transparent;
    border-color: gc.$color4;
  }

  /* colorPrimary */
  [class*="lookOutlined"][class*="colorPrimary"] {
    transition: border-color 0.3s;
  }

  [class*="lookOutlined"][class*="colorPrimary"]:hover {
    border-color: tc.$background-secondary-alt;
  }
}

[class*="group-"][class*="flex-"] {
  [class*="item-"][class*="selectorButton-"][class*="selectorButtonSelected-"] * {
    color: tc.$text-alt;
  }
}

[class*="item-"][class*="itemFilled-"][aria-checked=true] {
  color: tc.$text-alt;
  [class*="radioIconForeground-"] {
    color: tc.$text-alt;
  }
}

[class*="item-"][class*="itemFilled-"]:active:not([aria-checked=true]):not([class*="disabled-"]) {
  color: tc.$text-alt;
}

// select option
[class*="popout-"][class*="scrollerBase-"] [class*="option-"][aria-selected=true]:not([class*="option-"][class*="multi-"]) {
  color: tc.$text-alt;
}

[class*="channelBottomBarArea_"] [class*="channelAppLauncher_"] {
  margin: 0 10px 0 10px;
  [class*="buttonContainer_"] {
    height: calc(100% - 10px);
    button {
      height: 100%;
      border-radius: ms.$medium-radius;
    }
  }
}

[class*="content_"] [class*="navItem_"] {
  &:active {
    color: tc.$text-alt;
    [class*="navItemIcon_"] {
      color: tc.$text-alt;
    }
  }
  &[class*="selected_"] {
    color: tc.$text-alt;
    background-color: gc.$color7;
    [class*="navItemIcon_"] {
      color: tc.$text-alt;
    }
  }
}
