@use '../abstracts/theme-colors' as tc;
@use '../abstracts/general-colors' as gc;
@use '../abstracts/measurements' as ms;

[id="popout_38"] .menu-1QACrS.styleFixed-2_NfVL .item-1OdjEX {
  border-radius: ms.$medium-radius;
  
  &.colorDanger-3n-KnP.focused-3qFvc8, &.colorDanger-3n-KnP:active:not(.hideInteraction-2jPGL_) {
    color: tc.$text-alt;
  }
}

button {
  border-radius: ms.$medium-radius!important;
}

.theme-dark, .theme-light {
  /* colorBrand */
  [class*="lookFilled"][class*="colorBrand"]:not([class*="colorWhite"]) {
    color: tc.$text-alt;
    background-color: gc.$color11;
    transition: filter 0.3s;
  }

  [class*="lookFilled"][class*="colorBrand"]:not([class*="colorWhite"]):hover {
    color: tc.$text-alt;
    background-color: gc.$color11;
    filter: brightness(0.8);
  }

  [class*="lookFilled"][class*="colorBrand"]:not([class*="colorWhite"]) [class*="defaultColor"] {
    color: tc.$text-alt;
  }

  /* colorGrey */
  [class*="lookFilled"][class*="colorGrey"] {
    color: tc.$text-alt;
    background-color: gc.$color7;
    transition: filter 0.3s;
  }

  [class*="lookFilled"][class*="colorGrey"]:hover {
    color: tc.$text-alt;
    background-color: gc.$color7;
    filter: brightness(0.8);
  }

  /* colorRed */
  [class*="lookFilled"][class*="colorRed"] {
    color: tc.$text-alt;
    background-color: gc.$color3;
    transition: background-color 0.3s;
  }

  [class*="lookFilled"][class*="colorRed"]:hover {
    color: tc.$text-alt;
    background-color: gc.$color4;
  }

  /* colorPrimary */
  [class*="lookFilled"][class*="colorPrimary"] {
    color: tc.$text-alt;
    background-color: gc.$color7;
    transition: filter 0.3s;
  }

  [class*="lookFilled"][class*="colorPrimary"]:hover {
    color: tc.$text-alt;
    background-color: gc.$color7;
    filter: brightness(0.8);
  }

  [class*="lookFilled"][class*="colorPrimary"] [class*="defaultColor"] {
    color: tc.$text-alt;
  }

  /* colorWhite */
  [class*="lookFilled"][class*="colorWhite"]:not(.colorWhite-1H92hK), [class*="lookFilled"][class*="colorWhite"]:not(.colorWhite-1H92hK) * {
    color: tc.$text-alt;
    background-color: gc.$color7;
    transition: filter 0.3s;
  }

  [class*="lookFilled"][class*="colorWhite"]:not(.colorWhite-1H92hK):active {
    filter: brightness(0.8);
  }

  /* lookInverted */
  [class*="lookInverted"][class*="colorBrand"] {
    color: tc.$text-alt;
    background-color: gc.$color7;
    transition: filter 0.3s;
  }

  [class*="lookInverted"][class*="colorBrand"]:hover  {
    filter: brightness(0.9);
  }

  /* colorGreen */
  [class*="lookFilled"][class*="colorGreen"] {
    color: tc.$text-alt;
    background-color: gc.$color11;
    transition: filter 0.3s;
  }

  [class*="lookFilled"][class*="colorGreen"]:hover  {
    filter: brightness(0.8);
  }

  /* lookOutlined */
  [class*="lookOutlined"][class*="colorRed"] {
    color: gc.$color3;
    border-color: gc.$color3;
    transition: all 0.3s;
  }

  [class*="lookOutlined"][class*="colorRed"]:hover {
    color: gc.$color4;
    background-color: transparent;
    border-color: gc.$color4;
  }

  /* colorPrimary */
  [class*="lookOutlined"][class*="colorPrimary"] {
    transition: border-color 0.3s;
  }

  [class*="lookOutlined"][class*="colorPrimary"]:hover {
    border-color: tc.$background-secondary-alt;
  }
}

.group-1_ptLP.flex-3BkGQD {
  .item-2OyinQ.selectorButton-3fWZ0_.selectorButtonSelected-3cQUnj * {
    color: tc.$text-alt;
  }
}

.item-2idW98.itemFilled-1cPbtg[aria-checked="true"] {
  color: tc.$text-alt;
  .radioIconForeground-2BMavi {
    color: tc.$text-alt;
  }
}

.item-2idW98.itemFilled-1cPbtg:active:not([aria-checked=true]):not(.disabled-3tqE8r) {
  color: tc.$text-alt;
}

// select option
.popout-1KHNAq.scrollerBase-_bVAAt .option-2eIyOn[aria-selected=true]:not(.option-2eIyOn.multi-1HXDiv) {
  color: tc.$text-alt;
}
