@use '../abstracts/theme-colors' as tc;
@use '../abstracts/measurements' as ms;

.form-3gdLxP, .form__13a2c {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr minmax(min-content, max-content);
  flex-direction: column;
  justify-content: space-between;
  padding: 0;
  margin-bottom: 10px;
  margin-left: 10px;

  // some other container types like "follow the channel"
  .wrapper_fbbb73 {
    border-radius: ms.$big-radius;
    max-width: calc(100% - 10px);
    margin-right: 0;
    margin-top: 10px;
    margin-bottom: auto;
  }

  .applicationCommandEducation-1stoia {
    display: none;
  }
}

// spacing channel input
.channelTextArea__2e60f, .channelTextArea__56a36 {
  background-color: transparent;
  border-radius: ms.$big-radius;
  max-width: calc(100% - 10px);
  margin-top: 10px;
  margin-bottom: auto;
  .attachedBars-2BCP3l {
    background-color: tc.$background-secondary-alt;
    border-bottom: tc.$dark-border;
  }
  .scrollableContainer__33e06 {
    padding: 4px 0 4px 0;
    border-radius: ms.$big-radius;
    &.hasConnectedBar-1vN2JH {
      border-radius: 0px 0px ms.$big-radius ms.$big-radius;
    }
  }
}

// remove tips below channel input message
.form__13a2c::before { 
  display: none;
}

// typing section
.typing__6fd1d {
  max-width: calc(100% - 25px);
  position: relative;
  margin: 6px 0 -4px 4px;
  height: 1rem;
  left: 0;

  color: tc.$text-muted;

  .typingDots_d92d42 {
    color: tc.$text-muted;
  }
}
