@use '../abstracts/theme-colors' as tc;
@use '../abstracts/measurements' as ms;

.form-3gdLxP {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr minmax(min-content, max-content);
  flex-direction: column;
  justify-content: space-between;
  padding: 0;
  margin-bottom: 10px;

  // some other container types like "follow the channel"
  .wrapper-2SplAX {
    border-radius: ms.$big-radius;
    max-width: 100%;
    margin-right: 0;
    margin-top: 10px;
    margin-bottom: auto;
  }


  // spacing channel input
  .channelTextArea-1FufC0.channelTextArea-1VQBuV {
    background-color: transparent;
    border-radius: ms.$big-radius;
    max-width: calc(100% - 10px);
    margin-top: 10px;
    margin-bottom: auto;
    .attachedBars-2BCP3l {
      background-color: tc.$background-secondary-alt;
      border-bottom: tc.$dark-border;
    }
    .scrollableContainer-15eg7h {
      padding: 4px 0 4px 0;
      border-radius: ms.$big-radius;
      &.hasConnectedBar-1vN2JH {
        border-radius: 0px 0px ms.$big-radius ms.$big-radius;
      }
    }
  }
  
  .applicationCommandEducation-1stoia {
    display: none;
  }
}

// remove tips below channel input message
.form-3gdLxP::before { 
  display: none;
}

// typing section
.typing-2J1mQU {
  position: relative;
  margin: 6px 0 -4px 4px;
  height: 1rem;
  left: 0;

  color: tc.$text-muted;

  .dots-1BwzZQ.themed-3T-OPr {
    color: tc.$text-muted;
  }
}