@use '../abstracts/theme-colors';
@use '../abstracts/general-colors' as gc;
@use '../abstracts/brand-experiment-colors';
@use '../abstracts/fonts';

.theme-dark, .theme-light {
  @each $name, $value in module-variables("theme-colors") {
    --#{$name}: #{$value};
  }
}

[data-popout-root], html {
  @each $name, $value in module-variables("brand-experiment-colors") {
    --#{$name}: #{$value};
  }
}

:root {
  @each $name, $value in module-variables("fonts") {
    --#{$name}: #{$value};
  }
}

[class*="colorDanger-"][class*="focused-"] {
  background: gc.$color4;
}

[class*="colorDanger-"]:active:not([class*="hideInteraction-"]) {
  background: gc.$color4;
}

[class*="colorDanger-"], [class*="colorDanger-"] [class*="checkbox-"], [class*="colorDanger-"] [class*="radioSelection-"] {
  color: gc.$color3;
}
