@use '../abstracts/theme-colors';
@use '../abstracts/general-colors' as gc;
@use '../abstracts/brand-experiment-colors';
@use '../abstracts/fonts';

.theme-dark, .theme-light {
  @each $name, $value in module-variables("theme-colors") {
    --#{$name}: #{$value};
  }
}

[data-popout-root], html {
  @each $name, $value in module-variables("brand-experiment-colors") {
    --#{$name}: #{$value};
  }
}

:root {
  @each $name, $value in module-variables("fonts") {
    --#{$name}: #{$value};
  }
}

.colorDanger-3n-KnP.focused-3qFvc8 {
  background: gc.$color4;
}

.colorDanger-3n-KnP:active:not(.hideInteraction-2jPGL_) {
  background: gc.$color4;
}

.colorDanger-3n-KnP, .colorDanger-3n-KnP .checkbox-hADx5o, .colorDanger-3n-KnP .radioSelection-1UHp0b {
  color: gc.$color3;
}
