@use '../abstracts/theme-colors' as tc;
@use '../abstracts/measurements' as ms;

// discover servers
.pageWrapper-2PwDoS {
  background-color: tc.$background-primary!important;
}

// server cards
.card-2TuZPZ {
  padding-top: 40px;
  justify-content: center;
  height: auto;
  min-height: 200px;
  border-radius: ms.$medium-radius;
  .cardHeader-1kPMOm {
    height: auto;
  }
  .cardHeader-1kPMOm .splash-1VADA3 {
    display: none;
  }
}

// nitro section
.applicationStore-2nk7Lo {
  margin: 10px 10px 10px 0;
  border-radius: ms.$big-radius;
  box-shadow: tc.$box-shadow;
}
