@use '../abstracts/theme-colors' as tc;
@use '../abstracts/general-colors' as gc;
@use '../abstracts/measurements' as ms;
@use '../animations/ripple-effect' as anim;

@include anim.ripple-animation-for-channels;

.sidebar_ded4b5, .sidebar__9e3e2 {
  margin: 10px 0px 10px 0;
  background-color: transparent;

  nav, section {
    border-radius: ms.$big-radius;
    background-color: tc.$background-secondary;

    .scroller-1ox3I2 {
      border-radius: ms.$big-radius;
    }
  }

  nav + section {
    margin-top: 10px;
  }

  // user panel section
  section.panels__58331 {
    .button__4f306:hover, .button__4f306:hover path, .avatarWrapper_ba5175:hover .title__10613 {
      color: tc.$text-alt;
    }

    .button__4f306:hover[aria-label="User Settings"] path {
      fill: tc.$text-alt;
    }

    .subtext__8f869 {
      color: tc.$text-muted;
    }

    .avatarWrapper_ba5175 {
      border-radius: ms.$medium-radius;
    }

    .container_ca50b9 {
      background-color: transparent;
    }
  }

  /**----------------
   * channels bar
  -----------------*/
  // channels items select animation
  .containerDefault__3187b .wrapper__7bcde {
    overflow: hidden;
    border-radius: ms.$medium-radius;
  }
  
  .containerDefault__3187b .wrapper__7bcde::after {
    border-radius: 50%;
    background-color: rgba(55,55,55, 0.6);
    content:'';
    position: absolute;
    top: 50%; left: 50%;
    width:0; height:0;
    transition: all 0.5s ease-out;
    opacity:0;
  }

  .containerDefault__3187b .wrapper__7bcde.modeSelected__487d6::after {
    width:230px;
    height:230px;
    animation: ripple-effect-for-channels 0.350s;
    animation-iteration-count: 1;
  }

  // channels items select
  .wrapper__7bcde.modeSelected__487d6 a, .wrapper__7bcde:active a {
    .name__8d1ec, .actionIcon_d679b5 {
      color: tc.$text-alt;
    }
    .statusDiv_a4cf67 * {
      color: tc.$text-alt;
    }
    .statusDiv_a4cf67:hover * {
      color: tc.$text-muted;
    }
    .iconContainer__3f9b0 svg {
      color: tc.$text-alt;
    }
  }

  .content-2a4AW9 .selected-3veCBZ {
    background-color: tc.$interactive-normal;
  }

  .content-2a4AW9 .containerDefault-YUSmu3 .wrapper-NhbLHG:active {
    .content-1gYQeQ a *, .content-1gYQeQ .children-1MGS9G * {
      color: tc.$text-alt;
    }
  }

  .content-2a4AW9 .containerDefault-YUSmu3 .wrapper-NhbLHG .content-1gYQeQ {
    border-radius: ms.$small-radius;

    .children-1MGS9G .mentionsBadge-2ckrKL div {
      color: tc.$text-alt;
    }
  }

  // live badge
  .liveSmall-1Urjcy.textBadge-1fdDPJ {
    border-radius: ms.$really-small-radius;
    color: tc.$text-alt;
    background-color: gc.$color4!important;
  }

  /**----------------
   * home section bar
  -----------------*/
  // home section items select
  .channel_c21703 {
    margin-bottom: 4px;
    
    // ripple animation
    .interactive__776ee {
      position: relative;
      overflow: hidden;
    }

    .interactive__776ee::before {
      border-radius: 50%;
      background-color: rgba(55,55,55, 0.6);
      content:'';
      position: absolute;
      top: 50%; left: 50%;
      width:0; height:0;
      transition: all 0.5s ease-out;
      opacity:0;
    }

    .interactive__776ee.interactiveSelected_ec846b::before {
      width:230px;
      height:230px;
      animation: ripple-effect-for-channels 0.350s;
      animation-iteration-count: 1;
    }
    // ------------

    .interactive__776ee:active, .interactive__776ee:active .closeButton__8f1fd, .interactiveSelected_ec846b, .highlighted-3PcOfB {
      color: tc.$text-alt;
    }

    .interactive__776ee:hover, .interactive__776ee:hover .closeButton__8f1fd {
      color: tc.$text-normal;
    }

    .interactive__776ee:focus-within, .interactive__776ee.interactiveSelected_ec846b {
      color: tc.$text-alt;
      background-color: gc.$color7;
      .closeButton__8f1fd {
        color: tc.$text-alt;
      }
    }

    .interactive__776ee {
      border-radius: ms.$medium-radius;
    }
  }

  /**----------------
   * settings bar
  -----------------*/  
  // settings items select
  .item__48dda {
    border-radius: ms.$small-radius;
    overflow: hidden;
  }

  .item__48dda::after {
    border-radius: 50%;
    background-color: rgba(55,55,55, 0.6);
    content:'';
    position: absolute;
    top: 50%; left: 50%;
    width:0; height:0;
    transition: all 0.5s ease-out;
    opacity:0;
  }

  .selected__5711d.item__48dda::after {
    width:230px;
    height:230px;
    animation: ripple-effect-for-channels 0.350s;
    animation-iteration-count: 1;
  }

  .item__48dda:active, .selected__5711d.item__48dda:active, .selected__5711d.item__48dda, .premiumLabel_f2cd55.selected_d25ad4 {
    color: tc.$text-alt;
  }

  .side_b4b3f6 .selected__5711d.item__48dda:hover {
    background-color: var(--background-modifier-selected);
  }

  // settings sidebar items 
  .side_b4b3f6 .item__48dda[aria-controls="delete-tab"] {
    color: gc.$color3!important;
    transition: all 0.3s;
  }

  .side_b4b3f6 .item__48dda[aria-controls="delete-tab"]:hover:not(.disabled-1nofHP), .side-2ur1Qk .item__48dda[aria-controls="delete-tab"]:active:not(.disabled-1nofHP) {
    background-color: gc.$color4;
    color: tc.$text-alt!important;
  }
}

// active threads item
.wrapper-NhbLHG:active:active .content-1gYQeQ * {
  color: tc.$text-alt;
}

.voiceUser-3nRK-K.selected-1oxcpH .content-1Tgc42 .username-vAneIW {
  color: tc.$text-alt;
}
