@use '../abstracts/measurements' as ms;
@use '../abstracts/theme-colors' as tc;
@use '../abstracts/general-colors' as gc;

.mention, [class*="px_"][class*="botTag_"] [class*="botTagRegular_"], [class*="botTagVerified_"] {
  border-radius: ms.$really-small-radius;
}

.mention {
  transition: filter 0.3s;
}

.mention.interactive:hover {
  color: tc.$text-alt;
  filter: brightness(0.8);
}

[class*="botTagRegular_"] {
  color: tc.$text-alt;
  background-color: gc.$color11;
}

[class*="botTagVerified_"] {
  color: tc.$text-alt;
  background-color: gc.$color11;
}
