@use '../abstracts/theme-colors' as tc;
@use '../abstracts/general-colors' as gc;
@use '../abstracts/measurements' as ms;
@use '../abstracts/brand-experiment-colors' as bec;

// message options menu
#popout_3642 {
  .menu-1QACrS {
    .item-1OdjEX {
      border-radius: ms.$really-small-radius;
    }

    .colorDanger-3n-KnP.focused-3qFvc8 {
      background-color: gc.$color4;
      color: tc.$text-alt;
    }

    .colorDanger-3n-KnP:active:not(.hideInteraction-2jPGL_) {
      background-color: gc.$color4;
      color: tc.$text-alt;
    }
  }
}

// server options popout
#popout_3529 {
  .item-1OdjEX {
    border-radius: ms.$really-small-radius;

    .newBadge-1bHewI {
      color: tc.$text-alt;
      background-color: gc.$color3!important;
    }
  }

  .item-1OdjEX:active:not(.hideInteraction-2jPGL_) {
    background-color: tc.$background-modifier-accent;
  }
}

// replace standard root background color
.theme-dark .root-g14mjS {
  background-color: tc.$background-primary;
}

// user profile
[role="dialog"][aria-label="User Profile Modal"] .root-8LYsGj {
  border-radius: ms.$big-radius;
  .connectedAccount-1xKpli {
    border-radius: ms.$medium-radius;
    background-color: rgba(230, 230, 230, 0.06);
  }
}

// modals
.modal-3Hrb0S {
  border-radius: ms.$medium-radius;
}

// moving search popout to where the search input currently are
.container-2McqkF[role="listbox"] {
  transform: translateX(-85px);
  border-radius: ms.$medium-radius;
}

// style of search results group popout
.resultsGroup-1BPR25 {
  background-color: tc.$background-secondary-alt;
  .searchLearnMore-7__o_n a.anchor-1MIwyf {
    color: gc.$color5!important;
  }

  .option-2KkUJO {
    border-radius: ms.$small-radius;
    .filter-5YbOzJ {
      color: tc.$text-normal;
    }
    .answer-2fBfuP {
      color: tc.$text-muted;
    }
    &:after {
      background: linear-gradient(90deg,rgba(54,57,63,0),tc.$background-secondary 80%);
    }
  }
}

.queryContainer-ZunrLZ {
  color: tc.$text-normal!important;
  background-color: tc.$background-tertiary!important;
  border-bottom: tc.$dark-border;
}

// message options
.menu-1QACrS {
  .item-1OdjEX {
    border-radius: ms.$small-radius;

    &.colorDanger-3n-KnP:hover, &.colorDanger-3n-KnP:active {
      background: gc.$color4;
      color: tc.$text-alt;
    }
  }
}

// ctrl/command + k menu
.quickswitcher-pKcM9U {
  .result-u66Ywh {
    border-radius: ms.$small-radius;
  }
  .result-u66Ywh[aria-selected="true"]  {
    .name-3qeTY-, .misc-XwBATi, .iconContainer-XRODjt svg {
      color: tc.$text-alt;
    }
  }
}

// popout footers
:root .footer-31IekZ {
  background-color: tc.$background-tertiary;
  border-top: tc.$dark-border;
}

.popout-1KHNAq.scrollerBase-_bVAAt .option-2eIyOn[aria-selected=true]:not(.option-2eIyOn.multi-1HXDiv) {
  color: tc.$text-alt;
}

.focusLock-2tveLW {
  .scrollBackgroundContainer-1gy1Hx * {
    background-color: tc.$background-secondary;
  }

  .scrollContainer-1C3AzW .scrollSection-HnJkHK {
    background-color: tc.$background-secondary;
  }
}

.tooltipBrand-20XsMA .tooltipContent-Nejnvh {
  color: tc.$text-alt;

  .defaultColor-1EVLSt {
    color: tc.$text-alt;
  }
}
