@use '../abstracts/measurements' as ms;
@use '../abstracts/theme-colors' as tc;
@use '../animations/ripple-effect' as anim;

// adding spaces
.container-2o3qEW {
  margin: 0 10px 10px 0;
  border-radius: ms.$big-radius;
  height: auto;
}

.container-2o3qEW .membersWrap-3NUR2t {
  // to make border radius work, we have to apply here too
  border-radius: ms.$big-radius;

  .members-3WRCEx {
    border-radius: inherit;
  }

  // member item
  .layout-1qmrhw {
    position: relative;
    overflow: hidden;
    border-radius: ms.$medium-radius;

    .layout-1qmrhw .content-1U25dZ * {
      transition: color 0.2s;
    }
  }

  .layout-1qmrhw::after {
    border-radius: 50%;
    background-color: rgba(55,55,55, 0.6);
    content:'';
    position: absolute;
    top: 50%; left: 50%;
    width:0; height:0;
    transition: all 0.5s ease-out;
    opacity:0;
  }

  .member-2gU6Ar.selected-1-Z6gm {
    .layout-1qmrhw::after {
      width:230px;
      height:230px;
      animation: ripple-effect-for-channels 0.350s;
      animation-iteration-count: 1;
    }

    .layout-1qmrhw .content-1U25dZ * {
      color: tc.$text-alt;
    }
  }

  .member-2gU6Ar:active {
    .layout-1qmrhw .content-1U25dZ * {
      color: tc.$text-muted;
    }
  }
}

// now playing column
.nowPlayingColumn-1eCBCN {
  background: tc.$background-secondary;
  border-radius: ms.$big-radius;
  margin: 0 10px 10px 10px;

  .container-1oAagU {
    background-color: transparent;
    .scroller-hE2gWq {
      border: none;
    }
  }
}