@use '../abstracts/measurements' as ms;
@use '../abstracts/theme-colors' as tc;
@use '../animations/ripple-effect' as anim;

// adding spaces
.membersWrap__90226, .container_b2ce9c {
  margin: 10px 10px 10px 0;
  border-radius: ms.$big-radius;
  height: auto;
  overflow: hidden;
}

.container_b2ce9c .membersWrap__90226, .membersWrap__90226 {
  // to make border radius work, we have to apply here too
  border-radius: ms.$big-radius;

  .members__9f47b {
    border-radius: inherit;
  }

  // member item
  .layout_bb8e67 {
    position: relative;
    overflow: hidden;
    border-radius: ms.$medium-radius;

    .botTagRegular_c89c9a {
      color: tc.$text-alt;
    }
  }

  .layout_bb8e67::after {
    border-radius: 50%;
    background-color: rgba(55,55,55, 0.6);
    content:'';
    position: absolute;
    top: 50%; left: 50%;
    width:0; height:0;
    transition: all 0.5s ease-out;
    opacity:0;
  }

  .member_aa4760.selected__9800b {
    .layout_bb8e67::after {
      width:230px;
      height:230px;
      animation: ripple-effect-for-channels 0.350s;
      animation-iteration-count: 1;
    }

    .layout_bb8e67 .content_a6999d * {
      color: tc.$text-alt;
    }
  }

  .member_aa4760:active {
    .layout_bb8e67 .content_a6999d * {
      color: tc.$text-muted;
    }
  }
}

// now playing column
.nowPlayingColumn_f5023f {
  background: tc.$background-secondary;
  border-radius: ms.$big-radius;
  margin: 0 10px 10px 10px;

  .container__0a6a9 {
    background-color: transparent;
    .scroller__00e7e {
      border: none;
    }
  }
}

// resize handler
.resizeHandle-PBRzPC {
  display: none;
}

// search results container
.searchResultsWrap-5RVOkx {
  border-radius: ms.$big-radius;
  margin: 0 10px 10px 0;

  header .searchHeaderTabList-3CZMQB .item-3XjbnG {
    border-radius: ms.$small-radius;
  }

  header .searchHeaderTabList-3CZMQB .item-3XjbnG.selected-g-kMVV {
    color: tc.$text-alt;
    &:hover {
      color: tc.$text-normal;
    }
  }
}

// create thread
.container-3XgAHv {
  background: transparent;
  width: auto!important;
  max-width: 450px;

  .container-ZMc96U {
    height: 40px;
  }

  section.container-1RZJZM[aria-label="Create Thread"] {
    .container-ZMc96U {
      margin: 10px 10px 10px 0;
    }
    .chat-1rZYgu {
      background-color: tc.$background-secondary;
      margin: 0 10px 10px 0;
      border-radius: ms.$big-radius;
    }
  }
}
