@use '../abstracts/theme-colors' as tc;
@use '../abstracts/general-colors' as gc;
@use '../abstracts/measurements' as ms;

.guilds__2b93a.wrapper_a7e7a8 {
  margin: 10px;
  background-color: transparent;
  border-radius: ms.$big-radius;

  ul[role="tree"] .scroller__3d071 {
    background-color: tc.$background-tertiary;
  }

  .lowerBadge-3WTshO div {
    color: tc.$text-alt;
    background-color: gc.$color4!important;
  }

  // replace standard items color
  .wrapper_d281dd.selected_f5ec8e .childWrapper__01b9c, .wrapper_d281dd.selected_f5ec8e .wrapper__3af0b:hover .childWrapper__01b9c {
    color: tc.$text-alt;
  }

  .wrapper_d281dd[data-list-item-id="guildsnav___home"] {
    &.selected_f5ec8e .childWrapper__01b9c {
      color: tc.$text-alt;
      background-color: tc.$interactive-hover;
    }

    .childWrapper__01b9c {
      color: tc.$text-normal;
    }
  }
}

// circle buttons
.circleIconButton_d8df29 {
  color: tc.$interactive-normal;

  &.selected__5250e {
    color: tc.$text-alt;
    background-color: tc.$interactive-hover;
  }
}
