@use '../abstracts/theme-colors' as tc;
@use '../abstracts/measurements' as ms;
@use '../abstracts/general-colors' as gc;

.content-1SgpWY .container-2cd8Mz {
  background-color: tc.$background-spacing;
}

.content-1jQy2l:before {
  display: none;
}

.tabBody_b3d268:before  {
  display: none;
}

.tabBody_b3d268 .peopleColumn__51df3 {
  background-color: tc.$background-spacing;
}

.bg__12180 {
  background-color: tc.$background-spacing;
}

.peopleListItem_d14722 {
  border-top: tc.$dark-border;
}

// call
.videoControls-353CsJ .justifyCenter-rrurWZ .wrapper-3t3Yqv div, .panels__58331 .container_d667ff {
  button[aria-label="Disconnect"] {
    background-color: gc.$color3;
    color: tc.$text-alt;
    div svg {
      color: inherit;
    }
  }
}

.panels__58331 .container_d667ff {
  border-radius: ms.$big-radius ms.$big-radius 0 0;
}

.videoControls__40f61 .justifyCenter__4080c .wrapper__3f3a7 div {
  border-radius: 100%;

  div:first-of-type {
    &:hover {
      border-radius: 100%!important;
    }
    div:first-of-type {
      button {
        border-radius: 100%!important;
        &:hover {
          border-radius: 100%!important;
        }
      }
    }
  }
}

// call container
[class*="noChat"][class*="video"] {
  background-color: transparent;
}

[class*="callContainer"] {
  background-color: transparent;

  [class*="container"][class*="transparent"] {
    padding: 0;
  }

  // call show chat button
  [class*="button"][aria-label="Show Chat"] {
    margin: 10px 20px 0 0;
  }

  [class*="headerWrapper"] {
    padding: 0;
  }

  [class*="videoControls"] {
    padding: 0;

    [class*="gradient"] {
        display: none;
    }

    [class*="bottomControls"] {
      padding: 10px 15px;
      margin: 0 10px 10px 10px;
      max-width: calc(100% - 50px);
      background-color: tc.$background-secondary;
      border-radius: ms.$big-radius;
      border: 1px solid gc.$color10;
    }
  }
}
