@use '../abstracts/measurements' as ms;
@use '../abstracts/theme-colors' as tc;

// browse channels section
.container__5c7e7 .container__0a6a9, .chatContent__5dca8 {
  border-radius: ms.$medium-radius;
}

.chatContent__5dca8 {
  background: transparent;
}

.container__5c7e7 .nowPlayingColumn_f5023f {
  margin: 0 10px 10px 0;
  background-color: unset;
}

.container__5c7e7 .nowPlayingColumn_f5023f .scroller__00e7e {
  border-left: unset;
}

// server home section
.container__5c7e7 {
  background-color: unset;

  .peopleColumn__51df3 {
    margin: 10px 10px 10px 10px;
    border-radius: ms.$medium-radius;
    background-color: tc.$background-primary;
    box-shadow: tc.$box-shadow;
  }
}
