@use '../abstracts/measurements' as ms;
@use '../abstracts/theme-colors' as tc;

// browse channels section
.container__5c7e7 .container__0a6a9, .chatContent__5dca8 {
  border-radius: ms.$medium-radius;
}

// discord warns
.notice__5fd4c {
  margin-top: 10px;
  margin-right: 10px;
  border-radius: 8px;
  padding: 2px;
  background-color: rgba(230, 230, 230, 0.7);
  color: tc.$text-alt;

  [class*="closeIcon"] path {
    fill: tc.$text-alt;
  }

  [class*="button"] {
    border-color: tc.$text-alt;
    color: tc.$text-alt;
  }
}

.chat__52833 {
  .chatContent__5dca8 {
    background: transparent;
    [class*="banner"] [class*="nextIcon"] path {
      fill: tc.$text-alt;
    }
  }

  [class*="profilePanel"] {
    margin: 10px 10px 10px 0;
    border-radius: ms.$medium-radius;
    overflow: hidden;
  }
}

.container__5c7e7 .nowPlayingColumn_f5023f {
  margin: 0 10px 10px 0;
  background-color: unset;
}

.container__5c7e7 .nowPlayingColumn_f5023f .scroller__00e7e {
  border-left: unset;
}

// server home section
.container__5c7e7 {
  background-color: unset;

  .peopleColumn__51df3 {
    margin: 10px 10px 10px 10px;
    border-radius: ms.$medium-radius;
    background-color: tc.$background-primary;
    box-shadow: tc.$box-shadow;
  }
}
