@use '../abstracts/theme-colors' as tc;
@use '../abstracts/general-colors' as gc;
@use '../abstracts/measurements' as ms;

.title-31SJ6t, .container-ZMc96U {
  width: auto;

  .searchBar-zdmu7v {
    background-color: unset;
  }

  a.anchor-1MIwyf div svg {
    color: gc.$color5;
  }

  .children-3xh0VB::after {
    background: -webkit-gradient(linear,left top,right top,from(rgba(54,57,63,0)),to(tc.$background-secondary));
    background: linear-gradient(90deg, rgba(54,57,63,0) 0, tc.$background-secondary);
  }
}

// for channels bar
.title-31SJ6t.container-ZMc96U.themed-Hp1KC_ {
  background: transparent;
}

// spacing topbar
.container-ZMc96U.themed-Hp1KC_ {
  // standard
  border-radius: ms.$big-radius;
  margin: 10px 10px 10px 0;
  background: tc.$background-secondary;

  // tab items
  .children-3xh0VB .tabBar-ra-EuL [role="tab"] {
    border-radius: ms.$small-radius;
  }

  .children-3xh0VB .tabBar-ra-EuL [role="tab"].selected-g-kMVV {
    color: tc.$text-alt;

    &:hover {
      color: tc.$text-normal;
    }
  }

  .children-3xh0VB .tabBar-ra-EuL [role="tab"][aria-controls="add_friend-tab"] {
    color: tc.$text-alt!important;
    background-color: gc.$color11!important;
    transition: filter 0.2s;

    &:hover {
      filter: brightness(0.8);
    }
  }

  // top-bar in channels
  &.title-31SJ6t[aria-label="Channel header"] {
    position: relative;
    border: none;
    padding: 0;

    .children-3xh0VB {
      background: tc.$background-secondary;
      padding: 12px;
      margin: 10px 0 10px 0;
      border-radius: ms.$big-radius 0 0 ms.$big-radius;
    }

    .toolbar-3_r2xA {
      background: transparent;
      margin: 10px 0 10px 0;
      border-radius: 0 ms.$big-radius ms.$big-radius 0;

      // separate / spacing elements in toolbar
      .icon-1ELUnB, .iconWrapper-2awDjA[aria-label="Start Voice Call"] {
        padding-left: 16px!important;
        border-radius: ms.$big-radius 0 0 ms.$big-radius;
      }

      .anchor-1MIwyf {
        .iconWrapper-2awDjA {
          padding-right: 16px;
          border-radius: 0 ms.$big-radius ms.$big-radius 0;
        }
      }

      // toolbar standard items
      .iconWrapper-2awDjA {
        background: tc.$background-secondary;
        margin: 0;
        padding: 0 7.6px;
        height: 48px;
        display: flex;
        align-items: center;

        svg {
          width: 24px;
        }

        // notify icon badge
        .iconBadge-3Mmg92 {
          bottom: 12px;
          right: 10px;
          background: gc.$color3;
          width: 6px;
          height: 6px;
        }
      }


      // search bar
      .search-39IXmY {
        margin: 0 10px 0 0;
        order: -1;
        background: tc.$background-secondary;
        padding: 12px;
        border-radius: 0 ms.$big-radius ms.$big-radius 0;
        transition: all 0.25s ease;
        -webkit-transition: width 0.25s ease;
      }
    }
  }
  
}
