@use '../abstracts/theme-colors' as tc;
@use '../abstracts/general-colors' as gc;
@use '../abstracts/measurements' as ms;

.title_b7d661, .container__11d72 {
  width: auto;

  .searchBar_e0c60b {
    background-color: unset;
  }

  a.anchor_c8ddc0 div svg, a.anchor_c8ddc0:hover div svg {
    color: gc.$color5;
  }

  .children__32014::after {
    background: -webkit-gradient(linear,left top,right top,from(rgba(54,57,63,0)),to(tc.$background-secondary));
    background: linear-gradient(90deg, rgba(54,57,63,0) 0, tc.$background-secondary);
  }
}

// for channels bar
// .title_b7d661.container__11d72 {
//   background: transparent;
// }

// spacing topbar
.container__11d72.themed_b152d4, [class*="topControls"] [class*="headerWrapper"] {
  // standard
  border-radius: ms.$big-radius;
  margin: 10px 10px 0 10px;
  background: tc.$background-secondary;

  // tab items
  .children__32014 .tabBar__73938  [role="tab"] {
    border-radius: ms.$small-radius;
    &[aria-selected="true"] {
      color: tc.$text-alt;

      &:focus-within {
        color: tc.$text-alt;
      }

      &:hover {
        color: tc.$text-normal;
      }
    }
  }

  .children__32014 .tabBar__73938 .addFriend__80542[role="tab"] {
    color: tc.$text-alt!important;
    background-color: gc.$color11!important;
    transition: filter 0.2s;

    &:hover {
      filter: brightness(0.8);
    }
  }

  // top-bar in channels
  &.title_b7d661[aria-label="Channel header"] {
    position: relative;
    border: none;
    padding: 0;

    .children__32014 {
      background: tc.$background-secondary;
      padding: 0 12px;
      border-radius: ms.$big-radius 0 0 ms.$big-radius;
    }

    .toolbar__88c63 {
      background: transparent;
      border-radius: 0 ms.$big-radius ms.$big-radius 0;

      // separate / spacing elements in toolbar
      .icon__88ea8, .iconWrapper_af9215[aria-label="Start Voice Call"] {
        padding-left: 16px!important;
        border-radius: ms.$big-radius 0 0 ms.$big-radius;
      }

      .anchor_c8ddc0 {
        .iconWrapper_af9215 {
          padding-right: 16px;
          border-radius: 0 ms.$big-radius ms.$big-radius 0;
        }
      }

      // toolbar standard items
      .iconWrapper_af9215 {
        background: tc.$background-secondary;
        margin: 0;
        padding: 0 7.6px;
        height: 48px;
        display: flex;
        align-items: center;

        svg {
          width: 24px;
        }

        // notify icon badge
        .iconBadge_cc5031 {
          bottom: 12px;
          right: 10px;
          background: gc.$color3;
          width: 6px;
          height: 6px;
        }
      }


      // search bar
      .searchBar_e0c60b {
        margin: 0 10px 0 0;
        order: -1;
        background: tc.$background-secondary;
        border-radius: 0 ms.$big-radius ms.$big-radius 0;
        transition: all 0.25s ease;
        -webkit-transition: width 0.25s ease;
      }
    }
  }
}

// coloring background for server home section top bar
.title_b7d661.container__11d72.themed_b152d4 {
  background: tc.$background-secondary;
}
