@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Source+Sans+Pro:wght@400;600&family=Work+Sans:wght@400;500;600;700&display=swap");
.theme-dark, .theme-light {
  --theme-version-2-3-0: none;
  --header-primary: #ffffff;
  --header-secondary: #e6e6e6;
  --text-normal: #ffffff;
  --text-muted: #909090;
  --text-link: #4cd9a4;
  --text-link-low-saturation: #e6e6e6;
  --text-positive: #4cd9a4;
  --text-warning: #faa483;
  --text-danger: #fb7c7c;
  --text-brand: #ffffff;
  --text-alt: #151515;
  --interactive-normal: #ffffff;
  --interactive-hover: #e6e6e6;
  --interactive-active: #d1d1d1;
  --interactive-muted: #909090;
  --dark-border: 1px solid rgba(255, 255, 255, 0.06);
  --background-primary: #202020;
  --background-secondary: #1b1b1b;
  --background-secondary-alt: #191919;
  --background-tertiary: #151515;
  --background-accent: #202020;
  --background-floating: #1b1b1b;
  --background-mobile-primary: #202020;
  --background-mobile-secondary: #1b1b1b;
  --background-modifier-hover: rgba(230, 230, 230, 0.1);
  --background-modifier-active: rgba(230, 230, 230, 0.7);
  --background-modifier-selected: #e6e6e6;
  --background-modifier-accent: rgba(230, 230, 230, 0.2);
  --info-positive-text: #e6e6e6;
  --info-warning-text: #e6e6e6;
  --info-danger-text: #e6e6e6;
  --info-help-background: #202020;
  --info-help-foreground: #e6e6e6;
  --info-help-text: #ffffff;
  --status-warning-text: #faa483;
  --scrollbar-thin-thumb: rgba(230, 230, 230, 0.2);
  --scrollbar-thin-track: transparent;
  --scrollbar-auto-thumb: rgba(230, 230, 230, 0.2);
  --scrollbar-auto-track: rgba(230, 230, 230, 0.06);
  --scrollbar-auto-scrollbar-color-thumb: #ffffff;
  --scrollbar-auto-scrollbar-color-track: transparent;
  --elevation-stroke: 0 0 0 1px rgba(230, 230, 230, 0.06);
  --box-shadow: rgba(0, 0, 0, 0.25) 0px 3px 4px 2px;
  --elevation-low: rgba(230, 230, 230, 0.05);
  --elevation-medium: rgba(0, 0, 0, 0.07) 0px 1px 1px, rgba(0, 0, 0, 0.07) 0px 2px 2px, rgba(0, 0, 0, 0.07) 0px 4px 4px, rgba(0, 0, 0, 0.07) 0px 8px 8px, rgba(0, 0, 0, 0.07) 0px 16px 16px;
  --elevation-high: rgba(0, 0, 0, 0.25) 0px 12px 14px, rgba(0, 0, 0, 0.12) 0px -7px 7px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 5px 3px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  --logo-primary: #ffffff;
  --control-brand-foreground: #e6e6e6;
  --control-brand-foreground-new: #e6e6e6;
  --background-mentioned: rgba(230, 230, 230, 0.03);
  --background-mentioned-hover: rgba(230, 230, 230, 0.09);
  --background-message-hover: rgba(230, 230, 230, 0.03);
  --channels-default: #8d8d8d;
  --guild-header-text-shadow: 0 1px 1px rgba(230, 230, 230, 0.04);
  --channeltextarea-background: #191919;
  --activity-card-background: #1b1b1b;
  --textbox-markdown-syntax: #909090;
  --deprecated-card-bg: #1b1b1b;
  --deprecated-card-editable-bg: #151515;
  --deprecated-store-bg: #1b1b1b;
  --deprecated-quickswitcher-input-background: #313131;
  --background-spacing: #222222;
  --deprecated-text-input-bg: #1b1b1b;
  --deprecated-text-input-border: #d1d1d1;
  --deprecated-text-input-border-hover: #191919;
  --deprecated-text-input-border-disabled: #1b1b1b;
  --deprecated-text-input-prefix: #909090;
  --message-text-color: #e6e6e6;
  --info-warning-foreground: #e6e6e6;
  --info-positive-background: #4cd9a4;
  --info-positive-foreground: #e6e6e6;
  --info-warning-background: #faa483;
  --info-danger-background: #fb7c7c;
  --info-danger-foreground: #e6e6e6;
  --status-positive-background: #4cd9a4;
  --status-positive-text: #e6e6e6;
  --status-warning-background: #faa483;
  --status-danger-background: #fb7c7c;
  --status-danger-text: #e6e6e6;
  --status-green-600: #4cd9a4;
  --focus-primary: rgba(230, 230, 230, 0.1);
}

[data-popout-root], html {
  --brand-experiment: #ffffff;
  --brand-experiment-200: #151515;
  --brand-experiment-560: rgba(230, 230, 230, 0.1);
  --brand-experiment-30a: #ffffff;
  --brand-experiment-400: #909090;
  --brand-experiment-600: #fb7c7c;
  --brand-experiment-15a: #151515;
  --brand-experiment-800: rgba(250, 250, 250, 0.2);
  --brand-experiment-05a: rgba(230, 230, 230, 0.1);
  --brand-experiment-10a: rgba(230, 230, 230, 0.1);
  --brand-experiment-100: #202020;
  --brand-experiment-500: rgba(230, 230, 230, 0.1);
  --brand-experiment-160: #151515;
  --brand-experiment-530: #ffffff;
  --brand-experiment-360: #4cd9a4;
}

:root {
  --font-primary: Work Sans, sans-serif;
  --font-display: Work Sans, sans-serif;
  --font-code: Source Code Pro, monospace;
  --font-headline: Poppins, sans-serif;
}

[class*=colorDanger-][class*=focused-] {
  background: #fa4a4a;
}

[class*=colorDanger-]:active:not([class*=hideInteraction-]) {
  background: #fa4a4a;
}

[class*=colorDanger-], [class*=colorDanger-] [class*=checkbox-], [class*=colorDanger-] [class*=radioSelection-] {
  color: #fb7c7c;
}

@keyframes ripple-effect-for-channels {
  0% {
    width: 0;
    height: 0;
    margin-top: 0;
    margin-left: 0;
    opacity: 0;
  }
  100% {
    width: 230px;
    height: 230px;
    margin-top: -120px;
    margin-left: -115px;
    opacity: 0.5;
  }
}
@-webkit-keyframes ripple-effect-for-channels {
  0% {
    width: 0;
    height: 0;
    margin-top: 0;
    margin-left: 0;
    opacity: 0;
  }
  100% {
    width: 220px;
    height: 220px;
    margin-top: -110px;
    margin-left: -110px;
    opacity: 0.5;
  }
}
[class*=sidebar_] {
  margin: 10px 0px 10px 0;
  background-color: transparent;
  /**----------------
   * channels bar
  -----------------*/
  /**----------------
   * home section bar
  -----------------*/
  /**----------------
   * settings bar
  -----------------*/
}
[class*=sidebar_] nav, [class*=sidebar_] section {
  border-radius: 12px;
  background-color: #1b1b1b;
  overflow: hidden;
}
[class*=sidebar_] nav [class*=scroller-], [class*=sidebar_] section [class*=scroller-] {
  border-radius: 12px;
}
[class*=sidebar_] nav + section {
  margin-top: 10px;
}
[class*=sidebar_] section[class*=panels_] [class*=button_]:hover, [class*=sidebar_] section[class*=panels_] [class*=button_]:hover path, [class*=sidebar_] section[class*=panels_] [class*=avatarWrapper_]:hover [class*=title_] {
  color: #151515;
}
[class*=sidebar_] section[class*=panels_] [class*=button_]:hover[aria-label="User Settings"] path {
  fill: #151515;
}
[class*=sidebar_] section[class*=panels_] [class*=subtext_] {
  color: #909090;
}
[class*=sidebar_] section[class*=panels_] [class*=avatarWrapper_] {
  border-radius: 8px;
}
[class*=sidebar_] section[class*=panels_] [class*=container_] {
  background-color: transparent;
}
[class*=sidebar_] [class*=containerDefault_] [class*=wrapper_] {
  overflow: hidden;
  border-radius: 8px;
}
[class*=sidebar_] [class*=containerDefault_] [class*=wrapper_]::after {
  border-radius: 50%;
  background-color: rgba(55, 55, 55, 0.6);
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 0;
  height: 0;
  transition: all 0.5s ease-out;
  opacity: 0;
}
[class*=sidebar_] [class*=containerDefault_] [class*=wrapper_][class*=modeSelected_]::after {
  width: 230px;
  height: 230px;
  animation: ripple-effect-for-channels 0.35s;
  animation-iteration-count: 1;
}
[class*=sidebar_] [class*=wrapper_][class*=modeSelected_] a [class*=name_], [class*=sidebar_] [class*=wrapper_][class*=modeSelected_] a [class*=actionIcon_], [class*=sidebar_] [class*=wrapper_][class*=modeSelected_] a [class*=actionIcon_] path, [class*=sidebar_] [class*=wrapper_]:active a [class*=name_], [class*=sidebar_] [class*=wrapper_]:active a [class*=actionIcon_], [class*=sidebar_] [class*=wrapper_]:active a [class*=actionIcon_] path {
  color: #151515;
  fill: #151515;
}
[class*=sidebar_] [class*=wrapper_][class*=modeSelected_] a [class*=statusDiv_] *, [class*=sidebar_] [class*=wrapper_]:active a [class*=statusDiv_] * {
  color: #151515;
}
[class*=sidebar_] [class*=wrapper_][class*=modeSelected_] a [class*=statusDiv_]:hover *, [class*=sidebar_] [class*=wrapper_]:active a [class*=statusDiv_]:hover * {
  color: #909090;
}
[class*=sidebar_] [class*=wrapper_][class*=modeSelected_] a [class*=iconContainer_] svg, [class*=sidebar_] [class*=wrapper_]:active a [class*=iconContainer_] svg {
  color: #151515;
}
[class*=sidebar_] [class*=content-] [class*=selected-] {
  background-color: #ffffff;
}
[class*=sidebar_] [class*=content-] [class*=containerDefault-] [class*=wrapper-]:active [class*=content-] a *, [class*=sidebar_] [class*=content-] [class*=containerDefault-] [class*=wrapper-]:active [class*=content-] [class*=children-] * {
  color: #151515;
}
[class*=sidebar_] [class*=content-] [class*=containerDefault-] [class*=wrapper-] [class*=content-] {
  border-radius: 6px;
}
[class*=sidebar_] [class*=content-] [class*=containerDefault-] [class*=wrapper-] [class*=content-] [class*=children-] [class*=mentionsBadge-] div {
  color: #151515;
}
[class*=sidebar_] [class*=liveSmall-][class*=textBadge-] {
  border-radius: 4px;
  color: #151515;
  background-color: #fa4a4a !important;
}
[class*=sidebar_] [class*=channel_] {
  margin-bottom: 4px;
}
[class*=sidebar_] [class*=channel_] [class*=interactive_] {
  position: relative;
  overflow: hidden;
}
[class*=sidebar_] [class*=channel_] [class*=interactive_]::before {
  border-radius: 50%;
  background-color: rgba(55, 55, 55, 0.6);
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 0;
  height: 0;
  transition: all 0.5s ease-out;
  opacity: 0;
}
[class*=sidebar_] [class*=channel_] [class*=interactive_][class*=interactiveSelected_]::before {
  width: 230px;
  height: 230px;
  animation: ripple-effect-for-channels 0.35s;
  animation-iteration-count: 1;
}
[class*=sidebar_] [class*=channel_] [class*=interactive_]:active, [class*=sidebar_] [class*=channel_] [class*=interactive_]:active [class*=closeButton_], [class*=sidebar_] [class*=channel_] [class*=interactiveSelected_], [class*=sidebar_] [class*=channel_] [class*=highlighted-] {
  color: #151515;
}
[class*=sidebar_] [class*=channel_] [class*=interactive_]:hover, [class*=sidebar_] [class*=channel_] [class*=interactive_]:hover [class*=closeButton_] {
  color: #ffffff;
}
[class*=sidebar_] [class*=channel_] [class*=interactive_]:focus-within, [class*=sidebar_] [class*=channel_] [class*=interactive_][class*=interactiveSelected_] {
  color: #151515;
  background-color: #d1d1d1;
}
[class*=sidebar_] [class*=channel_] [class*=interactive_]:focus-within [class*=closeButton_], [class*=sidebar_] [class*=channel_] [class*=interactive_][class*=interactiveSelected_] [class*=closeButton_] {
  color: #151515;
}
[class*=sidebar_] [class*=channel_] [class*=interactive_] {
  border-radius: 8px;
}
[class*=sidebar_] [class*=item_] {
  border-radius: 6px;
  overflow: hidden;
}
[class*=sidebar_] [class*=item_]::after {
  border-radius: 50%;
  background-color: rgba(55, 55, 55, 0.6);
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 0;
  height: 0;
  transition: all 0.5s ease-out;
  opacity: 0;
}
[class*=sidebar_] [class*=selected_][class*=item_]::after {
  width: 230px;
  height: 230px;
  animation: ripple-effect-for-channels 0.35s;
  animation-iteration-count: 1;
}
[class*=sidebar_] [class*=item_]:active, [class*=sidebar_] [class*=selected_][class*=item_]:active, [class*=sidebar_] [class*=selected_][class*=item_], [class*=sidebar_] [class*=premiumLabel_][class*=selected_] {
  color: #151515;
}
[class*=sidebar_] [class*=side_] [class*=selected_][class*=item_]:hover {
  background-color: var(--background-modifier-selected);
}
[class*=sidebar_] [class*=side_] [class*=item_][aria-controls=delete-tab] {
  color: #fb7c7c !important;
  transition: all 0.3s;
}
[class*=sidebar_] [class*=side_] [class*=item_][aria-controls=delete-tab]:hover:not([class*=disabled-]), [class*=sidebar_] [class*=side-] [class*=item_][aria-controls=delete-tab]:active:not([class*=disabled-]) {
  background-color: #fa4a4a;
  color: #151515 !important;
}

[class*=wrapper-]:active:active [class*=content-] * {
  color: #151515;
}

[class*=listDefault] [class*=voiceUser][class*=selected] [class*=username] {
  color: #151515;
}

[class*=panels_][aria-label="User area"] [class*=connection_] [class*=voiceButtonsContainer_][class*=noWrap] {
  width: unset;
  margin-left: 20px;
}
[class*=panels_][aria-label="User area"] [class*=connection_] [class*=inner_] {
  min-width: unset;
}

[class*=membersWrap_], [class*=chat_] [class*=outer_] {
  margin: 10px 10px 10px 0;
  border-radius: 12px;
  height: auto;
  overflow: hidden;
}

[class*=container_] [class*=membersWrap_], [class*=membersWrap_] {
  border-radius: 12px;
}
[class*=container_] [class*=membersWrap_] [class*=members_], [class*=membersWrap_] [class*=members_] {
  border-radius: inherit;
}
[class*=container_] [class*=membersWrap_] [class*=layout_], [class*=membersWrap_] [class*=layout_] {
  position: relative;
  overflow: hidden;
  border-radius: 8px;
}
[class*=container_] [class*=membersWrap_] [class*=layout_] [class*=botTagRegular_], [class*=membersWrap_] [class*=layout_] [class*=botTagRegular_] {
  color: #151515;
}
[class*=container_] [class*=membersWrap_] [class*=layout_]::after, [class*=membersWrap_] [class*=layout_]::after {
  border-radius: 50%;
  background-color: rgba(55, 55, 55, 0.6);
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 0;
  height: 0;
  transition: all 0.5s ease-out;
  opacity: 0;
}
[class*=container_] [class*=membersWrap_] [class*=member_][class*=selected_] [class*=layout_]::after, [class*=membersWrap_] [class*=member_][class*=selected_] [class*=layout_]::after {
  width: 230px;
  height: 230px;
  animation: ripple-effect-for-channels 0.35s;
  animation-iteration-count: 1;
}
[class*=container_] [class*=membersWrap_] [class*=member_][class*=selected_] [class*=layout_] [class*=content_] *, [class*=membersWrap_] [class*=member_][class*=selected_] [class*=layout_] [class*=content_] * {
  color: #151515;
}
[class*=container_] [class*=membersWrap_] [class*=member_]:active [class*=layout_] [class*=content_] *, [class*=membersWrap_] [class*=member_]:active [class*=layout_] [class*=content_] * {
  color: #909090;
}

[class*=nowPlayingColumn_] {
  background: #1b1b1b;
  border-radius: 12px;
  margin: 0 10px 10px 10px;
  max-width: unset;
}
[class*=nowPlayingColumn_] [class*=container_] {
  background-color: transparent;
}
[class*=nowPlayingColumn_] [class*=container_] [class*=scroller_] {
  border: none;
}

[class*=container_][aria-label=Friends] {
  width: 100%;
}

[class*=resizeHandle-] {
  display: none;
}

[class*=searchResultsWrap-] {
  border-radius: 12px;
  margin: 0 10px 10px 0;
}
[class*=searchResultsWrap-] header [class*=searchHeaderTabList-] [class*=item-] {
  border-radius: 6px;
}
[class*=searchResultsWrap-] header [class*=searchHeaderTabList-] [class*=item-][class*=selected-] {
  color: #151515;
}
[class*=searchResultsWrap-] header [class*=searchHeaderTabList-] [class*=item-][class*=selected-]:hover {
  color: #ffffff;
}

[class*=container-] {
  background: transparent;
  width: auto !important;
  max-width: 450px;
}
[class*=container-] [class*=container-] {
  height: 40px;
}
[class*=container-] section[class*=container-][aria-label="Create Thread"] [class*=container-] {
  margin: 10px 10px 10px 0;
}
[class*=container-] section[class*=container-][aria-label="Create Thread"] [class*=chat-] {
  background-color: #1b1b1b;
  margin: 0 10px 10px 0;
  border-radius: 12px;
}

[class*=title_], [class*=container_] {
  width: auto;
}
[class*=title_] [class*=searchBar_], [class*=container_] [class*=searchBar_] {
  background-color: unset;
}
[class*=title_] a[class*=anchor_] div svg, [class*=title_] a[class*=anchor_]:hover div svg, [class*=container_] a[class*=anchor_] div svg, [class*=container_] a[class*=anchor_]:hover div svg {
  color: #faa483;
}
[class*=title_] [class*=children_]::after, [class*=container_] [class*=children_]::after {
  background: -webkit-gradient(linear, left top, right top, from(rgba(54, 57, 63, 0)), to(#1b1b1b));
  background: linear-gradient(90deg, rgba(54, 57, 63, 0) 0, #1b1b1b);
}

[class*=container_][class*=themed_], [class*=topControls] [class*=headerWrapper] {
  border-radius: 12px;
  margin: 10px 10px 0 10px;
  background: #1b1b1b;
  overflow: hidden;
}
[class*=container_][class*=themed_] [class*=children_] [class*=tabBar_] [role=tab], [class*=topControls] [class*=headerWrapper] [class*=children_] [class*=tabBar_] [role=tab] {
  border-radius: 6px;
}
[class*=container_][class*=themed_] [class*=children_] [class*=tabBar_] [role=tab][aria-selected=true], [class*=topControls] [class*=headerWrapper] [class*=children_] [class*=tabBar_] [role=tab][aria-selected=true] {
  color: #151515;
}
[class*=container_][class*=themed_] [class*=children_] [class*=tabBar_] [role=tab][aria-selected=true]:focus-within, [class*=topControls] [class*=headerWrapper] [class*=children_] [class*=tabBar_] [role=tab][aria-selected=true]:focus-within {
  color: #151515;
}
[class*=container_][class*=themed_] [class*=children_] [class*=tabBar_] [role=tab][aria-selected=true]:hover, [class*=topControls] [class*=headerWrapper] [class*=children_] [class*=tabBar_] [role=tab][aria-selected=true]:hover {
  color: #ffffff;
}
[class*=container_][class*=themed_] [class*=children_] [class*=tabBar_] [class*=addFriend_][role=tab], [class*=topControls] [class*=headerWrapper] [class*=children_] [class*=tabBar_] [class*=addFriend_][role=tab] {
  color: #151515 !important;
  background-color: #4cd9a4 !important;
  transition: filter 0.2s;
}
[class*=container_][class*=themed_] [class*=children_] [class*=tabBar_] [class*=addFriend_][role=tab]:hover, [class*=topControls] [class*=headerWrapper] [class*=children_] [class*=tabBar_] [class*=addFriend_][role=tab]:hover {
  filter: brightness(0.8);
}
[class*=container_][class*=themed_][class*=title_][aria-label="Channel header"], [class*=topControls] [class*=headerWrapper][class*=title_][aria-label="Channel header"] {
  position: relative;
  border: none;
  padding: 0;
}
[class*=container_][class*=themed_][class*=title_][aria-label="Channel header"] [class*=children_], [class*=topControls] [class*=headerWrapper][class*=title_][aria-label="Channel header"] [class*=children_] {
  background: #1b1b1b;
  padding: 0 12px;
  border-radius: 12px 0 0 12px;
}
[class*=container_][class*=themed_][class*=title_][aria-label="Channel header"] [class*=toolbar_], [class*=topControls] [class*=headerWrapper][class*=title_][aria-label="Channel header"] [class*=toolbar_] {
  background: transparent;
  border-radius: 0 12px 12px 0;
}
[class*=container_][class*=themed_][class*=title_][aria-label="Channel header"] [class*=toolbar_] [class*=iconWrapper_][aria-label="Start Voice Call"], [class*=topControls] [class*=headerWrapper][class*=title_][aria-label="Channel header"] [class*=toolbar_] [class*=iconWrapper_][aria-label="Start Voice Call"] {
  padding-left: 16px !important;
  border-radius: 12px 0 0 12px;
}
[class*=container_][class*=themed_][class*=title_][aria-label="Channel header"] [class*=toolbar_] [class*=anchor_] .iconWrapper_af9215, [class*=topControls] [class*=headerWrapper][class*=title_][aria-label="Channel header"] [class*=toolbar_] [class*=anchor_] .iconWrapper_af9215 {
  padding-right: 16px;
  border-radius: 0 12px 12px 0;
}
[class*=container_][class*=themed_][class*=title_][aria-label="Channel header"] [class*=toolbar_] [class*=iconWrapper_], [class*=topControls] [class*=headerWrapper][class*=title_][aria-label="Channel header"] [class*=toolbar_] [class*=iconWrapper_] {
  background: #1b1b1b;
  margin: 0;
  padding: 0 7.6px;
  height: 48px;
  display: flex;
  align-items: center;
}
[class*=container_][class*=themed_][class*=title_][aria-label="Channel header"] [class*=toolbar_] [class*=iconWrapper_] svg, [class*=topControls] [class*=headerWrapper][class*=title_][aria-label="Channel header"] [class*=toolbar_] [class*=iconWrapper_] svg {
  width: 24px;
}
[class*=container_][class*=themed_][class*=title_][aria-label="Channel header"] [class*=toolbar_] [class*=iconWrapper_] [class*=iconBadge_], [class*=topControls] [class*=headerWrapper][class*=title_][aria-label="Channel header"] [class*=toolbar_] [class*=iconWrapper_] [class*=iconBadge_] {
  bottom: 12px;
  right: 10px;
  background: #fb7c7c;
  width: 6px;
  height: 6px;
}
[class*=container_][class*=themed_][class*=title_][aria-label="Channel header"] [class*=toolbar_] [class*=searchBar_], [class*=topControls] [class*=headerWrapper][class*=title_][aria-label="Channel header"] [class*=toolbar_] [class*=searchBar_] {
  margin: 0 10px 0 0;
  order: -1;
  background: #1b1b1b;
  border-radius: 0 12px 12px 0;
  transition: all 0.25s ease;
  -webkit-transition: width 0.25s ease;
}

[class*=title_][class*=container_][class*=themed_] {
  background: #1b1b1b;
}

[id=popout_38] [class*=menu-][class*=styleFixed-] [class*=item-] {
  border-radius: 8px;
}
[id=popout_38] [class*=menu-][class*=styleFixed-] [class*=item-][class*=colorDanger-][class*=focused-], [id=popout_38] [class*=menu-][class*=styleFixed-] [class*=item-][class*=colorDanger-]:active:not([class*=hideInteraction-]) {
  color: #151515;
}

button {
  border-radius: 8px !important;
}

.theme-dark, .theme-light {
  /* colorBrand */
  /* colorGrey */
  /* colorRed */
  /* colorPrimary */
  /* colorWhite */
  /* lookInverted */
  /* colorGreen */
  /* lookOutlined */
  /* colorPrimary */
}
.theme-dark [class*=disabledButtonWrapper_] svg, .theme-light [class*=disabledButtonWrapper_] svg {
  --__lottieIconColor: tc.$text-alt;
}
.theme-dark [class*=lookFilled][class*=colorBrand]:not([class*=colorWhite]), .theme-light [class*=lookFilled][class*=colorBrand]:not([class*=colorWhite]) {
  color: #151515;
  background-color: #4cd9a4;
  transition: filter 0.3s;
}
.theme-dark [class*=lookFilled][class*=colorBrand]:not([class*=colorWhite]):hover, .theme-light [class*=lookFilled][class*=colorBrand]:not([class*=colorWhite]):hover {
  color: #151515;
  background-color: #4cd9a4;
  filter: brightness(0.8);
}
.theme-dark [class*=lookFilled][class*=colorBrand]:not([class*=colorWhite]) [class*=defaultColor], .theme-light [class*=lookFilled][class*=colorBrand]:not([class*=colorWhite]) [class*=defaultColor] {
  color: #151515;
}
.theme-dark [class*=lookFilled][class*=colorGrey], .theme-light [class*=lookFilled][class*=colorGrey] {
  color: #151515;
  background-color: #d1d1d1;
  transition: filter 0.3s;
}
.theme-dark [class*=lookFilled][class*=colorGrey]:hover, .theme-light [class*=lookFilled][class*=colorGrey]:hover {
  color: #151515;
  background-color: #d1d1d1;
  filter: brightness(0.8);
}
.theme-dark [class*=lookFilled][class*=colorRed], .theme-light [class*=lookFilled][class*=colorRed] {
  color: #151515;
  background-color: #fb7c7c;
  transition: background-color 0.3s;
}
.theme-dark [class*=lookFilled][class*=colorRed]:hover, .theme-light [class*=lookFilled][class*=colorRed]:hover {
  color: #151515;
  background-color: #fa4a4a;
}
.theme-dark [class*=lookFilled][class*=colorPrimary], .theme-light [class*=lookFilled][class*=colorPrimary] {
  color: #151515;
  background-color: #d1d1d1;
  transition: filter 0.3s;
}
.theme-dark [class*=lookFilled][class*=colorPrimary]:hover, .theme-light [class*=lookFilled][class*=colorPrimary]:hover {
  color: #151515;
  background-color: #d1d1d1;
  filter: brightness(0.8);
}
.theme-dark [class*=lookFilled][class*=colorPrimary] [class*=defaultColor], .theme-light [class*=lookFilled][class*=colorPrimary] [class*=defaultColor] {
  color: #151515;
}
.theme-dark [class*=lookFilled][class*=colorWhite]:not([class*=colorWhite-]), .theme-dark [class*=lookFilled][class*=colorWhite]:not([class*=colorWhite-]) *, .theme-light [class*=lookFilled][class*=colorWhite]:not([class*=colorWhite-]), .theme-light [class*=lookFilled][class*=colorWhite]:not([class*=colorWhite-]) * {
  color: #151515;
  background-color: #d1d1d1;
  transition: filter 0.3s;
}
.theme-dark [class*=lookFilled][class*=colorWhite]:not([class*=colorWhite-]):active, .theme-light [class*=lookFilled][class*=colorWhite]:not([class*=colorWhite-]):active {
  filter: brightness(0.8);
}
.theme-dark [class*=lookInverted][class*=colorBrand], .theme-light [class*=lookInverted][class*=colorBrand] {
  color: #151515;
  background-color: #d1d1d1;
  transition: filter 0.3s;
}
.theme-dark [class*=lookInverted][class*=colorBrand]:hover, .theme-light [class*=lookInverted][class*=colorBrand]:hover {
  filter: brightness(0.9);
}
.theme-dark [class*=lookFilled][class*=colorGreen], .theme-light [class*=lookFilled][class*=colorGreen] {
  color: #151515;
  background-color: #4cd9a4;
  transition: filter 0.3s;
}
.theme-dark [class*=lookFilled][class*=colorGreen]:hover, .theme-light [class*=lookFilled][class*=colorGreen]:hover {
  filter: brightness(0.8);
}
.theme-dark [class*=lookOutlined][class*=colorRed], .theme-light [class*=lookOutlined][class*=colorRed] {
  color: #fb7c7c;
  border-color: #fb7c7c;
  transition: all 0.3s;
}
.theme-dark [class*=lookOutlined][class*=colorRed]:hover, .theme-light [class*=lookOutlined][class*=colorRed]:hover {
  color: #fa4a4a;
  background-color: transparent;
  border-color: #fa4a4a;
}
.theme-dark [class*=lookOutlined][class*=colorPrimary], .theme-light [class*=lookOutlined][class*=colorPrimary] {
  transition: border-color 0.3s;
}
.theme-dark [class*=lookOutlined][class*=colorPrimary]:hover, .theme-light [class*=lookOutlined][class*=colorPrimary]:hover {
  border-color: #191919;
}

[class*=group-][class*=flex-] [class*=item-][class*=selectorButton-][class*=selectorButtonSelected-] * {
  color: #151515;
}

[class*=item-][class*=itemFilled-][aria-checked=true] {
  color: #151515;
}
[class*=item-][class*=itemFilled-][aria-checked=true] [class*=radioIconForeground-] {
  color: #151515;
}

[class*=item-][class*=itemFilled-]:active:not([aria-checked=true]):not([class*=disabled-]) {
  color: #151515;
}

[class*=popout-][class*=scrollerBase-] [class*=option-][aria-selected=true]:not([class*=option-][class*=multi-]) {
  color: #151515;
}

[class*=channelBottomBarArea_] [class*=channelAppLauncher_] {
  margin: 0 10px 0 10px;
}
[class*=channelBottomBarArea_] [class*=channelAppLauncher_] [class*=buttonContainer_] {
  height: calc(100% - 10px);
}
[class*=channelBottomBarArea_] [class*=channelAppLauncher_] [class*=buttonContainer_] button {
  height: 100%;
  border-radius: 8px;
}

[class*=content_] [class*=navItem_]:active {
  color: #151515;
}
[class*=content_] [class*=navItem_]:active [class*=navItemIcon_] {
  color: #151515;
}
[class*=content_] [class*=navItem_][class*=selected_] {
  color: #151515;
  background-color: #d1d1d1;
}
[class*=content_] [class*=navItem_][class*=selected_] [class*=navItemIcon_] {
  color: #151515;
}

[class*=chat_] {
  background: #222222;
}

::-webkit-scrollbar {
  transition: all 0.2s;
}

::-webkit-scrollbar-track {
  background-color: transparent !important;
}
::-webkit-scrollbar-track:hover {
  background-color: rgba(230, 230, 230, 0.06) !important;
}

::-webkit-scrollbar-thumb:active {
  background-color: #e6e6e6;
}

[class*=scrollerSpacer_] {
  height: 12px;
}

[class*=messagesWrapper_] {
  margin: 10px 10px 10px 10px;
  border-radius: 12px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 3px 4px 2px;
  background: #202020;
  overflow: hidden;
}
[class*=messagesWrapper_] [class*=buttonContainer_] [class*=wrapper_] {
  border-radius: 8px;
}
[class*=messagesWrapper_] [class*=buttonContainer_] [class*=wrapper_] div[aria-expanded=true] {
  color: #151515;
}
[class*=messagesWrapper_] ol li [class*=message-] {
  border-radius: 0 6px 6px 0;
}
[class*=messagesWrapper_] ol li [class*=message-] [class*=repliedMessage-]::before {
  border-color: rgba(230, 230, 230, 0.2);
}
[class*=messagesWrapper_] ol li [class*=message-] [class*=embedWrapper-], [class*=messagesWrapper_] ol li [class*=message-] [class*=container-] [class*=wrapper-] {
  border-radius: 8px;
}
[class*=messagesWrapper_] ol li [class*=message-] [class*=reaction-][class*=reactionMe-] [class*=reactionCount-] {
  color: #ffffff;
}
[class*=messagesWrapper_] ol div[class*=divider_][id="---new-messages-bar"] {
  border-color: #fb7c7c;
}
[class*=messagesWrapper_] ol div[class*=divider_][id="---new-messages-bar"] [class*=content_], [class*=messagesWrapper_] ol div[class*=divider_][id="---new-messages-bar"] [class*=unreadPillCapStroke_] {
  color: #fb7c7c;
}
[class*=messagesWrapper_] ol div[class*=divider_][id="---new-messages-bar"] [class*=unreadPill_] {
  color: #151515;
  background-color: #fb7c7c;
}
[class*=messagesWrapper_] ol div[class*=divider_][id="---new-messages-bar"] [class*=unreadPill_] svg path {
  fill: #fb7c7c;
}
[class*=messagesWrapper_] [class*=newMessagesBar] {
  margin-top: 6px;
  border-radius: 8px;
  padding: 2px;
  background-color: rgba(230, 230, 230, 0.7);
}
[class*=messagesWrapper_] [class*=newMessagesBar][class*=barBase-] {
  left: 10px;
}
[class*=messagesWrapper_] [class*=newMessagesBar] button {
  color: #151515 !important;
}
[class*=messagesWrapper_] [class*=jumpToPresentBar] {
  margin-bottom: 6px;
  padding: 2px;
  bottom: 0;
  border-radius: 8px;
  background-color: rgba(230, 230, 230, 0.7);
}
[class*=messagesWrapper_] [class*=jumpToPresentBar][class*=barBase-] {
  left: 10px;
}
[class*=messagesWrapper_] [class*=jumpToPresentBar]:active {
  margin-bottom: 6px;
  padding: 2px;
}
[class*=messagesWrapper_] [class*=jumpToPresentBar] button {
  color: #151515 !important;
}

[class*=divider_] {
  border-top: thin solid rgba(230, 230, 230, 0.06);
}

.mention, [class*=px_][class*=botTag_] [class*=botTagRegular_], [class*=botTagVerified_] {
  border-radius: 4px;
}

.mention {
  transition: filter 0.3s;
}

.mention.interactive:hover {
  color: #151515;
  filter: brightness(0.8);
}

[class*=botTagRegular_] {
  color: #151515;
  background-color: #4cd9a4;
}

[class*=botTagVerified_] {
  color: #151515;
  background-color: #4cd9a4;
}

#popout_3642 [class*=menu-] [class*=item-] {
  border-radius: 4px;
}
#popout_3642 [class*=menu-] [class*=colorDanger-][class*=focused-] {
  background-color: #fa4a4a;
  color: #151515;
}
#popout_3642 [class*=menu-] [class*=colorDanger-]:active:not([class*=hideInteraction-]) {
  background-color: #fa4a4a;
  color: #151515;
}

#popout_3529 [class*=item-] {
  border-radius: 4px;
}
#popout_3529 [class*=item-] [class*=newBadge-] {
  color: #151515;
  background-color: #fb7c7c !important;
}
#popout_3529 [class*=item-]:active:not([class*=hideInteraction-]) {
  background-color: rgba(230, 230, 230, 0.2);
}

.theme-dark [class*=root_]:not([class*=custom-profile-theme] [class*=root_]) {
  background-color: #202020;
}
.theme-dark [class*=root_]:not([class*=custom-profile-theme] [class*=root_]) [class*=bodyWrapper_] {
  background-color: #202020;
}

[role=dialog][aria-label="User Profile Modal"] [class*=root-] {
  border-radius: 12px;
}
[role=dialog][aria-label="User Profile Modal"] [class*=root-] [class*=connectedAccount-] {
  border-radius: 8px;
  background-color: rgba(230, 230, 230, 0.06);
}

[class*=modal-] {
  border-radius: 8px;
}

[class*=container-][role=listbox] {
  transform: translateX(-85px);
  border-radius: 8px;
}

[class*=resultsGroup-] {
  background-color: #191919;
}
[class*=resultsGroup-] [class*=searchLearnMore-] a[class*=anchor-] {
  color: #faa483 !important;
}
[class*=resultsGroup-] [class*=option-] {
  border-radius: 6px;
}
[class*=resultsGroup-] [class*=option-] [class*=filter-] {
  color: #ffffff;
}
[class*=resultsGroup-] [class*=option-] [class*=answer-] {
  color: #909090;
}
[class*=resultsGroup-] [class*=option-]:after {
  background: linear-gradient(90deg, rgba(54, 57, 63, 0), #1b1b1b 80%);
}

[class*=queryContainer-] {
  color: #ffffff !important;
  background-color: #151515 !important;
  border-bottom: 1px solid rgba(255, 255, 255, 0.06);
}

[class*=menu-] [class*=item-] {
  border-radius: 6px;
}
[class*=menu-] [class*=item-][class*=colorDanger-]:hover, [class*=menu-] [class*=item-][class*=colorDanger-]:active {
  background: #fa4a4a;
  color: #151515;
}

[class*=quickswitcher-] [class*=result-] {
  border-radius: 6px;
}
[class*=quickswitcher-] [class*=result-][aria-selected=true] [class*=name-], [class*=quickswitcher-] [class*=result-][aria-selected=true] [class*=misc-], [class*=quickswitcher-] [class*=result-][aria-selected=true] [class*=iconContainer-] svg {
  color: #151515;
}

:root [class*=footer-] {
  background-color: #151515;
  border-top: 1px solid rgba(255, 255, 255, 0.06);
}

#popout_80 [class*=gridUpsellContainer-] {
  background-color: #151515;
}
#popout_80 [class*=upsellTooltipWrapper-][class*=caretTopCenter-]::after {
  border-bottom-color: #151515;
}

[class*=focusLock-] [class*=scrollBackgroundContainer-] * {
  background-color: #1b1b1b;
}
[class*=focusLock-] [class*=scrollContainer-] [class*=scrollSection-] {
  background-color: #1b1b1b;
}

[class*=tooltipBrand-] [class*=tooltipContent-] {
  color: #151515;
}
[class*=tooltipBrand-] [class*=tooltipContent-] [class*=defaultColor-] {
  color: #151515;
}

.custom-profile-theme [class*=inner_] {
  --profile-gradient-start: unset;
  --profile-gradient-end: unset;
}

[class*=contentRegion-] [class*=closeButton-] {
  border: none;
  position: relative;
  transition: all 0.3s;
}
[class*=contentRegion-] [class*=closeButton-]:hover {
  background-color: unset;
  top: -2px;
}
[class*=contentRegion-] [class*=keybind-] {
  display: none;
}
[class*=contentRegion-] [class*=inputDefault-], [class*=contentRegion-] [class*=select-], [class*=contentRegion-] [class*=item-], [class*=contentRegion-] [class*=searchContainer-] [class*=container-] {
  border-radius: 6px;
}
[class*=contentRegion-] [class*=select-][class*=open-] {
  border-radius: 6px 6px 0 0;
}
[class*=contentRegion-] [class*=popout-] {
  border-radius: 0 0 6px 6px;
}

.bd-switch .bd-switch-body, .bd-switch [class*=container-], [class*=control-] .bd-switch-body, [class*=control-] [class*=container-] {
  background-color: rgba(230, 230, 230, 0.2) !important;
}
.bd-switch .bd-switch-body svg rect, .bd-switch .bd-switch-body [class*=slider-][style="left: -3px;"] rect, .bd-switch [class*=container-] svg rect, .bd-switch [class*=container-] [class*=slider-][style="left: -3px;"] rect, [class*=control-] .bd-switch-body svg rect, [class*=control-] .bd-switch-body [class*=slider-][style="left: -3px;"] rect, [class*=control-] [class*=container-] svg rect, [class*=control-] [class*=container-] [class*=slider-][style="left: -3px;"] rect {
  fill: #202020 !important;
}
.bd-switch .bd-switch-body svg .bd-switch-symbol path, .bd-switch .bd-switch-body svg svg path, .bd-switch .bd-switch-body [class*=slider-][style="left: -3px;"] .bd-switch-symbol path, .bd-switch .bd-switch-body [class*=slider-][style="left: -3px;"] svg path, .bd-switch [class*=container-] svg .bd-switch-symbol path, .bd-switch [class*=container-] svg svg path, .bd-switch [class*=container-] [class*=slider-][style="left: -3px;"] .bd-switch-symbol path, .bd-switch [class*=container-] [class*=slider-][style="left: -3px;"] svg path, [class*=control-] .bd-switch-body svg .bd-switch-symbol path, [class*=control-] .bd-switch-body svg svg path, [class*=control-] .bd-switch-body [class*=slider-][style="left: -3px;"] .bd-switch-symbol path, [class*=control-] .bd-switch-body [class*=slider-][style="left: -3px;"] svg path, [class*=control-] [class*=container-] svg .bd-switch-symbol path, [class*=control-] [class*=container-] svg svg path, [class*=control-] [class*=container-] [class*=slider-][style="left: -3px;"] .bd-switch-symbol path, [class*=control-] [class*=container-] [class*=slider-][style="left: -3px;"] svg path {
  fill: #fb7c7c;
}
.bd-switch .bd-switch-body [class*=slider-] svg path, .bd-switch [class*=container-] [class*=slider-] svg path, [class*=control-] .bd-switch-body [class*=slider-] svg path, [class*=control-] [class*=container-] [class*=slider-] svg path {
  fill: #4cd9a4;
}
.bd-switch.bd-switch-checked .bd-switch-symbol path, [class*=control-].bd-switch-checked .bd-switch-symbol path {
  fill: #4cd9a4 !important;
}

[class*=checkboxWrapper-][class*=checked-] [class*=checkbox-] {
  background-color: #4cd9a4 !important;
  border-color: #4cd9a4 !important;
}
[class*=checkboxWrapper-][class*=checked-] [class*=checkbox-] svg path {
  fill: #151515;
}

[class*=connection-] [class*=connectionHeader-] {
  border-bottom: 1px solid rgba(230, 230, 230, 0.06);
}

[class*=keybindShortcut-] span {
  background-color: #ffffff !important;
  border: 1px solid rgba(255, 255, 255, 0.06) !important;
  color: #151515 !important;
  border-radius: 6px !important;
  cursor: default;
}
[class*=keybindShortcut-] span svg * {
  fill: #151515;
}

[class*=membershipDialog-] {
  border-radius: 8px;
}
[class*=membershipDialog-] [class*=membershipDialogContent-] [class*=flex-] [class*=flexChild-] div {
  color: #151515;
}
[class*=membershipDialog-] [class*=membershipDialogContent-] [class*=flex-] [class*=flexChild-] h3 {
  font-family: "Poppins";
  letter-spacing: 1px;
  color: #151515;
}
[class*=membershipDialog-] [class*=membershipDialogContent-] [class*=colorStandard-] {
  border-color: 1px solid rgba(255, 255, 255, 0.06);
  color: #151515;
}
[class*=membershipDialog-] [class*=membershipDialogContent-] [class*=colorStandard-] span {
  color: #151515;
}
[class*=membershipDialog-] [class*=membershipDialogContent-] [class*=colorStandard-] span:hover {
  filter: brightness(0.9);
}

[class*=videoWrapper-] {
  border-radius: 12px;
}

[class*=warning-] {
  color: #151515;
  border: none;
  border-radius: 8px;
}
[class*=warning-] [class*=iconDiv-] svg {
  color: #151515;
}

[class*=codeRedemptionRedirect-] {
  border-radius: 6px;
  background-color: rgba(230, 230, 230, 0.06) !important;
  color: #ffffff !important;
  border: none;
}

[class*=guilds_][class*=wrapper_] {
  margin: 10px;
  background-color: transparent;
  border-radius: 12px;
}
[class*=guilds_][class*=wrapper_] ul[role=tree] [class*=scroller_] {
  background-color: #151515;
  height: 100%;
}
[class*=guilds_][class*=wrapper_] [class*=lowerBadge-] div {
  color: #151515;
  background-color: #fa4a4a !important;
}
[class*=guilds_][class*=wrapper_] [class*=wrapper_][class*=selected_] [class*=childWrapper_], [class*=guilds_][class*=wrapper_] [class*=wrapper_][class*=selected_] [class*=wrapper_]:hover [class*=childWrapper_] {
  color: #151515;
}
[class*=guilds_][class*=wrapper_] [class*=wrapper_][data-list-item-id=guildsnav___home][class*=selected_] [class*=childWrapper_] {
  color: #151515;
  background-color: #e6e6e6;
}
[class*=guilds_][class*=wrapper_] [class*=wrapper_][data-list-item-id=guildsnav___home] [class*=childWrapper_] {
  color: #ffffff;
}

[class*=circleIconButton_] {
  color: #ffffff;
}
[class*=circleIconButton_][class*=selected_] {
  color: #151515;
  background-color: #e6e6e6;
}

[class*=chat_] [class*=content_]::before {
  display: none;
}

[class*=content-] [class*=container-] {
  background-color: #222222;
}

[class*=tabBody_]:before {
  display: none;
}

[class*=tabBody_] [class*=peopleColumn_] {
  background-color: #222222;
}

[class*=bg_] {
  background-color: #222222;
}

[class*=peopleListItem_] {
  border-top: 1px solid rgba(255, 255, 255, 0.06);
}

[class*=videoControls-] [class*=justifyCenter-] [class*=wrapper-] div button[aria-label=Disconnect], [class*=panels_] [class*=container_] button[aria-label=Disconnect] {
  background-color: #fb7c7c;
  color: #151515;
}
[class*=videoControls-] [class*=justifyCenter-] [class*=wrapper-] div button[aria-label=Disconnect] div svg, [class*=panels_] [class*=container_] button[aria-label=Disconnect] div svg {
  color: inherit;
}

[class*=panels_] [class*=container_] {
  border-radius: 12px 12px 0 0;
}

[class*=noChat][class*=video] {
  background-color: transparent;
}

[class*=callContainer] {
  background-color: transparent;
}
[class*=callContainer] [class*=container][class*=transparent] {
  padding: 0;
}
[class*=callContainer] [class*=button][aria-label="Show Chat"] {
  margin: 10px 20px 0 0;
}
[class*=callContainer] [class*=headerWrapper] {
  padding: 0;
}
[class*=callContainer] [class*=videoControls] {
  padding: 0;
}
[class*=callContainer] [class*=videoControls] [class*=gradient] {
  display: none;
}
[class*=callContainer] [class*=videoControls] [class*=bottomControls] {
  padding: 10px 15px;
  margin: 0 10px 10px 10px;
  max-width: calc(100% - 50px);
  background-color: #1b1b1b;
  border-radius: 12px;
  border: 1px solid #323232;
}

[class*=content_] .container_d746e5 {
  width: 100%;
  padding: 10px;
}
[class*=content_] .container_d746e5 [class*=scroller_] {
  border-radius: 8px;
  overflow: hidden;
}
[class*=content_] .container_d746e5 [class*=headerBar_] [class*=backdrop_] {
  border-radius: 8px 8px 0 0;
  overflow: hidden;
}

[class*=container_] [class*=shop_] {
  background-color: unset;
  padding: 10px;
}

[class*=container_] [class*=shopScroll_], [class*=container_] [class*=shop_] {
  border-radius: 12px;
}

[class*=container_][data-cy*=marketing-page] {
  margin-left: 10px;
}

[class*=pageWrapper_] {
  background-color: #222222 !important;
}

[class*=sidebar_] [class*=categoryItem_] {
  position: relative;
  overflow: hidden;
  border-radius: 12px;
}
[class*=sidebar_] [class*=categoryItem_][class*=selected_] {
  color: #151515;
}
[class*=sidebar_] [class*=categoryItem_]::before {
  border-radius: 50%;
  background-color: rgba(55, 55, 55, 0.6);
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 0;
  height: 0;
  transition: all 0.5s ease-out;
  opacity: 0;
}
[class*=sidebar_] [class*=categoryItem_][class*=selected_]::before {
  width: 230px;
  height: 230px;
  animation: ripple-effect-for-channels 0.35s;
  animation-iteration-count: 1;
}

[class*=card_]:not([class*=activity_]) {
  padding-top: 40px;
  justify-content: center;
  height: auto;
  min-height: 200px;
  border-radius: 8px;
}
[class*=card_]:not([class*=activity_]) [class*=cardHeader_] {
  height: auto;
}
[class*=card_]:not([class*=activity_]) [class*=cardHeader_] [class*=splash_] {
  display: none;
}

[class*=applicationStore-] {
  margin: 10px 10px 10px 0;
  border-radius: 12px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 3px 4px 2px;
}

[class*=container_], [class*=chatContent_] {
  border-radius: 8px;
}

[class*=notice_] {
  margin-top: 10px;
  margin-right: 10px;
  border-radius: 8px;
  padding: 2px;
  background-color: rgba(230, 230, 230, 0.7);
  color: #151515;
}
[class*=notice_] [class*=closeIcon] path {
  fill: #151515;
}
[class*=notice_] [class*=button] {
  border-color: #151515;
  color: #151515;
}

[class*=chat_] [class*=chatContent_] {
  background: transparent;
}
[class*=chat_] [class*=chatContent_] [class*=banner] [class*=nextIcon] path {
  fill: #151515;
}
[class*=chat_] [class*=profilePanel] {
  margin: 10px 10px 10px 0;
  border-radius: 8px;
  overflow: hidden;
}

[class*=container_] [class*=nowPlayingColumn_] {
  margin: 0 10px 10px 0;
  background-color: unset;
}

[class*=container_] [class*=nowPlayingColumn_] [class*=scroller_] {
  border-left: unset;
}

[class*=container_] {
  background-color: unset;
}
[class*=container_] [class*=peopleColumn_] {
  margin: 10px 10px 10px 10px;
  border-radius: 8px;
  background-color: #202020;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 3px 4px 2px;
}

.theme-dark [class*=focusLock] [class*=carouselModal], .theme-light [class*=focusLock] [class*=carouselModal] {
  background-color: transparent;
}

form[class*=form-], form[class*=form_] {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr minmax(min-content, max-content);
  flex-direction: column;
  justify-content: space-between;
  padding: 0;
  margin-bottom: 10px;
  margin-left: 10px;
}
form[class*=form-] [class*=wrapper_], form[class*=form_] [class*=wrapper_] {
  border-radius: 12px;
  max-width: calc(100% - 10px);
  margin-right: 0;
  margin-top: 10px;
  margin-bottom: auto;
}
form[class*=form-] [class*=applicationCommandEducation-], form[class*=form_] [class*=applicationCommandEducation-] {
  display: none;
}

[class*=channelTextArea_] {
  background-color: transparent;
  border-radius: 12px;
  max-width: calc(100% - 10px);
  margin-top: 10px;
  margin-bottom: auto;
}
[class*=channelTextArea_] [class*=attachedBars-] {
  background-color: #191919;
  border-bottom: 1px solid rgba(255, 255, 255, 0.06);
}
[class*=channelTextArea_] [class*=scrollableContainer] {
  padding: 4px 0 4px 0;
  border-radius: 12px;
}
[class*=channelTextArea_] [class*=scrollableContainer][class*=hasConnectedBar] {
  border-radius: 0px 0px 12px 12px;
}

[class*=form_]::before {
  display: none;
}

[class*=typing_] {
  max-width: calc(100% - 25px);
  position: relative;
  margin: 6px 0 -4px 4px;
  height: 1rem;
  left: 0;
  color: #909090;
}
[class*=typing_] [class*=typingDots_] {
  color: #909090;
}

#app-mount[class*=appMount]::before {
  content: "Your version of Smooth Theme is outdated. Please download the newest version from: <https://datsfilipe.github.io/smooth-theme/>";
  display: var(--theme-version-2-3-0, block);
  background-color: #fb7c7c;
  color: #151515;
  font-size: 14px;
  line-height: 36px;
  font-weight: 400;
  text-align: center;
  z-index: 101;
}

/*Hide "DISCORD" text in top-left corner.*/
[class*=wordmarkWindows] {
  display: none;
}

[class*=panels][aria-label="User area"] [class*=button]:hover [class*=contents] {
  animation: UserModalButtons 0.5s normal ease;
}
[class*=panels][aria-label="User area"] [class*=container] [class*=noWrap] {
  width: 100px;
  opacity: 1;
}
[class*=panels][aria-label="User area"] [class*=button] {
  transition: 0.2s;
}
[class*=panels][aria-label="User area"] [class*=button]:hover {
  padding-bottom: 0px;
  transition: 0.2;
}
@keyframes UserModalButtons {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-5px);
  }
  100% {
    transform: translateY(0px);
  }
}

/*disable discord's laggy settings animation*/
[class*=container-] [class*=noWrap-] {
  width: auto;
}

[class*=layer-] {
  transform: none !important;
  opacity: 1 !important;
}

[class*=layers-] > [class*=layer-][class*=animating-] *,
[class*=layers-] > [class*=layer-][class*=animating-] {
  pointer-events: auto !important;
  will-change: unset;
}

[class*=animating-][class*=stop-] {
  z-index: 100 !important;
}

[class*=panels-] > [class*=container-] [class*=flex-] > :not(:last-child) {
  opacity: 0% !important;
  width: 0px;
  transition: all 0.2s ease-in-out;
}

[class*=panels-] > [class*=container-]:hover [class*=flex-] > :not(:last-child) {
  opacity: 100% !important;
  width: 32px;
}

/*# sourceMappingURL=custom.css.map */
