@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Source+Sans+Pro:wght@400;600&family=Work+Sans:wght@400;500;600;700&display=swap");
.theme-dark, .theme-light {
  --theme-version: none;
  --header-primary: #ffffff;
  --header-secondary: #e6e6e6;
  --text-normal: #ffffff;
  --text-muted: #909090;
  --text-link: #4cd9a4;
  --text-link-low-saturation: #e6e6e6;
  --text-positive: #4cd9a4;
  --text-warning: #faa483;
  --text-danger: #fb7c7c;
  --text-brand: #ffffff;
  --text-alt: #151515;
  --interactive-normal: #ffffff;
  --interactive-hover: #e6e6e6;
  --interactive-active: #d1d1d1;
  --interactive-muted: #909090;
  --dark-border: 1px solid rgba(255, 255, 255, 0.06);
  --background-primary: #202020;
  --background-secondary: #1b1b1b;
  --background-secondary-alt: #191919;
  --background-tertiary: #151515;
  --background-accent: #202020;
  --background-floating: #1b1b1b;
  --background-mobile-primary: #202020;
  --background-mobile-secondary: #1b1b1b;
  --background-modifier-hover: rgba(230, 230, 230, 0.1);
  --background-modifier-active: rgba(230, 230, 230, 0.7);
  --background-modifier-selected: #e6e6e6;
  --background-modifier-accent: rgba(230, 230, 230, 0.2);
  --info-positive-text: #e6e6e6;
  --info-warning-text: #e6e6e6;
  --info-danger-text: #e6e6e6;
  --info-help-background: #202020;
  --info-help-foreground: #e6e6e6;
  --info-help-text: #ffffff;
  --status-warning-text: #faa483;
  --scrollbar-thin-thumb: rgba(230, 230, 230, 0.2);
  --scrollbar-thin-track: transparent;
  --scrollbar-auto-thumb: rgba(230, 230, 230, 0.2);
  --scrollbar-auto-track: rgba(230, 230, 230, 0.06);
  --scrollbar-auto-scrollbar-color-thumb: #ffffff;
  --scrollbar-auto-scrollbar-color-track: transparent;
  --elevation-stroke: 0 0 0 1px rgba(230, 230, 230, 0.06);
  --box-shadow: rgba(0, 0, 0, 0.25) 0px 3px 4px 2px;
  --elevation-low: rgba(230, 230, 230, 0.05);
  --elevation-medium: rgba(0, 0, 0, 0.07) 0px 1px 1px, rgba(0, 0, 0, 0.07) 0px 2px 2px, rgba(0, 0, 0, 0.07) 0px 4px 4px, rgba(0, 0, 0, 0.07) 0px 8px 8px, rgba(0, 0, 0, 0.07) 0px 16px 16px;
  --elevation-high: rgba(0, 0, 0, 0.25) 0px 12px 14px, rgba(0, 0, 0, 0.12) 0px -7px 7px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 5px 3px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  --logo-primary: #ffffff;
  --control-brand-foreground: #e6e6e6;
  --control-brand-foreground-new: #e6e6e6;
  --background-mentioned: rgba(230, 230, 230, 0.03);
  --background-mentioned-hover: rgba(230, 230, 230, 0.09);
  --background-message-hover: rgba(230, 230, 230, 0.03);
  --channels-default: #8d8d8d;
  --guild-header-text-shadow: 0 1px 1px rgba(230, 230, 230, 0.04);
  --channeltextarea-background: #191919;
  --activity-card-background: #1b1b1b;
  --textbox-markdown-syntax: #909090;
  --deprecated-card-bg: #1b1b1b;
  --deprecated-card-editable-bg: #151515;
  --deprecated-store-bg: #1b1b1b;
  --deprecated-quickswitcher-input-background: #313131;
  --background-spacing: #222222;
  --deprecated-text-input-bg: #1b1b1b;
  --deprecated-text-input-border: #d1d1d1;
  --deprecated-text-input-border-hover: #191919;
  --deprecated-text-input-border-disabled: #1b1b1b;
  --deprecated-text-input-prefix: #909090;
  --message-text-color: #e6e6e6;
  --info-warning-foreground: #e6e6e6;
  --info-positive-background: #4cd9a4;
  --info-positive-foreground: #e6e6e6;
  --info-warning-background: #faa483;
  --info-danger-background: #fb7c7c;
  --info-danger-foreground: #e6e6e6;
  --status-positive-background: #4cd9a4;
  --status-positive-text: #e6e6e6;
  --status-warning-background: #faa483;
  --status-danger-background: #fb7c7c;
  --status-danger-text: #e6e6e6;
  --status-green-600: #4cd9a4;
  --focus-primary: rgba(230, 230, 230, 0.1);
}

[data-popout-root], html {
  --brand-experiment: #ffffff;
  --brand-experiment-200: #151515;
  --brand-experiment-560: rgba(230, 230, 230, 0.1);
  --brand-experiment-30a: #ffffff;
  --brand-experiment-400: #909090;
  --brand-experiment-600: #fb7c7c;
  --brand-experiment-15a: #151515;
  --brand-experiment-800: rgba(250, 250, 250, 0.2);
  --brand-experiment-05a: rgba(230, 230, 230, 0.1);
  --brand-experiment-10a: rgba(230, 230, 230, 0.1);
  --brand-experiment-100: #202020;
  --brand-experiment-500: rgba(230, 230, 230, 0.1);
  --brand-experiment-160: #151515;
  --brand-experiment-530: #ffffff;
  --brand-experiment-360: #4cd9a4;
}

:root {
  --font-primary: Work Sans, sans-serif;
  --font-display: Work Sans, sans-serif;
  --font-code: Source Code Pro, monospace;
  --font-headline: Poppins, sans-serif;
}

.colorDanger-3n-KnP.focused-3qFvc8 {
  background: #fa4a4a;
}

.colorDanger-3n-KnP:active:not(.hideInteraction-2jPGL_) {
  background: #fa4a4a;
}

.colorDanger-3n-KnP, .colorDanger-3n-KnP .checkbox-hADx5o, .colorDanger-3n-KnP .radioSelection-1UHp0b {
  color: #fb7c7c;
}

@keyframes ripple-effect-for-channels {
  0% {
    width: 0;
    height: 0;
    margin-top: 0;
    margin-left: 0;
    opacity: 0;
  }
  100% {
    width: 230px;
    height: 230px;
    margin-top: -120px;
    margin-left: -115px;
    opacity: 0.5;
  }
}
@-webkit-keyframes ripple-effect-for-channels {
  0% {
    width: 0;
    height: 0;
    margin-top: 0;
    margin-left: 0;
    opacity: 0;
  }
  100% {
    width: 220px;
    height: 220px;
    margin-top: -110px;
    margin-left: -110px;
    opacity: 0.5;
  }
}
.sidebar_ded4b5, .sidebar__9e3e2 {
  margin: 10px 0px 10px 0;
  background-color: transparent;
  /**----------------
   * channels bar
  -----------------*/
  /**----------------
   * home section bar
  -----------------*/
  /**----------------
   * settings bar
  -----------------*/
}
.sidebar_ded4b5 nav, .sidebar_ded4b5 section, .sidebar__9e3e2 nav, .sidebar__9e3e2 section {
  border-radius: 12px;
  background-color: #1b1b1b;
  overflow: hidden;
}
.sidebar_ded4b5 nav .scroller-1ox3I2, .sidebar_ded4b5 section .scroller-1ox3I2, .sidebar__9e3e2 nav .scroller-1ox3I2, .sidebar__9e3e2 section .scroller-1ox3I2 {
  border-radius: 12px;
}
.sidebar_ded4b5 nav + section, .sidebar__9e3e2 nav + section {
  margin-top: 10px;
}
.sidebar_ded4b5 section.panels__58331 .button__4f306:hover, .sidebar_ded4b5 section.panels__58331 .button__4f306:hover path, .sidebar_ded4b5 section.panels__58331 .avatarWrapper_ba5175:hover .title__10613, .sidebar__9e3e2 section.panels__58331 .button__4f306:hover, .sidebar__9e3e2 section.panels__58331 .button__4f306:hover path, .sidebar__9e3e2 section.panels__58331 .avatarWrapper_ba5175:hover .title__10613 {
  color: #151515;
}
.sidebar_ded4b5 section.panels__58331 .button__4f306:hover[aria-label="User Settings"] path, .sidebar__9e3e2 section.panels__58331 .button__4f306:hover[aria-label="User Settings"] path {
  fill: #151515;
}
.sidebar_ded4b5 section.panels__58331 .subtext__8f869, .sidebar__9e3e2 section.panels__58331 .subtext__8f869 {
  color: #909090;
}
.sidebar_ded4b5 section.panels__58331 .avatarWrapper_ba5175, .sidebar__9e3e2 section.panels__58331 .avatarWrapper_ba5175 {
  border-radius: 8px;
}
.sidebar_ded4b5 section.panels__58331 .container_ca50b9, .sidebar__9e3e2 section.panels__58331 .container_ca50b9 {
  background-color: transparent;
}
.sidebar_ded4b5 .containerDefault__3187b .wrapper__7bcde, .sidebar__9e3e2 .containerDefault__3187b .wrapper__7bcde {
  overflow: hidden;
  border-radius: 8px;
}
.sidebar_ded4b5 .containerDefault__3187b .wrapper__7bcde::after, .sidebar__9e3e2 .containerDefault__3187b .wrapper__7bcde::after {
  border-radius: 50%;
  background-color: rgba(55, 55, 55, 0.6);
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 0;
  height: 0;
  transition: all 0.5s ease-out;
  opacity: 0;
}
.sidebar_ded4b5 .containerDefault__3187b .wrapper__7bcde.modeSelected__487d6::after, .sidebar__9e3e2 .containerDefault__3187b .wrapper__7bcde.modeSelected__487d6::after {
  width: 230px;
  height: 230px;
  animation: ripple-effect-for-channels 0.35s;
  animation-iteration-count: 1;
}
.sidebar_ded4b5 .wrapper__7bcde.modeSelected__487d6 a .name__8d1ec, .sidebar_ded4b5 .wrapper__7bcde.modeSelected__487d6 a .actionIcon_d679b5, .sidebar_ded4b5 .wrapper__7bcde:active a .name__8d1ec, .sidebar_ded4b5 .wrapper__7bcde:active a .actionIcon_d679b5, .sidebar__9e3e2 .wrapper__7bcde.modeSelected__487d6 a .name__8d1ec, .sidebar__9e3e2 .wrapper__7bcde.modeSelected__487d6 a .actionIcon_d679b5, .sidebar__9e3e2 .wrapper__7bcde:active a .name__8d1ec, .sidebar__9e3e2 .wrapper__7bcde:active a .actionIcon_d679b5 {
  color: #151515;
}
.sidebar_ded4b5 .wrapper__7bcde.modeSelected__487d6 a .statusDiv_a4cf67 *, .sidebar_ded4b5 .wrapper__7bcde:active a .statusDiv_a4cf67 *, .sidebar__9e3e2 .wrapper__7bcde.modeSelected__487d6 a .statusDiv_a4cf67 *, .sidebar__9e3e2 .wrapper__7bcde:active a .statusDiv_a4cf67 * {
  color: #151515;
}
.sidebar_ded4b5 .wrapper__7bcde.modeSelected__487d6 a .statusDiv_a4cf67:hover *, .sidebar_ded4b5 .wrapper__7bcde:active a .statusDiv_a4cf67:hover *, .sidebar__9e3e2 .wrapper__7bcde.modeSelected__487d6 a .statusDiv_a4cf67:hover *, .sidebar__9e3e2 .wrapper__7bcde:active a .statusDiv_a4cf67:hover * {
  color: #909090;
}
.sidebar_ded4b5 .wrapper__7bcde.modeSelected__487d6 a .iconContainer__3f9b0 svg, .sidebar_ded4b5 .wrapper__7bcde:active a .iconContainer__3f9b0 svg, .sidebar__9e3e2 .wrapper__7bcde.modeSelected__487d6 a .iconContainer__3f9b0 svg, .sidebar__9e3e2 .wrapper__7bcde:active a .iconContainer__3f9b0 svg {
  color: #151515;
}
.sidebar_ded4b5 .content-2a4AW9 .selected-3veCBZ, .sidebar__9e3e2 .content-2a4AW9 .selected-3veCBZ {
  background-color: #ffffff;
}
.sidebar_ded4b5 .content-2a4AW9 .containerDefault-YUSmu3 .wrapper-NhbLHG:active .content-1gYQeQ a *, .sidebar_ded4b5 .content-2a4AW9 .containerDefault-YUSmu3 .wrapper-NhbLHG:active .content-1gYQeQ .children-1MGS9G *, .sidebar__9e3e2 .content-2a4AW9 .containerDefault-YUSmu3 .wrapper-NhbLHG:active .content-1gYQeQ a *, .sidebar__9e3e2 .content-2a4AW9 .containerDefault-YUSmu3 .wrapper-NhbLHG:active .content-1gYQeQ .children-1MGS9G * {
  color: #151515;
}
.sidebar_ded4b5 .content-2a4AW9 .containerDefault-YUSmu3 .wrapper-NhbLHG .content-1gYQeQ, .sidebar__9e3e2 .content-2a4AW9 .containerDefault-YUSmu3 .wrapper-NhbLHG .content-1gYQeQ {
  border-radius: 6px;
}
.sidebar_ded4b5 .content-2a4AW9 .containerDefault-YUSmu3 .wrapper-NhbLHG .content-1gYQeQ .children-1MGS9G .mentionsBadge-2ckrKL div, .sidebar__9e3e2 .content-2a4AW9 .containerDefault-YUSmu3 .wrapper-NhbLHG .content-1gYQeQ .children-1MGS9G .mentionsBadge-2ckrKL div {
  color: #151515;
}
.sidebar_ded4b5 .liveSmall-1Urjcy.textBadge-1fdDPJ, .sidebar__9e3e2 .liveSmall-1Urjcy.textBadge-1fdDPJ {
  border-radius: 4px;
  color: #151515;
  background-color: #fa4a4a !important;
}
.sidebar_ded4b5 .channel_c21703, .sidebar__9e3e2 .channel_c21703 {
  margin-bottom: 4px;
}
.sidebar_ded4b5 .channel_c21703 .interactive__776ee, .sidebar__9e3e2 .channel_c21703 .interactive__776ee {
  position: relative;
  overflow: hidden;
}
.sidebar_ded4b5 .channel_c21703 .interactive__776ee::before, .sidebar__9e3e2 .channel_c21703 .interactive__776ee::before {
  border-radius: 50%;
  background-color: rgba(55, 55, 55, 0.6);
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 0;
  height: 0;
  transition: all 0.5s ease-out;
  opacity: 0;
}
.sidebar_ded4b5 .channel_c21703 .interactive__776ee.interactiveSelected_ec846b::before, .sidebar__9e3e2 .channel_c21703 .interactive__776ee.interactiveSelected_ec846b::before {
  width: 230px;
  height: 230px;
  animation: ripple-effect-for-channels 0.35s;
  animation-iteration-count: 1;
}
.sidebar_ded4b5 .channel_c21703 .interactive__776ee:active, .sidebar_ded4b5 .channel_c21703 .interactive__776ee:active .closeButton__8f1fd, .sidebar_ded4b5 .channel_c21703 .interactiveSelected_ec846b, .sidebar_ded4b5 .channel_c21703 .highlighted-3PcOfB, .sidebar__9e3e2 .channel_c21703 .interactive__776ee:active, .sidebar__9e3e2 .channel_c21703 .interactive__776ee:active .closeButton__8f1fd, .sidebar__9e3e2 .channel_c21703 .interactiveSelected_ec846b, .sidebar__9e3e2 .channel_c21703 .highlighted-3PcOfB {
  color: #151515;
}
.sidebar_ded4b5 .channel_c21703 .interactive__776ee:hover, .sidebar_ded4b5 .channel_c21703 .interactive__776ee:hover .closeButton__8f1fd, .sidebar__9e3e2 .channel_c21703 .interactive__776ee:hover, .sidebar__9e3e2 .channel_c21703 .interactive__776ee:hover .closeButton__8f1fd {
  color: #ffffff;
}
.sidebar_ded4b5 .channel_c21703 .interactive__776ee:focus-within, .sidebar_ded4b5 .channel_c21703 .interactive__776ee.interactiveSelected_ec846b, .sidebar__9e3e2 .channel_c21703 .interactive__776ee:focus-within, .sidebar__9e3e2 .channel_c21703 .interactive__776ee.interactiveSelected_ec846b {
  color: #151515;
  background-color: #d1d1d1;
}
.sidebar_ded4b5 .channel_c21703 .interactive__776ee:focus-within .closeButton__8f1fd, .sidebar_ded4b5 .channel_c21703 .interactive__776ee.interactiveSelected_ec846b .closeButton__8f1fd, .sidebar__9e3e2 .channel_c21703 .interactive__776ee:focus-within .closeButton__8f1fd, .sidebar__9e3e2 .channel_c21703 .interactive__776ee.interactiveSelected_ec846b .closeButton__8f1fd {
  color: #151515;
}
.sidebar_ded4b5 .channel_c21703 .interactive__776ee, .sidebar__9e3e2 .channel_c21703 .interactive__776ee {
  border-radius: 8px;
}
.sidebar_ded4b5 .item__48dda, .sidebar__9e3e2 .item__48dda {
  border-radius: 6px;
  overflow: hidden;
}
.sidebar_ded4b5 .item__48dda::after, .sidebar__9e3e2 .item__48dda::after {
  border-radius: 50%;
  background-color: rgba(55, 55, 55, 0.6);
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 0;
  height: 0;
  transition: all 0.5s ease-out;
  opacity: 0;
}
.sidebar_ded4b5 .selected__5711d.item__48dda::after, .sidebar__9e3e2 .selected__5711d.item__48dda::after {
  width: 230px;
  height: 230px;
  animation: ripple-effect-for-channels 0.35s;
  animation-iteration-count: 1;
}
.sidebar_ded4b5 .item__48dda:active, .sidebar_ded4b5 .selected__5711d.item__48dda:active, .sidebar_ded4b5 .selected__5711d.item__48dda, .sidebar_ded4b5 .premiumLabel_f2cd55.selected_d25ad4, .sidebar__9e3e2 .item__48dda:active, .sidebar__9e3e2 .selected__5711d.item__48dda:active, .sidebar__9e3e2 .selected__5711d.item__48dda, .sidebar__9e3e2 .premiumLabel_f2cd55.selected_d25ad4 {
  color: #151515;
}
.sidebar_ded4b5 .side_b4b3f6 .selected__5711d.item__48dda:hover, .sidebar__9e3e2 .side_b4b3f6 .selected__5711d.item__48dda:hover {
  background-color: var(--background-modifier-selected);
}
.sidebar_ded4b5 .side_b4b3f6 .item__48dda[aria-controls=delete-tab], .sidebar__9e3e2 .side_b4b3f6 .item__48dda[aria-controls=delete-tab] {
  color: #fb7c7c !important;
  transition: all 0.3s;
}
.sidebar_ded4b5 .side_b4b3f6 .item__48dda[aria-controls=delete-tab]:hover:not(.disabled-1nofHP), .sidebar_ded4b5 .side-2ur1Qk .item__48dda[aria-controls=delete-tab]:active:not(.disabled-1nofHP), .sidebar__9e3e2 .side_b4b3f6 .item__48dda[aria-controls=delete-tab]:hover:not(.disabled-1nofHP), .sidebar__9e3e2 .side-2ur1Qk .item__48dda[aria-controls=delete-tab]:active:not(.disabled-1nofHP) {
  background-color: #fa4a4a;
  color: #151515 !important;
}

.wrapper-NhbLHG:active:active .content-1gYQeQ * {
  color: #151515;
}

[class*=listDefault] [class*=voiceUser][class*=selected] [class*=username] {
  color: #151515;
}

.membersWrap__90226, .container_b2ce9c {
  margin: 10px 10px 10px 0;
  border-radius: 12px;
  height: auto;
  overflow: hidden;
}

.container_b2ce9c .membersWrap__90226, .membersWrap__90226 {
  border-radius: 12px;
}
.container_b2ce9c .membersWrap__90226 .members__9f47b, .membersWrap__90226 .members__9f47b {
  border-radius: inherit;
}
.container_b2ce9c .membersWrap__90226 .layout_bb8e67, .membersWrap__90226 .layout_bb8e67 {
  position: relative;
  overflow: hidden;
  border-radius: 8px;
}
.container_b2ce9c .membersWrap__90226 .layout_bb8e67 .botTagRegular_c89c9a, .membersWrap__90226 .layout_bb8e67 .botTagRegular_c89c9a {
  color: #151515;
}
.container_b2ce9c .membersWrap__90226 .layout_bb8e67::after, .membersWrap__90226 .layout_bb8e67::after {
  border-radius: 50%;
  background-color: rgba(55, 55, 55, 0.6);
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 0;
  height: 0;
  transition: all 0.5s ease-out;
  opacity: 0;
}
.container_b2ce9c .membersWrap__90226 .member_aa4760.selected__9800b .layout_bb8e67::after, .membersWrap__90226 .member_aa4760.selected__9800b .layout_bb8e67::after {
  width: 230px;
  height: 230px;
  animation: ripple-effect-for-channels 0.35s;
  animation-iteration-count: 1;
}
.container_b2ce9c .membersWrap__90226 .member_aa4760.selected__9800b .layout_bb8e67 .content_a6999d *, .membersWrap__90226 .member_aa4760.selected__9800b .layout_bb8e67 .content_a6999d * {
  color: #151515;
}
.container_b2ce9c .membersWrap__90226 .member_aa4760:active .layout_bb8e67 .content_a6999d *, .membersWrap__90226 .member_aa4760:active .layout_bb8e67 .content_a6999d * {
  color: #909090;
}

.nowPlayingColumn_f5023f {
  background: #1b1b1b;
  border-radius: 12px;
  margin: 0 10px 10px 10px;
}
.nowPlayingColumn_f5023f .container__0a6a9 {
  background-color: transparent;
}
.nowPlayingColumn_f5023f .container__0a6a9 .scroller__00e7e {
  border: none;
}

.resizeHandle-PBRzPC {
  display: none;
}

.searchResultsWrap-5RVOkx {
  border-radius: 12px;
  margin: 0 10px 10px 0;
}
.searchResultsWrap-5RVOkx header .searchHeaderTabList-3CZMQB .item-3XjbnG {
  border-radius: 6px;
}
.searchResultsWrap-5RVOkx header .searchHeaderTabList-3CZMQB .item-3XjbnG.selected-g-kMVV {
  color: #151515;
}
.searchResultsWrap-5RVOkx header .searchHeaderTabList-3CZMQB .item-3XjbnG.selected-g-kMVV:hover {
  color: #ffffff;
}

.container-3XgAHv {
  background: transparent;
  width: auto !important;
  max-width: 450px;
}
.container-3XgAHv .container-ZMc96U {
  height: 40px;
}
.container-3XgAHv section.container-1RZJZM[aria-label="Create Thread"] .container-ZMc96U {
  margin: 10px 10px 10px 0;
}
.container-3XgAHv section.container-1RZJZM[aria-label="Create Thread"] .chat-1rZYgu {
  background-color: #1b1b1b;
  margin: 0 10px 10px 0;
  border-radius: 12px;
}

.title_b7d661, .container__11d72 {
  width: auto;
}
.title_b7d661 .searchBar_e0c60b, .container__11d72 .searchBar_e0c60b {
  background-color: unset;
}
.title_b7d661 a.anchor_c8ddc0 div svg, .title_b7d661 a.anchor_c8ddc0:hover div svg, .container__11d72 a.anchor_c8ddc0 div svg, .container__11d72 a.anchor_c8ddc0:hover div svg {
  color: #faa483;
}
.title_b7d661 .children__32014::after, .container__11d72 .children__32014::after {
  background: -webkit-gradient(linear, left top, right top, from(rgba(54, 57, 63, 0)), to(#1b1b1b));
  background: linear-gradient(90deg, rgba(54, 57, 63, 0) 0, #1b1b1b);
}

.container__11d72.themed_b152d4, [class*=topControls] [class*=headerWrapper] {
  border-radius: 12px;
  margin: 10px 10px 0 10px;
  background: #1b1b1b;
}
.container__11d72.themed_b152d4 .children__32014 .tabBar__73938 [role=tab], [class*=topControls] [class*=headerWrapper] .children__32014 .tabBar__73938 [role=tab] {
  border-radius: 6px;
}
.container__11d72.themed_b152d4 .children__32014 .tabBar__73938 [role=tab][aria-selected=true], [class*=topControls] [class*=headerWrapper] .children__32014 .tabBar__73938 [role=tab][aria-selected=true] {
  color: #151515;
}
.container__11d72.themed_b152d4 .children__32014 .tabBar__73938 [role=tab][aria-selected=true]:focus-within, [class*=topControls] [class*=headerWrapper] .children__32014 .tabBar__73938 [role=tab][aria-selected=true]:focus-within {
  color: #151515;
}
.container__11d72.themed_b152d4 .children__32014 .tabBar__73938 [role=tab][aria-selected=true]:hover, [class*=topControls] [class*=headerWrapper] .children__32014 .tabBar__73938 [role=tab][aria-selected=true]:hover {
  color: #ffffff;
}
.container__11d72.themed_b152d4 .children__32014 .tabBar__73938 .addFriend__80542[role=tab], [class*=topControls] [class*=headerWrapper] .children__32014 .tabBar__73938 .addFriend__80542[role=tab] {
  color: #151515 !important;
  background-color: #4cd9a4 !important;
  transition: filter 0.2s;
}
.container__11d72.themed_b152d4 .children__32014 .tabBar__73938 .addFriend__80542[role=tab]:hover, [class*=topControls] [class*=headerWrapper] .children__32014 .tabBar__73938 .addFriend__80542[role=tab]:hover {
  filter: brightness(0.8);
}
.container__11d72.themed_b152d4.title_b7d661[aria-label="Channel header"], [class*=topControls] [class*=headerWrapper].title_b7d661[aria-label="Channel header"] {
  position: relative;
  border: none;
  padding: 0;
}
.container__11d72.themed_b152d4.title_b7d661[aria-label="Channel header"] .children__32014, [class*=topControls] [class*=headerWrapper].title_b7d661[aria-label="Channel header"] .children__32014 {
  background: #1b1b1b;
  padding: 0 12px;
  border-radius: 12px 0 0 12px;
}
.container__11d72.themed_b152d4.title_b7d661[aria-label="Channel header"] .toolbar__88c63, [class*=topControls] [class*=headerWrapper].title_b7d661[aria-label="Channel header"] .toolbar__88c63 {
  background: transparent;
  border-radius: 0 12px 12px 0;
}
.container__11d72.themed_b152d4.title_b7d661[aria-label="Channel header"] .toolbar__88c63 .icon__88ea8, .container__11d72.themed_b152d4.title_b7d661[aria-label="Channel header"] .toolbar__88c63 .iconWrapper_af9215[aria-label="Start Voice Call"], [class*=topControls] [class*=headerWrapper].title_b7d661[aria-label="Channel header"] .toolbar__88c63 .icon__88ea8, [class*=topControls] [class*=headerWrapper].title_b7d661[aria-label="Channel header"] .toolbar__88c63 .iconWrapper_af9215[aria-label="Start Voice Call"] {
  padding-left: 16px !important;
  border-radius: 12px 0 0 12px;
}
.container__11d72.themed_b152d4.title_b7d661[aria-label="Channel header"] .toolbar__88c63 .anchor_c8ddc0 .iconWrapper_af9215, [class*=topControls] [class*=headerWrapper].title_b7d661[aria-label="Channel header"] .toolbar__88c63 .anchor_c8ddc0 .iconWrapper_af9215 {
  padding-right: 16px;
  border-radius: 0 12px 12px 0;
}
.container__11d72.themed_b152d4.title_b7d661[aria-label="Channel header"] .toolbar__88c63 .iconWrapper_af9215, [class*=topControls] [class*=headerWrapper].title_b7d661[aria-label="Channel header"] .toolbar__88c63 .iconWrapper_af9215 {
  background: #1b1b1b;
  margin: 0;
  padding: 0 7.6px;
  height: 48px;
  display: flex;
  align-items: center;
}
.container__11d72.themed_b152d4.title_b7d661[aria-label="Channel header"] .toolbar__88c63 .iconWrapper_af9215 svg, [class*=topControls] [class*=headerWrapper].title_b7d661[aria-label="Channel header"] .toolbar__88c63 .iconWrapper_af9215 svg {
  width: 24px;
}
.container__11d72.themed_b152d4.title_b7d661[aria-label="Channel header"] .toolbar__88c63 .iconWrapper_af9215 .iconBadge_cc5031, [class*=topControls] [class*=headerWrapper].title_b7d661[aria-label="Channel header"] .toolbar__88c63 .iconWrapper_af9215 .iconBadge_cc5031 {
  bottom: 12px;
  right: 10px;
  background: #fb7c7c;
  width: 6px;
  height: 6px;
}
.container__11d72.themed_b152d4.title_b7d661[aria-label="Channel header"] .toolbar__88c63 .searchBar_e0c60b, [class*=topControls] [class*=headerWrapper].title_b7d661[aria-label="Channel header"] .toolbar__88c63 .searchBar_e0c60b {
  margin: 0 10px 0 0;
  order: -1;
  background: #1b1b1b;
  border-radius: 0 12px 12px 0;
  transition: all 0.25s ease;
  -webkit-transition: width 0.25s ease;
}

.title_b7d661.container__11d72.themed_b152d4 {
  background: #1b1b1b;
}

[id=popout_38] .menu-1QACrS.styleFixed-2_NfVL .item-1OdjEX {
  border-radius: 8px;
}
[id=popout_38] .menu-1QACrS.styleFixed-2_NfVL .item-1OdjEX.colorDanger-3n-KnP.focused-3qFvc8, [id=popout_38] .menu-1QACrS.styleFixed-2_NfVL .item-1OdjEX.colorDanger-3n-KnP:active:not(.hideInteraction-2jPGL_) {
  color: #151515;
}

button {
  border-radius: 8px !important;
}

.theme-dark, .theme-light {
  /* colorBrand */
  /* colorGrey */
  /* colorRed */
  /* colorPrimary */
  /* colorWhite */
  /* lookInverted */
  /* colorGreen */
  /* lookOutlined */
  /* colorPrimary */
}
.theme-dark [class*=lookFilled][class*=colorBrand]:not([class*=colorWhite]), .theme-light [class*=lookFilled][class*=colorBrand]:not([class*=colorWhite]) {
  color: #151515;
  background-color: #4cd9a4;
  transition: filter 0.3s;
}
.theme-dark [class*=lookFilled][class*=colorBrand]:not([class*=colorWhite]):hover, .theme-light [class*=lookFilled][class*=colorBrand]:not([class*=colorWhite]):hover {
  color: #151515;
  background-color: #4cd9a4;
  filter: brightness(0.8);
}
.theme-dark [class*=lookFilled][class*=colorBrand]:not([class*=colorWhite]) [class*=defaultColor], .theme-light [class*=lookFilled][class*=colorBrand]:not([class*=colorWhite]) [class*=defaultColor] {
  color: #151515;
}
.theme-dark [class*=lookFilled][class*=colorGrey], .theme-light [class*=lookFilled][class*=colorGrey] {
  color: #151515;
  background-color: #d1d1d1;
  transition: filter 0.3s;
}
.theme-dark [class*=lookFilled][class*=colorGrey]:hover, .theme-light [class*=lookFilled][class*=colorGrey]:hover {
  color: #151515;
  background-color: #d1d1d1;
  filter: brightness(0.8);
}
.theme-dark [class*=lookFilled][class*=colorRed], .theme-light [class*=lookFilled][class*=colorRed] {
  color: #151515;
  background-color: #fb7c7c;
  transition: background-color 0.3s;
}
.theme-dark [class*=lookFilled][class*=colorRed]:hover, .theme-light [class*=lookFilled][class*=colorRed]:hover {
  color: #151515;
  background-color: #fa4a4a;
}
.theme-dark [class*=lookFilled][class*=colorPrimary], .theme-light [class*=lookFilled][class*=colorPrimary] {
  color: #151515;
  background-color: #d1d1d1;
  transition: filter 0.3s;
}
.theme-dark [class*=lookFilled][class*=colorPrimary]:hover, .theme-light [class*=lookFilled][class*=colorPrimary]:hover {
  color: #151515;
  background-color: #d1d1d1;
  filter: brightness(0.8);
}
.theme-dark [class*=lookFilled][class*=colorPrimary] [class*=defaultColor], .theme-light [class*=lookFilled][class*=colorPrimary] [class*=defaultColor] {
  color: #151515;
}
.theme-dark [class*=lookFilled][class*=colorWhite]:not(.colorWhite-1H92hK), .theme-dark [class*=lookFilled][class*=colorWhite]:not(.colorWhite-1H92hK) *, .theme-light [class*=lookFilled][class*=colorWhite]:not(.colorWhite-1H92hK), .theme-light [class*=lookFilled][class*=colorWhite]:not(.colorWhite-1H92hK) * {
  color: #151515;
  background-color: #d1d1d1;
  transition: filter 0.3s;
}
.theme-dark [class*=lookFilled][class*=colorWhite]:not(.colorWhite-1H92hK):active, .theme-light [class*=lookFilled][class*=colorWhite]:not(.colorWhite-1H92hK):active {
  filter: brightness(0.8);
}
.theme-dark [class*=lookInverted][class*=colorBrand], .theme-light [class*=lookInverted][class*=colorBrand] {
  color: #151515;
  background-color: #d1d1d1;
  transition: filter 0.3s;
}
.theme-dark [class*=lookInverted][class*=colorBrand]:hover, .theme-light [class*=lookInverted][class*=colorBrand]:hover {
  filter: brightness(0.9);
}
.theme-dark [class*=lookFilled][class*=colorGreen], .theme-light [class*=lookFilled][class*=colorGreen] {
  color: #151515;
  background-color: #4cd9a4;
  transition: filter 0.3s;
}
.theme-dark [class*=lookFilled][class*=colorGreen]:hover, .theme-light [class*=lookFilled][class*=colorGreen]:hover {
  filter: brightness(0.8);
}
.theme-dark [class*=lookOutlined][class*=colorRed], .theme-light [class*=lookOutlined][class*=colorRed] {
  color: #fb7c7c;
  border-color: #fb7c7c;
  transition: all 0.3s;
}
.theme-dark [class*=lookOutlined][class*=colorRed]:hover, .theme-light [class*=lookOutlined][class*=colorRed]:hover {
  color: #fa4a4a;
  background-color: transparent;
  border-color: #fa4a4a;
}
.theme-dark [class*=lookOutlined][class*=colorPrimary], .theme-light [class*=lookOutlined][class*=colorPrimary] {
  transition: border-color 0.3s;
}
.theme-dark [class*=lookOutlined][class*=colorPrimary]:hover, .theme-light [class*=lookOutlined][class*=colorPrimary]:hover {
  border-color: #191919;
}

.group-1_ptLP.flex-3BkGQD .item-2OyinQ.selectorButton-3fWZ0_.selectorButtonSelected-3cQUnj * {
  color: #151515;
}

.item-2idW98.itemFilled-1cPbtg[aria-checked=true] {
  color: #151515;
}
.item-2idW98.itemFilled-1cPbtg[aria-checked=true] .radioIconForeground-2BMavi {
  color: #151515;
}

.item-2idW98.itemFilled-1cPbtg:active:not([aria-checked=true]):not(.disabled-3tqE8r) {
  color: #151515;
}

.popout-1KHNAq.scrollerBase-_bVAAt .option-2eIyOn[aria-selected=true]:not(.option-2eIyOn.multi-1HXDiv) {
  color: #151515;
}

.chat__52833 {
  background: #222222;
}

::-webkit-scrollbar {
  transition: all 0.2s;
}

::-webkit-scrollbar-track {
  background-color: transparent !important;
}
::-webkit-scrollbar-track:hover {
  background-color: rgba(230, 230, 230, 0.06) !important;
}

::-webkit-scrollbar-thumb:active {
  background-color: #e6e6e6;
}

.scrollerSpacer__9cd32 {
  height: 12px;
}

.messagesWrapper_ea2b0b {
  margin: 10px 10px 10px 10px;
  border-radius: 12px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 3px 4px 2px;
  background: #202020;
  overflow: hidden;
}
.messagesWrapper_ea2b0b .buttonContainer_dd4b62 .wrapper_c727b6 {
  border-radius: 8px;
}
.messagesWrapper_ea2b0b .buttonContainer_dd4b62 .wrapper_c727b6 div[aria-expanded=true] {
  color: #151515;
}
.messagesWrapper_ea2b0b ol li .message-2CShn3 {
  border-radius: 0 6px 6px 0;
}
.messagesWrapper_ea2b0b ol li .message-2CShn3 .repliedMessage-3Z6XBG::before {
  border-color: rgba(230, 230, 230, 0.2);
}
.messagesWrapper_ea2b0b ol li .message-2CShn3 .embedWrapper-1MtIDg, .messagesWrapper_ea2b0b ol li .message-2CShn3 .container-2sjPya .wrapper-1HIH0j {
  border-radius: 8px;
}
.messagesWrapper_ea2b0b ol li .message-2CShn3 .reaction-2A2y9y.reactionMe-3I9gFK .reactionCount-1zkLcN {
  color: #ffffff;
}
.messagesWrapper_ea2b0b ol div.divider__8cf56[id="---new-messages-bar"] {
  border-color: #fb7c7c;
}
.messagesWrapper_ea2b0b ol div.divider__8cf56[id="---new-messages-bar"] .content_d67847, .messagesWrapper_ea2b0b ol div.divider__8cf56[id="---new-messages-bar"] .unreadPillCapStroke__12c0b {
  color: #fb7c7c;
}
.messagesWrapper_ea2b0b ol div.divider__8cf56[id="---new-messages-bar"] .unreadPill__715fc {
  color: #151515;
  background-color: #fb7c7c;
}
.messagesWrapper_ea2b0b ol div.divider__8cf56[id="---new-messages-bar"] .unreadPill__715fc svg path {
  fill: #fb7c7c;
}
.messagesWrapper_ea2b0b [class*=newMessagesBar] {
  margin-top: 6px;
  border-radius: 8px;
  padding: 2px;
  background-color: rgba(230, 230, 230, 0.7);
}
.messagesWrapper_ea2b0b [class*=newMessagesBar].barBase-1c2Rfb {
  left: 10px;
}
.messagesWrapper_ea2b0b [class*=newMessagesBar] button {
  color: #151515 !important;
}
.messagesWrapper_ea2b0b [class*=jumpToPresentBar] {
  margin-bottom: 6px;
  padding: 2px;
  bottom: 0;
  border-radius: 8px;
  background-color: rgba(230, 230, 230, 0.7);
}
.messagesWrapper_ea2b0b [class*=jumpToPresentBar].barBase-1c2Rfb {
  left: 10px;
}
.messagesWrapper_ea2b0b [class*=jumpToPresentBar]:active {
  margin-bottom: 6px;
  padding: 2px;
}
.messagesWrapper_ea2b0b [class*=jumpToPresentBar] button {
  color: #151515 !important;
}

.divider__8cf56 {
  border-top: thin solid rgba(230, 230, 230, 0.06);
}

.mention, .px__97c6b.botTag__4211a .botTagRegular_c89c9a, .botTagVerified_a8fa0b {
  border-radius: 4px;
}

.mention {
  transition: filter 0.3s;
}

.mention.interactive:hover {
  color: #151515;
  filter: brightness(0.8);
}

.botTagRegular_c89c9a {
  color: #151515;
  background-color: #4cd9a4;
}

.botTagVerified_a8fa0b {
  color: #151515;
  background-color: #4cd9a4;
}

#popout_3642 .menu-1QACrS .item-1OdjEX {
  border-radius: 4px;
}
#popout_3642 .menu-1QACrS .colorDanger-3n-KnP.focused-3qFvc8 {
  background-color: #fa4a4a;
  color: #151515;
}
#popout_3642 .menu-1QACrS .colorDanger-3n-KnP:active:not(.hideInteraction-2jPGL_) {
  background-color: #fa4a4a;
  color: #151515;
}

#popout_3529 .item-1OdjEX {
  border-radius: 4px;
}
#popout_3529 .item-1OdjEX .newBadge-1bHewI {
  color: #151515;
  background-color: #fb7c7c !important;
}
#popout_3529 .item-1OdjEX:active:not(.hideInteraction-2jPGL_) {
  background-color: rgba(230, 230, 230, 0.2);
}

.theme-dark .root_a28985 {
  background-color: #202020;
}

[role=dialog][aria-label="User Profile Modal"] .root-8LYsGj {
  border-radius: 12px;
}
[role=dialog][aria-label="User Profile Modal"] .root-8LYsGj .connectedAccount-1xKpli {
  border-radius: 8px;
  background-color: rgba(230, 230, 230, 0.06);
}

.modal-3Hrb0S {
  border-radius: 8px;
}

.container-2McqkF[role=listbox] {
  transform: translateX(-85px);
  border-radius: 8px;
}

.resultsGroup-1BPR25 {
  background-color: #191919;
}
.resultsGroup-1BPR25 .searchLearnMore-7__o_n a.anchor-1MIwyf {
  color: #faa483 !important;
}
.resultsGroup-1BPR25 .option-2KkUJO {
  border-radius: 6px;
}
.resultsGroup-1BPR25 .option-2KkUJO .filter-5YbOzJ {
  color: #ffffff;
}
.resultsGroup-1BPR25 .option-2KkUJO .answer-2fBfuP {
  color: #909090;
}
.resultsGroup-1BPR25 .option-2KkUJO:after {
  background: linear-gradient(90deg, rgba(54, 57, 63, 0), #1b1b1b 80%);
}

.queryContainer-ZunrLZ {
  color: #ffffff !important;
  background-color: #151515 !important;
  border-bottom: 1px solid rgba(255, 255, 255, 0.06);
}

.menu-1QACrS .item-1OdjEX {
  border-radius: 6px;
}
.menu-1QACrS .item-1OdjEX.colorDanger-3n-KnP:hover, .menu-1QACrS .item-1OdjEX.colorDanger-3n-KnP:active {
  background: #fa4a4a;
  color: #151515;
}

.quickswitcher-pKcM9U .result-u66Ywh {
  border-radius: 6px;
}
.quickswitcher-pKcM9U .result-u66Ywh[aria-selected=true] .name-3qeTY-, .quickswitcher-pKcM9U .result-u66Ywh[aria-selected=true] .misc-XwBATi, .quickswitcher-pKcM9U .result-u66Ywh[aria-selected=true] .iconContainer-XRODjt svg {
  color: #151515;
}

:root .footer-31IekZ {
  background-color: #151515;
  border-top: 1px solid rgba(255, 255, 255, 0.06);
}

#popout_80 .gridUpsellContainer-2yRge0 {
  background-color: #151515;
}
#popout_80 .upsellTooltipWrapper-1wqikQ.caretTopCenter-1wqGIE::after {
  border-bottom-color: #151515;
}

.focusLock-2tveLW .scrollBackgroundContainer-1gy1Hx * {
  background-color: #1b1b1b;
}
.focusLock-2tveLW .scrollContainer-1C3AzW .scrollSection-HnJkHK {
  background-color: #1b1b1b;
}

.tooltipBrand-20XsMA .tooltipContent-Nejnvh {
  color: #151515;
}
.tooltipBrand-20XsMA .tooltipContent-Nejnvh .defaultColor-1EVLSt {
  color: #151515;
}

.contentRegion-3HkfJJ .closeButton-PCZcma {
  border: none;
  position: relative;
  transition: all 0.3s;
}
.contentRegion-3HkfJJ .closeButton-PCZcma:hover {
  background-color: unset;
  top: -2px;
}
.contentRegion-3HkfJJ .keybind-13vtq8 {
  display: none;
}
.contentRegion-3HkfJJ .inputDefault-3FGxgL, .contentRegion-3HkfJJ .select-1Ia3hD, .contentRegion-3HkfJJ .item-2idW98, .contentRegion-3HkfJJ .searchContainer-16qhPt .container-2oNtJn {
  border-radius: 6px;
}
.contentRegion-3HkfJJ .select-1Ia3hD.open-1FRZsK {
  border-radius: 6px 6px 0 0;
}
.contentRegion-3HkfJJ .popout-1KHNAq {
  border-radius: 0 0 6px 6px;
}

.bd-switch .bd-switch-body, .bd-switch .container-2nx-BQ, .control-1fl03- .bd-switch-body, .control-1fl03- .container-2nx-BQ {
  background-color: rgba(230, 230, 230, 0.2) !important;
}
.bd-switch .bd-switch-body svg rect, .bd-switch .bd-switch-body .slider-32CRPX[style="left: -3px;"] rect, .bd-switch .container-2nx-BQ svg rect, .bd-switch .container-2nx-BQ .slider-32CRPX[style="left: -3px;"] rect, .control-1fl03- .bd-switch-body svg rect, .control-1fl03- .bd-switch-body .slider-32CRPX[style="left: -3px;"] rect, .control-1fl03- .container-2nx-BQ svg rect, .control-1fl03- .container-2nx-BQ .slider-32CRPX[style="left: -3px;"] rect {
  fill: #202020 !important;
}
.bd-switch .bd-switch-body svg .bd-switch-symbol path, .bd-switch .bd-switch-body svg svg path, .bd-switch .bd-switch-body .slider-32CRPX[style="left: -3px;"] .bd-switch-symbol path, .bd-switch .bd-switch-body .slider-32CRPX[style="left: -3px;"] svg path, .bd-switch .container-2nx-BQ svg .bd-switch-symbol path, .bd-switch .container-2nx-BQ svg svg path, .bd-switch .container-2nx-BQ .slider-32CRPX[style="left: -3px;"] .bd-switch-symbol path, .bd-switch .container-2nx-BQ .slider-32CRPX[style="left: -3px;"] svg path, .control-1fl03- .bd-switch-body svg .bd-switch-symbol path, .control-1fl03- .bd-switch-body svg svg path, .control-1fl03- .bd-switch-body .slider-32CRPX[style="left: -3px;"] .bd-switch-symbol path, .control-1fl03- .bd-switch-body .slider-32CRPX[style="left: -3px;"] svg path, .control-1fl03- .container-2nx-BQ svg .bd-switch-symbol path, .control-1fl03- .container-2nx-BQ svg svg path, .control-1fl03- .container-2nx-BQ .slider-32CRPX[style="left: -3px;"] .bd-switch-symbol path, .control-1fl03- .container-2nx-BQ .slider-32CRPX[style="left: -3px;"] svg path {
  fill: #fb7c7c;
}
.bd-switch .bd-switch-body .slider-32CRPX svg path, .bd-switch .container-2nx-BQ .slider-32CRPX svg path, .control-1fl03- .bd-switch-body .slider-32CRPX svg path, .control-1fl03- .container-2nx-BQ .slider-32CRPX svg path {
  fill: #4cd9a4;
}
.bd-switch.bd-switch-checked .bd-switch-symbol path, .control-1fl03-.bd-switch-checked .bd-switch-symbol path {
  fill: #4cd9a4 !important;
}

.checkboxWrapper-2fDzaA.checked-1pZh2h .checkbox-f1HnKB {
  background-color: #4cd9a4 !important;
  border-color: #4cd9a4 !important;
}
.checkboxWrapper-2fDzaA.checked-1pZh2h .checkbox-f1HnKB svg path {
  fill: #151515;
}

.connection-107AGH .connectionHeader-2rV1ze {
  border-bottom: 1px solid rgba(230, 230, 230, 0.06);
}

.keybindShortcut-3zF1P9 span {
  background-color: #ffffff !important;
  border: 1px solid rgba(255, 255, 255, 0.06) !important;
  color: #151515 !important;
  border-radius: 6px !important;
  cursor: default;
}
.keybindShortcut-3zF1P9 span svg * {
  fill: #151515;
}

.membershipDialog-2wAdpQ {
  border-radius: 8px;
}
.membershipDialog-2wAdpQ .membershipDialogContent-2TpsY- .flex-2S1XBF .flexChild-3PzYmX div {
  color: #151515;
}
.membershipDialog-2wAdpQ .membershipDialogContent-2TpsY- .flex-2S1XBF .flexChild-3PzYmX h3 {
  font-family: "Poppins";
  letter-spacing: 1px;
  color: #151515;
}
.membershipDialog-2wAdpQ .membershipDialogContent-2TpsY- .colorStandard-21JIj7 {
  border-color: 1px solid rgba(255, 255, 255, 0.06);
  color: #151515;
}
.membershipDialog-2wAdpQ .membershipDialogContent-2TpsY- .colorStandard-21JIj7 span {
  color: #151515;
}
.membershipDialog-2wAdpQ .membershipDialogContent-2TpsY- .colorStandard-21JIj7 span:hover {
  filter: brightness(0.9);
}

.videoWrapper-1_H3B3 {
  border-radius: 12px;
}

.warning-RBGtx2 {
  color: #151515;
  border: none;
  border-radius: 8px;
}
.warning-RBGtx2 .iconDiv-3ISDKO svg {
  color: #151515;
}

.codeRedemptionRedirect-3SBiCp {
  border-radius: 6px;
  background-color: rgba(230, 230, 230, 0.06) !important;
  color: #ffffff !important;
  border: none;
}

.guilds__2b93a.wrapper_a7e7a8 {
  margin: 10px;
  background-color: transparent;
  border-radius: 12px;
}
.guilds__2b93a.wrapper_a7e7a8 ul[role=tree] .scroller__3d071 {
  background-color: #151515;
}
.guilds__2b93a.wrapper_a7e7a8 .lowerBadge-3WTshO div {
  color: #151515;
  background-color: #fa4a4a !important;
}
.guilds__2b93a.wrapper_a7e7a8 .wrapper_d281dd.selected_f5ec8e .childWrapper__01b9c, .guilds__2b93a.wrapper_a7e7a8 .wrapper_d281dd.selected_f5ec8e .wrapper__3af0b:hover .childWrapper__01b9c {
  color: #151515;
}
.guilds__2b93a.wrapper_a7e7a8 .wrapper_d281dd[data-list-item-id=guildsnav___home].selected_f5ec8e .childWrapper__01b9c {
  color: #151515;
  background-color: #e6e6e6;
}
.guilds__2b93a.wrapper_a7e7a8 .wrapper_d281dd[data-list-item-id=guildsnav___home] .childWrapper__01b9c {
  color: #ffffff;
}

.circleIconButton_d8df29 {
  color: #ffffff;
}
.circleIconButton_d8df29.selected__5250e {
  color: #151515;
  background-color: #e6e6e6;
}

.content-1SgpWY .container-2cd8Mz {
  background-color: #222222;
}

.content-1jQy2l:before {
  display: none;
}

.tabBody_b3d268:before {
  display: none;
}

.tabBody_b3d268 .peopleColumn__51df3 {
  background-color: #222222;
}

.bg__12180 {
  background-color: #222222;
}

.peopleListItem_d14722 {
  border-top: 1px solid rgba(255, 255, 255, 0.06);
}

.videoControls-353CsJ .justifyCenter-rrurWZ .wrapper-3t3Yqv div button[aria-label=Disconnect], .panels__58331 .container_d667ff button[aria-label=Disconnect] {
  background-color: #fb7c7c;
  color: #151515;
}
.videoControls-353CsJ .justifyCenter-rrurWZ .wrapper-3t3Yqv div button[aria-label=Disconnect] div svg, .panels__58331 .container_d667ff button[aria-label=Disconnect] div svg {
  color: inherit;
}

.panels__58331 .container_d667ff {
  border-radius: 12px 12px 0 0;
}

.videoControls__40f61 .justifyCenter__4080c .wrapper__3f3a7 div {
  border-radius: 100%;
}
.videoControls__40f61 .justifyCenter__4080c .wrapper__3f3a7 div div:first-of-type:hover {
  border-radius: 100% !important;
}
.videoControls__40f61 .justifyCenter__4080c .wrapper__3f3a7 div div:first-of-type div:first-of-type button {
  border-radius: 100% !important;
}
.videoControls__40f61 .justifyCenter__4080c .wrapper__3f3a7 div div:first-of-type div:first-of-type button:hover {
  border-radius: 100% !important;
}

[class*=noChat][class*=video] {
  background-color: transparent;
}

[class*=callContainer] {
  background-color: transparent;
}
[class*=callContainer] [class*=container][class*=transparent] {
  padding: 0;
}
[class*=callContainer] [class*=button][aria-label="Show Chat"] {
  margin: 10px 20px 0 0;
}
[class*=callContainer] [class*=headerWrapper] {
  padding: 0;
}
[class*=callContainer] [class*=videoControls] {
  padding: 0;
}
[class*=callContainer] [class*=videoControls] [class*=gradient] {
  display: none;
}
[class*=callContainer] [class*=videoControls] [class*=bottomControls] {
  padding: 10px 15px;
  margin: 0 10px 10px 10px;
  max-width: calc(100% - 50px);
  background-color: #1b1b1b;
  border-radius: 12px;
  border: 1px solid #323232;
}

.pageWrapper_fef757 {
  background-color: #222222 !important;
}

.sidebar_ded4b5 .categoryItem_b1be5c {
  position: relative;
  overflow: hidden;
  border-radius: 12px;
}
.sidebar_ded4b5 .categoryItem_b1be5c.selected__9800b {
  color: #151515;
}
.sidebar_ded4b5 .categoryItem_b1be5c::before {
  border-radius: 50%;
  background-color: rgba(55, 55, 55, 0.6);
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 0;
  height: 0;
  transition: all 0.5s ease-out;
  opacity: 0;
}
.sidebar_ded4b5 .categoryItem_b1be5c.selected__9800b::before {
  width: 230px;
  height: 230px;
  animation: ripple-effect-for-channels 0.35s;
  animation-iteration-count: 1;
}

.card__86773 {
  padding-top: 40px;
  justify-content: center;
  height: auto;
  min-height: 200px;
  border-radius: 8px;
}
.card__86773 .cardHeader__889e1 {
  height: auto;
}
.card__86773 .cardHeader__889e1 .splash_c32fae {
  display: none;
}

.applicationStore-2nk7Lo {
  margin: 10px 10px 10px 0;
  border-radius: 12px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 3px 4px 2px;
}

.container__5c7e7 .container__0a6a9, .chatContent__5dca8 {
  border-radius: 8px;
}

.notice__5fd4c {
  margin-top: 10px;
  margin-right: 10px;
  border-radius: 8px;
  padding: 2px;
  background-color: rgba(230, 230, 230, 0.7);
  color: #151515;
}
.notice__5fd4c [class*=closeIcon] path {
  fill: #151515;
}
.notice__5fd4c [class*=button] {
  border-color: #151515;
  color: #151515;
}

.chat__52833 .chatContent__5dca8 {
  background: transparent;
}
.chat__52833 .chatContent__5dca8 [class*=banner] [class*=nextIcon] path {
  fill: #151515;
}
.chat__52833 [class*=profilePanel] {
  margin: 10px 10px 10px 0;
  border-radius: 8px;
  overflow: hidden;
}

.container__5c7e7 .nowPlayingColumn_f5023f {
  margin: 0 10px 10px 0;
  background-color: unset;
}

.container__5c7e7 .nowPlayingColumn_f5023f .scroller__00e7e {
  border-left: unset;
}

.container__5c7e7 {
  background-color: unset;
}
.container__5c7e7 .peopleColumn__51df3 {
  margin: 10px 10px 10px 10px;
  border-radius: 8px;
  background-color: #202020;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 3px 4px 2px;
}

.theme-dark [class*=focusLock] [class*=carouselModal], .theme-light [class*=focusLock] [class*=carouselModal] {
  background-color: transparent;
}

.form-3gdLxP, .form__13a2c {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr minmax(min-content, max-content);
  flex-direction: column;
  justify-content: space-between;
  padding: 0;
  margin-bottom: 10px;
  margin-left: 10px;
}
.form-3gdLxP .wrapper_fbbb73, .form__13a2c .wrapper_fbbb73 {
  border-radius: 12px;
  max-width: calc(100% - 10px);
  margin-right: 0;
  margin-top: 10px;
  margin-bottom: auto;
}
.form-3gdLxP .applicationCommandEducation-1stoia, .form__13a2c .applicationCommandEducation-1stoia {
  display: none;
}

.channelTextArea__2e60f, .channelTextArea__56a36 {
  background-color: transparent;
  border-radius: 12px;
  max-width: calc(100% - 10px);
  margin-top: 10px;
  margin-bottom: auto;
}
.channelTextArea__2e60f .attachedBars-2BCP3l, .channelTextArea__56a36 .attachedBars-2BCP3l {
  background-color: #191919;
  border-bottom: 1px solid rgba(255, 255, 255, 0.06);
}
.channelTextArea__2e60f [class*=scrollableContainer], .channelTextArea__56a36 [class*=scrollableContainer] {
  padding: 4px 0 4px 0;
  border-radius: 12px;
}
.channelTextArea__2e60f [class*=scrollableContainer][class*=hasConnectedBar], .channelTextArea__56a36 [class*=scrollableContainer][class*=hasConnectedBar] {
  border-radius: 0px 0px 12px 12px;
}

.form__13a2c::before {
  display: none;
}

.typing__6fd1d {
  max-width: calc(100% - 25px);
  position: relative;
  margin: 6px 0 -4px 4px;
  height: 1rem;
  left: 0;
  color: #909090;
}
.typing__6fd1d .typingDots_d92d42 {
  color: #909090;
}

#app-mount[class*=appMount]::before {
  content: "Your version of Smooth Theme is outdated. Please download the newest version from: <https://datsfilipe.github.io/smooth-theme/>";
  display: var(--theme-version, block);
  background-color: #fb7c7c;
  color: #151515;
  font-size: 14px;
  line-height: 36px;
  font-weight: 400;
  text-align: center;
  z-index: 101;
}

/*Hide "DISCORD" text in top-left corner.*/
[class*=wordmarkWindows] {
  display: none;
}

[class*=panels][aria-label="User area"] [class*=button]:hover [class*=contents] {
  animation: UserModalButtons 0.5s normal ease;
}
[class*=panels][aria-label="User area"] [class*=container] [class*=noWrap] {
  width: 100px;
  opacity: 1;
}
[class*=panels][aria-label="User area"] [class*=button] {
  transition: 0.2s;
}
[class*=panels][aria-label="User area"] [class*=button]:hover {
  padding-bottom: 0px;
  transition: 0.2;
}
@keyframes UserModalButtons {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-5px);
  }
  100% {
    transform: translateY(0px);
  }
}

/*disable discord's laggy settings animation*/
.container-YkUktl .noWrap-hBpHBz {
  width: auto;
}

.layer-86YKbF {
  transform: none !important;
  opacity: 1 !important;
}

.layers-OrUESM > .layer-86YKbF.animating-1rIrGV *,
.layers-OrUESM > .layer-86YKbF.animating-1rIrGV {
  pointer-events: auto !important;
  will-change: unset;
}

.animating-1rIrGV.stop-animations {
  z-index: 100 !important;
}

.panels-3wFtMD > .container-YkUktl .flex-2S1XBF > :not(:last-child) {
  opacity: 0% !important;
  width: 0px;
  transition: all 0.2s ease-in-out;
}

.panels-3wFtMD > .container-YkUktl:hover .flex-2S1XBF > :not(:last-child) {
  opacity: 100% !important;
  width: 32px;
}

/*# sourceMappingURL=custom.css.map */
