/**
 * @name Smooth Theme
 * @version 2.2.1
 * @description Dark theme for discord, Simplicity in two colors, the best theme for you.
 * @author @dtsf#3763 (discord) / @datsfilipe (github)
 * @github: https://github.com/datsfilipe
 * @website https://datsfilipe.github.io/smooth-theme/
*/

@import "https://datsfilipe.github.io/smooth-theme/src/output/custom.css";

:root {
  /* theme version */
  --theme-version: 2.2.1;
}
