$select-border-radius: 6px;
$big-select-border-radius: 8px;
$container-border-radius: 8px;
$button-border-radius: 6px;
$mention-border-radius: 4px;
$embed-border-radius: 8px;
$dialogs-nd-popus-border-radius: 12px;