@use './general-colors' as gc;

// special version control variable
$version2: none;

// colors and more
$header-primary: #ffffff;
$header-secondary: #e6e6e6;
$text-normal: #ffffff;
$text-muted: #909090;
$text-link: gc.$color11;
$text-link-low-saturation: #e6e6e6;
$text-positive: gc.$color11;
$text-warning: gc.$color5;
$text-danger: gc.$color3;
$text-brand: #ffffff;
$text-alt: #151515;
$interactive-normal: #ffffff;
$interactive-hover: #e6e6e6;
$interactive-active: #d1d1d1;
$interactive-muted: #909090;
$dark-border: 1px solid rgba(255,255,255,0.06);
$background-primary: #202020;
$background-secondary: #1b1b1b;
$background-secondary-alt: #191919;
$background-tertiary: #151515;
$background-accent: #202020;
$background-floating: #1b1b1b;
$background-mobile-primary: #202020;
$background-mobile-secondary: #1b1b1b;
$background-modifier-hover: rgba(230, 230, 230, 0.1);
$background-modifier-active: rgba(230, 230, 230, 0.7);
$background-modifier-selected: rgba(230, 230, 230,1);
$background-modifier-accent: rgba(230, 230, 230, 0.2);
$info-positive-text: #e6e6e6;
$info-warning-text: #e6e6e6;
$info-danger-text: #e6e6e6;
$info-help-background: #202020;
$info-help-foreground: #e6e6e6;
$info-help-text: #ffffff;
$status-warning-text: gc.$color5;
$scrollbar-thin-thumb: rgba(230, 230, 230, 0.2);
$scrollbar-thin-track: transparent;
$scrollbar-auto-thumb: rgba(230, 230, 230, 0.2);
$scrollbar-auto-track: rgba(230, 230, 230, 0.06);
$scrollbar-auto-scrollbar-color-thumb: #ffffff;
$scrollbar-auto-scrollbar-color-track: transparent;
$elevation-stroke: 0 0 0 1px rgba(230, 230, 230, 0.06);
$box-shadow: rgba(0, 0, 0, 0.25) 0px 3px 4px 2px;
$elevation-low: rgba(230, 230, 230, 0.05);
$elevation-medium: rgba(0, 0, 0, 0.07) 0px 1px 1px, rgba(0, 0, 0, 0.07) 0px 2px 2px, rgba(0, 0, 0, 0.07) 0px 4px 4px, rgba(0, 0, 0, 0.07) 0px 8px 8px, rgba(0, 0, 0, 0.07) 0px 16px 16px;
$elevation-high: rgba(0, 0, 0, 0.25) 0px 12px 14px, rgba(0, 0, 0, 0.12) 0px -7px 7px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 5px 3px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
$logo-primary: #ffffff;
$control-brand-foreground: #e6e6e6;
$control-brand-foreground-new: #e6e6e6;
$background-mentioned: rgba(230, 230, 230,0.03);
$background-mentioned-hover: rgba(230, 230, 230,0.09);
$background-message-hover: rgba(230, 230, 230,0.03);
$channels-default: gc.$color8;
$guild-header-text-shadow:  0 1px 1px rgba(230, 230, 230,0.04);
$channeltextarea-background: #191919;
$activity-card-background: #1b1b1b;
$textbox-markdown-syntax: #909090;
$deprecated-card-bg: #1b1b1b;
$deprecated-card-editable-bg: #151515;
$deprecated-store-bg: #1b1b1b;
$deprecated-quickswitcher-input-background: gc.$color2;
$background-spacing: #222222;
$deprecated-text-input-bg: #1b1b1b;
$deprecated-text-input-border: gc.$color7;
$deprecated-text-input-border-hover: #191919;
$deprecated-text-input-border-disabled: #1b1b1b;
$deprecated-text-input-prefix: #909090;
$message-text-color: #e6e6e6;
$info-warning-foreground: #e6e6e6;
$info-positive-background: gc.$color11;
$info-positive-foreground: gc.$color6;
$info-warning-background: gc.$color5;
$info-warning-foreground: gc.$color6;
$info-danger-background: gc.$color3;
$info-danger-foreground: gc.$color6;
$status-positive-background: gc.$color11;
$status-positive-text: gc.$color6;
$status-warning-background: gc.$color5;
$status-danger-background: gc.$color3;
$status-danger-text: gc.$color6;
$focus-primary: $background-modifier-hover;