/**
 * @Additional Styles Component
*/

// Main Section
.theme-dark, .theme-light {
  // fix username goes black in calls
  .listDefault-3ir5aS .clickable-1lCRLF.selected-3t3Csj .username-3KYl0N, .usernameSpeaking-RmltQx {
    color: var(--channels-default);
  }

  // create thread popout
  .header-1VS4tm .tabBar-31Wimb .tab-PQvTH4.active-30vPlA, .list-wek7hJ .tabBar-wS4pjJ .tab-17bjMB.active-3JUHqX {
    background-color: var(--background-modifier-selected);
  }

  // usernames bolder in chat
  .username-1A8OIy {
    font-weight: 500;
  }

  .datePicker--XZbmJ .datePickerHint-3Q1Udw .hintValue-29ny8Z {
    border-radius: 6px;
    color: var(--text-alt)!important;
    &:hover {
      color: var(--text-alt)!important;
      background-color: var(--brand-experiment)!important;
      filter: brightness(.8);
    }
  }

  .calendarPicker-2yf6Ci {
    .react-datepicker {
      background-color: var(--background-accent);
    }

    .react-datepicker__header {
      background-color: var(--background-accent);
    }

    .react-datepicker__month {
      background-color: var(--background-accent);
    }

    .react-datepicker__day:hover {
      background-color: var(--deprecated-text-input-prefix);
      color: var(--text-alt);
    }
  }
  
  .bar-3S3dlZ {
    &.background-3xPPFc {
      color: #ff73fa;
      opacity: 0.3;
    }
  }
  .tierInProgress-3mBoXq {
    background-color: #ff73fa;
    opacity: 0.3;
  }
  .wrapper-3WhCwL {
    background: var(--brand-experiment-30a);
    color: var(--brand-experiment-200);
  }
  .searchBar-3dMhjb {
    background-color: transparent;
    transition: width .3s;
    .icon-38sknP {
      .iconContainer-O4O2CN {
        svg {
          transition: color .3s;
          color: var(--interactive-normal);
        }
      }
    }
  }
  .focused-31_ccS .searchBar-3dMhjb, .open-6_Y_aH .searchBar-3dMhjb {
    .icon-38sknP {
      .iconContainer-O4O2CN {
        svg {
          color: var(--interactive-active);
        }
      }
    }
  }
  .spoilerText-3p6IlD.hidden-HHr2R9 {
    background-color: var(--text-muted);
    &:hover {
      background-color: var(--text-muted);
    }
  }
  .subscribeTooltipWrapper-1JoUuw {
    background-color: var(--background-tertiary);
  }
  [class*="searchBox-"] {
    background-color: var(--background-tertiary);
  }
  .colorStandard-2KCXvj {
    &.size16-1P40sf {
      &.checkboxText-20IXco {
        background: transparent!important;
      }
    }
  }
  [class*="layerContainer-"] {
    .badgeList-1R1WgZ {
      &[class*="container-"] {
        background-color: transparent!important;
      }
    }
  }
  [class*="perksModal-"] {
    background-color: var(--background-primary);
  }
  .tabBar-1kuXvJ .tab-ck0077.active-1MbGPa {
    background-color: var(--background-modifier-selected);
  }
  .wrapper-232cHJ.badge-2l0o8g {
    background-color: var(--color4);
    color: var(--text-alt);
  }
  .ctaBar-2nFzdG {
    border-radius: 12px;
    border: 1px solid rgba(230, 230, 230, 0.06);
  }
  .tierMarkerBackground-3q29am {
    background-color: #383838;
  }
  .barBackground-2EEiLw {
    background-color: #383838;
  }
  .barForeground-3KglC8 {
    background-color: var(--color11);
  }
  .tierMarkerAccomplished-2MiXeg {
    background: var(--color11)!important;
  }
  .currentTierIcon-2gcTCn {
    color: var(--background-secondary);
  }
  .tierUnlocked-3mPMcg {
    color: #000000;
  }
  .tierHeaderUnlocked-3QAU1o {
    background-image: linear-gradient(90deg,hsl(160,calc(var(--saturation-factor, 1)*50%),25.5%),var(--color11));
  }
  .progressBarContainer-DLPbha {
    .progressBar-UDQ4AC {
      background: linear-gradient(90deg,hsl(160,calc(var(--saturation-factor, 1)*50%),25.5%),var(--color11));
    }
  }
  .modalContent-3FEGI5 {
    .optionBox-1b4n4P {
      .contentCircle-2uR76y {
        background-color: var(--background-floating);
        border: 1px solid rgba(230, 230, 230, 0.06);
      }
    }
  }
  .warningIcon-3rQ5yJ {
    color: var(--color5);
  }
  .headerWrapper-3NUKsd {
    .container-1r6BKw {
      .children-19S4PO {
        .container-x-SnoF {
          background-color: transparent!important;
        }
      }
    }
  }
  ::-webkit-scrollbar-thumb {
    &:active {
      background-color: rgba(255,255,255,0.5);
    }
  }
  .replyBar-1YLQ2F {
    .actions-NlfMQc {
      .closeButton-37O8QC {
        color: var(--color3);
        &:hover {
          color: var(--color4);
        }
      }
    }
  }
  .container-3baos1 {
    .nameTag-3uD-yy {
      .subtext-3CDbHg {
        color: var(--text-muted);
      }
    }
  }
  .channel-2QD9_O {
    max-width: unset;
  }
  // when showing various new messages, the resizer shows up very often and disappear, cause of this i will remove it from now 
  ::-webkit-resizer {
    display: none;
  }
  .wrapper-2qzCYF.chatSidebarOpen-2u0Ygq, .wrapper-2qzCYF.fullScreen-1tMzXY, .wrapper-2qzCYF.noChat-18KtBD {
    background-color: transparent;
  }
  button[class*="controlButton-"] {
    &[class*="centerButton-"] {
      &.red-33-Lnk {
        border-radius: 50%;
      }
    }
  }
  .colorable-1bkp8v.red-33-Lnk {
    background: var(--color4);
    &:hover {
      background: var(--color4);
      filter: brightness(.9);
    }
  }
  .colorable-1bkp8v.red-33-Lnk, .colorable-1bkp8v.red-33-Lnk .centerIcon-2G6o-T {
    color: var(--text-alt);
  }
  .connection-3KRENF, .voiceUsers-YsH5Db {
    .colorBrand-13pXr91 {
      &[aria-label="Disconnect"] {
        color: var(--color3);
      }
    }
  }
  .activityPanel-28dQGo {
    .body-GmmuPm {
      .actions-aUdUfC {
        button[aria-label="Stop Streaming"] {
          color: var(--color3);
        }
      }
    }
  }
  .listRow-1iDGel {
    border-radius: 8px;
  }
  .root-3QyAh1 {
    .body-r6_QPy {
      .listScroller-3GmIYj {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: repeat(auto-fill, 50px);
        // little update to style a bit better the activities tab
        .activityProfile-2bJRaP {
          .bodyNormal-2D39hT {
            display: grid;
            grid-template-rows: repeat(auto-fill, minmax(50px, 1fr));
            gap: 3px;
            padding-bottom: 20px;
            .assets-VMAukC {
              img {
                max-height: 50px;
              }
            }
            .content-3JfFJh {
              margin: 3px 0;
              .textRow-19NEd_ {
                font-size: .8rem;
              }
              .detailsWrap-22pigg {
                color: var(--text-muted);
              }
            }
            .buttonsWrapper-2spIeK {
              margin: 0;
              .buttonSize-AQY2mE {
                width: 100%;
              }
            }
          }
        }
      }
    }
  }
  #popout {
    .contentWithMedia-3YF06_, .contentNoMedia-1yP2hn {
      border: 1px solid var(--text-brand);
    }
    .content-1nP7fx {
      background-color: var(--background-primary);
    }
    .popoutRoot-2_6ixn.right-1r4pvL.arrowAlignmentTop-1OMEr_:before {
      border-right-color: var(--text-brand);
    }
    .titleCenter-2bwbDI, .titleLeft-2erkAr {
      &.title-eQ0ZMf {
        margin-top: 2px;
        color: var(--text-normal);
      }
      .voiceChannelsTitle-3UxkpI {
        margin-top: 40px;
      }
    }
  }
  [class*="headerTag"], .nameTag-ECvD8P,.userTag-1PLzkC {
    font-size: 18px;
  }
  .countryCode-2TeNMX, .plusSign-15Cgdh {
    color: var(--text-alt)!important;
  }
  .phoneField-38N1bJ .phoneFieldExpand-2DzY5G {
    stroke: var(--text-alt)!important;
  }
  .popoutList-T9CKZQ {
    border-radius: 8px;
    background-color: var(--background-primary);
  }
  .cardWarning-2yPNAa { .warning-1WIX3i { color: var(--text-alt) }}
  .popoutListEmpty-voOEBJ {
    font-size: 16px;
  }
  .field-1HUseB {
    &.fieldSpacer-wgewFh {
      .constrainedRow-2GB6Ki {
        div {
          div {
            .colorHeaderPrimary-26Jzh- {
              &.size16-1P40sf {
                font-size: 14px;
              }
            }
          }
        }
      }
    }
  }
  .colorNotification-GG3eAb {
    color: var(--text-alt);
  }
  .button-2DhvE9 {
    border-color: var(--text-alt);
  }
  .avatarUploaderInner-3UNxY3>* {
    color: var(--text-normal);
  }
  .button-2DhvE9:hover {
    background-color: var(--background-accent);
    border-color: rgba(230, 230, 230, 0.06);
  }
  .streamPreview-2-WUWT {
    background-color: var(--background-secondary);
    border-radius: 12px;
    border: 1px solid var(--text-muted);
  }
  .watchButton-2SbJEo {
    border-color: var(--text-muted);
    color: var(--text-brand);
  }
  div[class*="protip-3-"] {
    h3 {
      color: var(--text-muted)!important;
    }
    div[class*="colorStandard-"] {
      color: var(--text-brand)!important;
    }
  }
  .colorDefault-2K3EoJ:active {
    .subtext-13Lvrj {
      color: var(--text-alt);
    }
  }
  .outer-1AjyKL.active-1xchHY, .outer-1AjyKL.interactive-3B9GmY:hover {
    background-color: rgba(230, 230, 230, 0.06);
  }
  .addGamePopout-2RY8Ju {
    background-color: var(--background-floating);
  }
  .footer-2gL1pp {
    background-color: var(--background-secondary);
    border-color: var(--color6);
  }
  [class*="root-"] {
    background-color: var(--background-secondary-alt);
    [class*="container-"] {
      background-color: var(--background-primary);
    }
  }
  // fix screen recorder not showing
  .container-1PWn_0 {
    background-color: unset!important;
  }
  [class*="bodyInnerWrapper-"] {
    [class*="root-"] {
      background-color: var(--background-secondary-alt)!important;
    }
  }
  [class*="addButtonIcon-"] {
    path {
      fill: var(--color6);
    }
  }
  [class*="actionButton-"] {
    &[class*="highlight-"] {
      background-color: var(--background-primary)
    }
  }
  [class*="pageWrapper-"] {
    background-color: var(--background-primary);
  }
  .bar-2Qqk5Z {
    background: rgba(230, 230, 230, 0.06);
  }
  .userSettingsVoice-iwdUCU .previewOverlay-2O7_KC {
    background-color: var(--background-floating);
    border-color: var(--interactive-active);
    border-radius: 8px;
  }
  .notDetected-33MY4s {
    background-color: rgba(230, 230, 230, 0.06);
    border-radius: 8px;
  }
  .wrapper-3WhCwL {
    &.mention {
      background-color: var(--brand-experiment-30a);
      color: var(--text-alt);
      border-radius: 4px;
      filter: brightness(.8);
    }
  }
  .nowPlaying-284llR {
    background-color: var(--interactive-hover);
    border-radius: 8px;
    [class*="gameNameLastPlayed-"] {
      input {
        width: 60%;
        font-family: var(--font-primary);
        font-weight: bold;
        color: var(--text-alt);
      }
      input:active {
        background-color: rgba(230, 230, 230, 0.06);
      }
      input:hover {
        background-color: rgba(230, 230, 230, 0.06);
        opacity: 0.9;
      }
      div {
        font-family: var(--font-headline);
        letter-spacing: 1px;
        line-height: 18px;
        color: var(--text-alt);
        opacity: 0.9;
      }
    }
  }
  .colorDanger-4gmAY0 {
    color: var(--text-alt);
  }

  .gameWrapper-1jIQAX {
    .icon-3Oovq9 {
      color: var(--text-alt);
    }
  }

  .settingsGroup-2NaPKC {
    .group-2dAfBy {
      .selectorButton-EEUWed {
        border-radius: 6px;
        .selectorTextSelected-1ymya_ {
          color: var(--text-alt);
        }
        &:hover {
          .colorStandard-2KCXvj {
            color: var(--text-alt);
          }
        }
      }
      .selectorButtonPremiumRequired-mKMbIu:hover {
        div {
          div {
            .colorStandard-2KCXvj {
              color: var(--text-normal);
            }
          }
        }
      }
    }
  }
  .footer-C1KpS6 {
    .controls-T0w-Wc {
      .button-coQXfM {
        color: var(--text-alt);
        border-radius: 6px;
        &:hover {
          filter: brightness(.9);
        }
      }
    }
  }
  .bd-button {
    border-radius: 6px;
  }
  .applicationCommandEducation-2jAJ0B {
    display: none;
  }
  .gameNameInput-385LoS:hover, .gameNameInput-385LoS:focus {
    background-color: rgba(230, 230, 230, 0.06);
  }
  [class*="keybindShortcut-"] {
    color: var(--text-alt)!important;
    span {
      background-color: var(--interactive-normal);
      svg {
        g {
          fill: var(--text-alt)!important;
        }
      }
    }
  }
  [class*="codeRedemptionRedirect-"] {
    background-color: var(--background-mentioned-hover);
    color: var(--text-normal);
  }

  // fix dm call select region not styled
  .quickSelectPopout-X1hvgV {
    background: var(--background-accent);
  }

  // fix green border getting cut in dm calls
  .participant-1lOCsd {
    .wrapper-2QE8vf {
      width: 75px!important;
      height: 75px!important;
    }
  }

  // dm remove and block user buttons
  .container-1fnzfI {
    .lookFilled-1Gx00P {
      &.colorPrimary-3b3xI6 {
        &.action-26D6fg {
          background-color: var(--color3);
          transition: background-color 0.2s;
          &:hover {
            background-color: var(--color4);
          }
        }
      }
    }
  }

  // lookFilled buttons
  .flexChild-faoVW3 {
    .lookFilled-1Gx00P {
      background-color: transparent;
      color: var(--text-normal);
    }
    .lookFilled-1Gx00P:hover {
      background-color: rgba(230, 230, 230, 0.06);
    }
  }

  .lookFilled-1Gx00P {
    border-radius: 8px;
    color: var(--text-alt);
    transition: all 0.2s;
    &.colorPrimary-3b3xI6 {
      color: var(--text-alt);
    }

    &[class*="select-"] {
      color: var(--text-normal)!important;
      svg[aria-hidden="false"] {
        path {
          fill: var(--text-normal)!important;
        }
      }
      &:hover {
        background-color: rgba(230, 230, 230, 0.06)!important;
        span[class*="value"] {
          svg {
            path {
              fill: var(--text-normal);
            }
          }
        }
        [class*="icons-"] {
          svg {
            path {
              fill: var(--text-normal);
            }
          }
        }
      }
    }

    &:hover {
      background-color: var(--brand-experiment);
      opacity: 0.9;
    }
    &[class*="select-"] {
      color: var(--text-normal)!important;
      svg[aria-hidden="false"] {
        path {
          fill: var(--interactive-normal)!important;
        }
      }
      &:hover {
        background-color: var(--background-modifier-hover)!important;
        span[class*="value"] {
          svg {
            path {
              fill: var(--interactive-normal);
            }
          }
        }
        [class*="icons-"] {
          svg {
            path {
              fill: var(--interactive-normal);
            }
          }
        }
      }
    }

    &.colorPrimary-3b3xI6 {
      background-color: var(--color6);
      &:hover {
        background-color: var(--color6);
        filter: brightness(0.9);
      }
    }

    &.colorBrand-3pXr91 {
      color: var(--text-alt);
      background-color: var(--color11);
      &:hover {
        background-color: var(--color11);
        filter: brightness(0.9);
      }
      &:disabled, &.fauxDisabled-2ik0Vw {
        cursor: not-allowed;
        background-color: var(--color11);
        color: var(--text-alt);
        opacity: 0.6;
        &:hover {
          background-color: var(--color11);
          opacity: 0.6;
          filter: none;
        }
      }
    }

    &.colorGrey-2DXtkV {
      color: var(--text-alt);
      background-color: var(--interactive-normal);
      &:hover {
        background-color: var(--interactive-normal);
        filter: brightness(0.9);
      }
      &:disabled {
        background-color: var(--color11)!important;
        filter: brightness(0.7);
      }
    }

    &.colorWhite-rEQuAQ {
      background-color: var(--color11);
      [class*="contents-"] {
        color: var(--text-alt);
      }
      &:hover {
        background-color: var(--color11);
        filter: brightness(0.9);
        [class*="contents-"] {
          color: var(--text-alt);
        }
      }
    }

    &.colorGreen-29iAKY {
      color: var(--text-alt);
      background-color: var(--color11);
      &:disabled {
        opacity: 0.5;
        color: var(--text-alt);
        background-color: var(--color11);
        &:hover {
          opacity: 0.5;
          background-color: var(--color11);
        }
      }
    }

    &.colorRed-1TFJan {
      background-color: var(--color3);
      &:hover {
        background-color: var(--color4);
        filter: brightness(0.9);
      }
      &:disabled {
        background-color: var(--color3);
        opacity: 0.6;
        &:hover {
          background-color: var(--color3);
          filter: none;
        }
      }
    }
  }

  .searchBox-2U8-yR {
    background-color: transparent;
  }

  .addMemberRow-3-w-9X.selectedRow-1QP7qb {
    div {
      color: var(--text-alt);
    }
  }
  .addMemberRow-3-w-9X {
    border-radius: 6px;
    padding: 0.65rem 1rem;
  }

  // lookOutlined buttons
  .lookOutlined-3sRXeN {
    border-radius: 8px;
    &.colorRed-1TFJan {
      color: var(--color3);
      border-color: var(--color3);
      transition: all 0.2s;
      &:hover {
        border-color: var(--color4);
        color: var(--color4);
        filter: brightness(0.9);
      }
    }

    &.colorPrimary-3b3xI6 {
      color: var(--color11);
      border-color: var(--color11);
      transition: filter 0.2s;
      &:hover {
        filter: brightness(0.9);
      }
    }

    &.colorBrand-3pXr91 {
      color: var(--color11);
      border-color: var(--color11);
      transition: filter 0.2s;
      &:hover {
        filter: brightness(0.9);
      }
    }
  }

  [class*="defaultIndicator-"] {
    font-size: .8rem;
    padding: 3px;
    font-family: var(--font-headline);
    letter-spacing: 1px;
    color: var(--text-alt);
    background-color: var(--interactive-active);
  }
  [class*="lookInverted-"] {
    &[class*="colorBrand-"] {
      color: var(--text-normal);
      background: var(--background-accent);
      transition: filter 0.2s;
      &:hover {
        filter: brightness(.9);
      }
    }
  }
}

// Secondary Section
.member-3-YXUe {
  position: relative;
  transition: all .45s ease-Out;
  .layout-2DM8Md {
    border-radius: 8px;
    &::before {
      content: '';
      width: 224px;
      height: 38px;
      opacity: 0;
      line-height: 18px;
      border-radius: 8px;
      background: var(--color9);
      position: absolute;
      transition: all .5s ease-Out;
      margin: auto auto;
      top: -1px;
      right: 0;
      bottom: -1px;
      left: 0;
      padding: 2px;
    }
  }
  margin: 2px 0;
}

.membersGroup-v9BXpm {
  margin-bottom: 8px;
}

.peopleList-3c4jOR {
  .title-30qZAO {
    font-size: .9rem;
    letter-spacing: 2px;
    font-family: var(--font-headline);
    background-color: transparent;
    color: var(--header-primary);
  }
}

.tabBody-3YRQ8W {
  &::before {
    display: none;
  }
}

.theme-dark .container-1D34oG {
  background-color: transparent;
}

[class*="addButton-"] {
  color: var(--text-alt);
}

.item-3HknzM {
  &[aria-controls="add_friend-tab"] {
    background-color: var(--color11)!important;
    &:hover {
      filter: brightness(0.9);
    }
  }
}

.nameAndDecorators-5FJ2dg {
  .name-uJV0GL {
    height: 22px;
    margin: auto 0;
  }
}

.connectedAccountName-E1KzaT {
  line-height: 20px;
}

.notice-3bPHh- {
  border-radius: 8px;
  margin: 10px 10px 0 10px;
}

.subtext-24R4-w {
  color: var(--text-muted);
}

.voiceUser-1K6Xox {
  .content-1Wq3SX {
    border-radius: 8px;
  }
}

.warningCircleIcon-3R0DLw {
  path {
    fill: var(--color5);
  }
}

.menu-3sdvDG {
  border-radius: 8px;
}

.listDefault-3ir5aS .clickable-1lCRLF.selected-3t3Csj .username-3KYl0N, .usernameSpeaking-RmltQx {
  color: var(--text-alt);
}

.row-3GRgeK {
  &.item-PXvHYJ {
    &::after {
      display: none;
    }
    .roleName-2IkRdr {
      color: var(--text-normal)!important;
    }
    &.selected-3s45Ha {
      .roleName-2IkRdr {
        color: var(--text-alt)!important;
      }
    }
  }
}

.headerContainer-1_MTZL {
  .partyMembers-3pB2CJ {
    background-color: transparent!important;
    margin: 0!important;
    border: none!important;
    border-radius: 0!important;
  }
}

.categoryPill-34fszg.selected-1dONk0 .categoryLabel-2G3r2V {
  color: var(--text-alt);
}

.search-1iTphC {
  .searchBox-3Y2Vi7 {
    border-radius: 8px;
  }
}

// add selection animation
.clickable-1JJAn8.container-2Pjhx-:active, .highlighted-1gWxXa.container-2Pjhx-, .selected-aXhQR6.container-2Pjhx- {
  [class*="layout-"] {
    position: relative;
    -webkit-box-shadow: 0 0 3px rgba(230, 230, 230, 0.6);
    box-shadow: 0 0 3px rgba(230, 230, 230, 0.6);
    &::before {
      animation: radiusMemberComponent 350ms;
      animation-iteration-count: 1;
    }
    [class*="content-"] {
      [class*="nameAndDecorators-"] {
        [class*="name-"] {
          color: var(--color2);
          [class*="roleColor-"] {
            color: var(--color2)!important;
          }
        }
      }
      [class*="subText-"] {
        [class*="activity-"] {
          color: var(--color2);
        }
      }
    }
  }
}

.membershipDialog-rVL-t_, .premiumInlineNotice-159eYs {
  border-radius: 8px;
}

.profileBannerPreview-gaX5MP {
  box-shadow: var(--elevation-medium);
}

#emoji-picker-tab-panel {
  .searchBar-5di9mG {
    border-radius: 8px;
  }
  .bodyWrapper-3G0FZZ, .categoryList-2Kzf65 {
    border-top: 1px solid rgba(230, 230, 230, 0.06);
  }
}

.intro-325xRx {
  font-family: var(--font-headline);
  .colorStandard-2KCXvj {
    font-size: 1.3rem;
    color: var(--text-muted);
  }
}

.searchHeader-2I26nG {
  .headerImage-3X1tyY {
    display: none;
  }
  &::before {
    content: '';
    display: block;
    width: 100%;
    height: 280px;
    border-radius: 12px;
    background-image: url(https://getwallpapers.com/wallpaper/full/b/d/5/253646.jpg);
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
  }
}

.headerContainer-356ZSf {
  .headerImage-1vDSE3 {
    display: none;
  }
  &::before {
    content: '';
    display: block;
    width: 100%;
    height: 380px;
    border-radius: 12px;
    background-image: url(https://getwallpapers.com/wallpaper/full/b/d/5/253646.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .headerContent-WpYuS6 {
    top: 20%;
    bottom: unset;
    .headerText-lI2ujL {
      margin-bottom: 20px;
      letter-spacing: 1px;
      font-family: var(--font-headline);
    }
    .headerDescription-2XFueT {
      color: #c0c0c0;
      font-weight: 600;
      letter-spacing: 1px;
      font-family: var(--font-headline);
    }
  }
}

.colorHeaderSecondary-3Sp3Ft {
  color: var(--text-muted);
}

.searchTitle-36D1cB {
  color: var(--text-normal);
}

.tagLight-1S7anq {
  background-color: var(--interactive-hover);
  color: var(--text-alt);
  border-radius: 8px;
  &:hover {
    background-color: var(--interactive-active);
    color: var(--text-alt);
  }
}

.card-3DjzTQ {
  border-radius: 8px;
  height: 260px;
  .cardHeader-Int16m {
    height: 45px;
    .splash-3N0nhD {
      display: none;
    }
  }
}

.description-2QALGo {
  color: var(--text-muted);
}

.footer-2jdoRS {
  border-top: 1px solid rgba(230, 230, 230, 0.06)!important;
  border-left: 1px solid rgba(230, 230, 230, 0.06)!important;
  border-right: 1px solid rgba(230, 230, 230, 0.06)!important;
  border-radius: 8px 8px 0 0;
}

.flowerStarContainer-3zDVtj {
  .flowerStar-1GeTsn {
    path {
      fill: var(--color11);
    }
  }
  .childContainer-1wxZNh {
    .icon-1ihkOt {
      color: var(--text-alt);
    }
  }
}

.search-1iTphC .searchBox-2_mAlO {
  border-radius: 8px;
}

.search-1iTphC .searchBox-2_mAlO .searchBoxInput-K6mkng {
  color: var(--text-normal);
}

.search-1iTphC .searchBox-2_mAlO:focus, .search-1iTphC .searchBox-2_mAlO:focus-within {
  -webkit-box-shadow: 0 0 0 1px #202020,0 0 0 2px #c0c0c0,0 0 0 3px #c0c0c0;
  box-shadow: 0 0 0 1px #202020,0 0 0 2px #c0c0c0,0 0 0 3px #c0c0c0;
  border-color: transparent;
}

.pageWrapper-1PgVDX {
  border-left: 1px solid rgba(230, 230, 230, 0.04);
}

.searchBarComponent-32dTOx {
  border-radius: 8px!important;
}

.wrapper-35wsBm {
  border-radius: 8px;
}

.text-3MU_QQ {
  color: var(--text-muted);
}

.input-2VB9rf {
  border-radius: 12px;
  border: 1px solid rgba(230, 230, 230, 0.06);
  box-shadow: var(--elevation-medium);
}

.result-oB0z-- {
  border-radius: 8px;
  margin: 0 2px;
}

.result-oB0z--[aria-selected=true], .result-oB0z-[aria-selected=true] {
  -webkit-box-shadow: 0 0 3px rgba(230, 230, 230, 0.6);
  box-shadow: 0 0 3px rgba(230, 230, 230, 0.6);
  .contentDefault-16dKSY, .contentUnread-3gTHvA {
    color: var(--text-alt);
    .iconContainer-3UxHn2 {
      .icon-30q1Or {
        color: var(--text-alt);
      }
    }
    .name-2NBmhj {
      .note-S--UP5 {
        color: rgba(0,0,0, 0.59);
      }
    }
    .misc-1CT3G7 {
      color: var(--text-alt);
    }
  }
}