/**
 * @Animations Component
*/

/***** selection animation * */
@keyframes radius {
  from {
    width: 50px;
    opacity: 0;
  }
  to {
    width: 217px;
    opacity: 0.7;
  }
}

@keyframes radiusMemberComponent {
  from {
    width: 50px;
    opacity: 0;
  }
  to {
    width: 220px;
    opacity: 0.5;
  }
}

@keyframes radiusSettingsComponent {
  from {
    width: 50px;
    opacity: 0;
  }
  to {
    width: 226px;
    opacity: 0.5;
  }
}

@keyframes radiusHomeSelectionComponent {
  from {
    width: 50px;
    opacity: 0;
  }
  to {
    width: 218px;
    opacity: 0.5;
  }
}