/** 
 * @Channel Input Component
 */

.channelTextArea-rNsIhG {
  .channelTextAreaDisabled-8rmlrp {
    .scrollableContainer-2NUZem {
      opacity: .8;
    }
  }
}
.threadSuggestionBar-2ufK2Z {
  border-color: rgba(230, 230, 230, 0.06);
}

.chatContent-a9vAAp {
  .form-2fGMdU {
    &::before {
      display: none;
    }
  }
}