/**
 * @Chat Container Component
 */

// message actions
#message-actions-delete {
  transition: all .2s;
}

// text selection
::-moz-selection {
  color: var(--text-alt);
  background: var(--text-muted);
}

::selection {
  color: var(--text-alt);
  background: var(--text-muted);
}

// embed
.embedFull-2tM8-- {
  border-radius: 8px;
  background: rgba(230, 230, 230, 0.1);
}

// reactions
#message-accessories-787065318974554193 {
  .reactions-12N0jA {
    .reactionCount-2mvXRV {
      --interactive-normal: rgba(230, 230, 230, 0.5);
      --interactive-hover: rgba(230, 230, 230, 0.7);
    }
    .reactionMe-wv5HKu {
      border-color: rgba(230, 230, 230, 0.8);
      .reactionCount-2mvXRV {
        color: var(--text-normal);
      }
    }
  }
}
// i think it's a bug
.reaction-1hd86g.reactionMe-wv5HKu .reactionCount-2mvXRV {
  color: var(--text-normal);
}

// divider
.divider-JfaTT5 {
  border-top: thin solid rgba(230, 230, 230, 0.06);
}

// mentions
.mention {
  &.wrapper-3WhCwL {
    &.mention {
      &.interactive {
        background-color: var(--brand-experiment-30a);
        border-radius: 4px;
        color: var(--text-alt);
        filter: brightness(.8);
        &:hover {
          filter: brightness(.7);
          text-decoration: underline;
        }
      }
    }
    &.roleMention-2Bj0ju {
      border-radius: 4px;
      .interactive {
        background-color: var(--brand-experiment-30a);
        color: var(--text-alt);
        filter: brightness(.8);
        &:hover {
          filter: brightness(.7);
          text-decoration: underline;
        }
      }
    }
  }
}

// messages in general
.message-2qnXI6 {
  border-radius: 0 8px 8px 0;
  margin: 0 8px 0 0;
  #message-content-923365952387694672 {
    color: var(--message-text-color);
  }
  .buttonContainer-DHceWr {
    .buttons-cl5qTG {
      &.container-3npvBV {
        .wrapper-2aW0bm {
          border-radius: 8px;
        }
      }
    }
  }
}

// bars navigate
.newMessagesBar-265mhP {
  margin-top: 18px;
  border-radius: 12px;
  padding: 2px;
  background-color: rgba(230, 230, 230,0.9);
  &.barBase-1c2Rfb {
    left: 10px;
  }
  button {
    color: var(--text-alt)!important;
  }
}

.jumpToPresentBar-G1R9s6 {
  margin-bottom: 18px;
  padding: 2px;
  position: absolute;
  cursor: auto;
  border-radius: 12px;
  background-color: rgba(230, 230, 230,0.9);
  &.barBase-1c2Rfb {
    left: 10px;
  }
  &:active {
    margin-bottom: 18px;
    padding: 2px;
    position: absolute;
  }
  button {
    cursor: pointer;
    color: var(--text-alt)!important;
  }
}

// notice info
[class*="notice-"] {
  div {
    color: var(--text-alt);
  }
  .button-2DhvE9, .button-2PWmas, .button-38aScr {
    border-radius: 8px;
    color: var(--text-alt);
    &:hover {
      border: 1px solid var(--text-alt);
      color: var(--text-alt);
      background-color: var(--color4);
    }
  }
  .lookOutlined-3sRXeN {
    border-color: var(--text-alt);
  }
}


[class*="sprite-"] {
  filter: grayscale(50%)!important;
}

.colorDefault-2K3EoJ:active:not(.hideInteraction-1iHO1O) {
  background-color: var(--background-modifier-hover);
}
.button-1ZiXG9.selected-LCBEAU {
  color: var(--text-alt);
}
.button-1ZiXG9:active {
  color: var(--text-alt);
}

.repliedMessage-VokQwo::before {
  border-color: var(--info-warning-foreground);
}

[class*="unreadPill-"] {
  color: var(--text-alt);
}

.repliedTextPreview-2NBljf {
  color:  var(--text-normal);
  &:hover {
    color:  var(--text-normal)!important;
  }
}

[class*="divider-"] {
  [class*="content-"] {
    color: var(--text-muted);
  }
}

[id*="---new-messages-bar"] {
  --divider-color: var(--color3);
  [class*="content-"] {
    opacity: 0;
  }
}

.replying-1x3H0T::before {
  background-color: var(--text-muted);
}

[class*="repliedMessage-"]::before {
  border-color: var(--background-modifier-hover);
}

.markup-2BOw-j code {
  font-size: 0.9rem;
  letter-spacing: 1px;
  background: var(--background-secondary);
  border: 1px solid rgba(230, 230, 230, 0.05);
  border-radius: 8px;
  padding: 6px 14px!important;
}

.channelAttachmentArea-3ziOpb {
  max-height: 100px;
  .upload-3Dkqd6 {
    min-width: 80px;
    min-height: 80px;
    max-width: 950px;
    max-height: 950px;
    .icon-HQGNTD {
      background-size: contain;
    }
  }
}

[class*="messagesErrorBar-"] {
  margin-bottom: 18px;
  padding: 2px;
  position: absolute;
  border-radius: 12px;
  background-color: var(--color3);
  .barButtonBase-2uLO1z {
    color: var(--text-alt);
  }
  &:active {
    margin-bottom: 18px;
    padding: 2px;
    position: absolute;
  }
}

code.inline {
  background: var(--background-modifier-accent);
  color: var(--message-text-color);
  border-radius: 2px!important;
  padding: 1px 3px 1px 3px!important;
  &:hover {
    background: var(--background-modifier-accent);
    color: var(--message-text-color);
  }
}

.repliedTextPreview-2NBljf {
  div {
    code {
      color: var(--text-normal);
      background: transparent;
    }
  }
}

.repliedTextPreview-2NBljf {
  font-size: .8rem;
  border-radius: 4px;
  background: rgba(230, 230, 230, 0.09);
  padding: 2px;
  border: 1px solid #202020;
}

.theme-dark {
  .form-2fGMdU>div [class*="wrapper-"] {
    &.categoryHeader-O1zU94 {
      margin: 0 0 10px 0;
    }
  }
  .option-1B5ZV8 {
    background-color: rgba(230, 230, 230, 0.5);
    color: var(--text-alt);
  }
  .selected-1Tbx07 {
    border-radius: 8px;
    background-color: rgba(230, 230, 230, 0.1);
    [class*="wrapper-"] {
      background-color: transparent;
    }
  }
  .categoryHeader-O1zU94 {
    background-color: var(--background-primary)!important;
    border-radius: 8px;
    box-shadow: var(--elevation-medium);
    &::after {
      background-color: transparent;
    }
  }
  .outerWrapper-3-llkA {
    box-shadow: none;
    border: 1px solid var(--color2);
    border-radius: 12px;
  }
  .autocomplete-1vrmpx {
    background-color: var(--background-secondary);
    [class*="autocompleteInner-"] {
      [class*="rail-"] {
        background-color: var(--background-tertiary);
        border-radius: 0 8px 0 0;
        [class*="wrapper-"] {
          background-color: transparent;
        }
      }
    }
  }
}
// modify to light scheme
.theme-light {
  .form-2fGMdU>div [class*="wrapper-"] {
    &[class*="categoryHeader-O1zU94"] {
      margin: 0 0 10px 0;
    }
  }
  .option-1B5ZV8 {
    background-color: rgba(230, 230, 230, 0.5);
    color: var(--text-alt);
  }
  .selected-1Tbx07 {
    border-radius: 8px;
    background-color: rgba(230, 230, 230, 0.1);
    [class*="wrapper-"] {
      background-color: transparent;
    }
  }
  .categoryHeader-O1zU94 {
    background-color: var(--background-primary)!important;
    border-radius: 8px;
    box-shadow: var(--elevation-medium);
    &::after {
      background-color: transparent;
    }
  }
  .outerWrapper-3-llkA {
    box-shadow: none;
    border: 1px solid var(--color2);
    border-radius: 12px;
  }
  .autocomplete-1vrmpx {
    background-color: var(--background-secondary);
    [class*="autocompleteInner-"] {
      [class*="rail-"] {
        background-color: var(--background-tertiary);
        border-radius: 0 8px 0 0;
        [class*="wrapper-"] {
          background-color: transparent;
        }
      }
    }
  }
}

[class*="botTag-"] {
  &[class*="botTagRegular-"] {
    background-color: var(--color8);
    color: var(--text-alt);
  }
  [class*="botTagVerified-"] {
    path {
      fill: var(--text-alt);
    }
  }
}

[id="---new-messages-bar"] {
  border-color: var(--color3)!important;
}