.lowerBadge-29hYVK {
  .numberBadge-2s8kKX {
    font-family: var(--font-display);
    color: var(--text-alt);
    background-color: var(--color4)!important;
  }
}

.wrapper-1BJsBx {
  &[aria-label*="Home"] {
    .childWrapper-anI2G9 {
      background-color: rgba(230, 230, 230, 0.06);
      color: var(--interactive-normal);
    }
    &.selected-bZ3Lue {
      .childWrapper-anI2G9 {
        background-color: var(--interactive-normal);
        color: var(--background-accent);
      }
    }
    &:hover {
      .childWrapper-anI2G9 {
        background-color: var(--interactive-normal);
        color: var(--background-accent);
      }
    }
  }
}

.folderIconWrapper-1Ml_1q {
  background-color: rgba(230, 230, 230, 0.06)!important;
}

.expandedFolderBackground-3ZDF05 {
  background-color: rgba(230, 230, 230, 0.06);
  filter: brightness(0.8);
}

#bd-pub-li {
  display: none;
}

.circleIconButton-hZmpE8 {
  background-color: rgba(230, 230, 230, 0.06);
  color: var(--interactive-normal);
  &.selected-3mFF3I {
    color: var(--interactive-normal);
    background-color: rgba(230, 230, 230, 0.06);
  }
}
