:root {
  --color1: #2d2d2d;
  --color2: #313131;
  --color3: #fb7c7c;
  --color4: #fa4a4a;
  --color5: #faa483;
  --color6: #e6e6e6;
  --color7: #d1d1d1;
  --color8: #8d8d8d;
  --color9: #757575;
  --color10: #323232;
  --color11: #4cd9a4;
  --color12: #29453a;
  --color13: #070707;
}