/*
* css snippet - Setting's icons
* by: DevilBro#4401
*/
@import url(https://mwittrien.github.io/BetterDiscordAddons/Themes/_res/SettingsIcons.css);

/*
* css snippet - Warn theme updates
* by:
*/
#app-mount .app-2rEoOp::before {
  content: "Your version of Smooth Theme is outdated. Please download the newest version from: <https://datsfilipe.github.io/smooth-theme/>";
  display: var(--version1-2-2, block);
  background-color: var(--color3);
  color: var(--text-alt);
  font-size: 14px;
  line-height: 36px;
  font-weight: 500;
  text-align: center;
  z-index: 101;
}

/*
* css snippet - Disable Discord laggy settings animations
* by: Tropical#4355
*/
.layer-3QrUeG {
  transform: none !important;
  opacity: 1 !important;
}

.layers-3iHuyZ>.layer-3QrUeG.animating-rRxada *,
.layers-3iHuyZ>.layer-3QrUeG.animating-rRxada {
  pointer-events: auto !important;
  will-change: unset;
}

.animating-rRxada.stop-animations {
  z-index: 100 !important;
}

/*
* Fix Channel Icon Oversized at Embed Messages
* by: Hekky#6869
*/
.topic-TCb_qw > .wrapper-3WhCwL > .channelIcon-1MN1lz,
.embedFooterText-28V_Wb > .wrapper-3WhCwL > .channelIcon-1MN1lz {
    width: calc(1.05rem * 1.05 / 1.3);
    height: 1.05rem;
}

/*
* Hide Friend Request Badge
* by: Hekky#6869
*/
/* Hide badge on home */
.tutorialContainer-2sGCg9 .lowerBadge-29hYVK { display: none; }
.tutorialContainer-2sGCg9 defs rect { transform: translate(50px, 50px); }
/* Hide badge on friends tab in dms */
.channel-2QD9_O[href="/channels/@me"] .numberBadge-2s8kKX { display: none; }
/* Hide badge in pending tab in friends tab */
.item-3HknzM[aria-controls="pending-tab"] .numberBadge-2s8kKX { display: none; }

/*
* Remove CreArts Modal Blur
* by: christian#1111
*/
.backdrop-1wrmKB::before, .backdropWithLayer-3_uhz4::before {backdrop-filter: none;}

/*
* Remove Role Icons From Chat Messages
* by: Qb#5942
*/
.message-2qnXI6 .roleIcon-1_1CJy {
  display: none;
}

/*
* Status Picker (normal)
* by: CorellanStoma#1996
*/
#status-picker-custom-status,
#status-picker-switch-account {
  margin-top: 4px;
}

#status-picker .mask-1qbNWk {
  height: 18px;
  width: 18px;
  margin-left: 2px;
}

#status-picker .description-2L932D,
#status-picker .betaTag-2ehOEB {
  display: none;
}

#status-picker .status-1fhblQ {
  margin-left: 8px;
}

#status-picker .customEmojiPlaceholder-37iZ_j,
#status-picker .switchAccountsIcon-355frb {
  margin-left: 0px;
}

#status-picker .customEmojiPlaceholder-37iZ_j {
  background-image: none;
  background-color: var(--interactive-normal);
  mask: var(--icon) center/contain no-repeat;
  -webkit-mask: var(--icon) center/contain no-repeat;
  width: 22px;
  height: 22px;
  --icon: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' enable-background='new 0 0 24 24' height='24px' viewBox='0 0 24 24' width='24px' fill='%23000000'%3E%3Crect fill='none' height='24' width='24'/%3E%3Cpath d='M11.99,2C6.47,2,2,6.48,2,12s4.47,10,9.99,10C17.52,22,22,17.52,22,12S17.52,2,11.99,2z M8.5,8C9.33,8,10,8.67,10,9.5 S9.33,11,8.5,11S7,10.33,7,9.5S7.67,8,8.5,8z M16.75,14.75C15.8,16.39,14.03,17.5,12,17.5s-3.8-1.11-4.75-2.75 C7.06,14.42,7.31,14,7.69,14h8.62C16.7,14,16.94,14.42,16.75,14.75z M15.5,11c-0.83,0-1.5-0.67-1.5-1.5S14.67,8,15.5,8 S17,8.67,17,9.5S16.33,11,15.5,11z'/%3E%3C/svg%3E");
}

#status-picker .switchAccountsIcon-355frb {
  background-image: none;
  background-color: var(--interactive-normal);
  mask: var(--icon) center/contain no-repeat;
  -webkit-mask: var(--icon) center/contain no-repeat;
  width: 22px;
  height: 22px;
  --icon: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' enable-background='new 0 0 24 24' height='24px' viewBox='0 0 24 24' width='24px' fill='%23000000'%3E%3Cg%3E%3Crect fill='none' height='24' width='24'/%3E%3C/g%3E%3Cg%3E%3Cpath d='M17,20H4V7c0-0.55-0.45-1-1-1S2,6.45,2,7v13c0,1.1,0.9,2,2,2h13c0.55,0,1-0.45,1-1S17.55,20,17,20z M20,2H8 C6.9,2,6,2.9,6,4v12c0,1.1,0.9,2,2,2h12c1.1,0,2-0.9,2-2V4C22,2.9,21.1,2,20,2z M14,5c1.66,0,3,1.34,3,3c0,1.66-1.34,3-3,3 s-3-1.34-3-3C11,6.34,12.34,5,14,5z M7.76,16c1.47-1.83,3.71-3,6.24-3s4.77,1.17,6.24,3H7.76z'/%3E%3C/g%3E%3C/svg%3E");
}

#status-picker
  .colorDefault-2K3EoJ.focused-3afm-j
  .customEmojiPlaceholder-37iZ_j,
#status-picker .colorDefault-2K3EoJ.focused-3afm-j .switchAccountsIcon-355frb {
  background: var(--interactive-active);
}


/*
* css snippet - Make settings/deafen/mute buttons animated
* by: Xyhlo#9766
*/
.button-14-BFJ:hover .contents-18-Yxp {
  animation: UserModalButtons 0.5s normal ease;
}
.container-3baos1 .noWrap-3jynv6 {
  width: 100px;
  opacity: 1;
}
.button-14-BFJ {
  transition: 0.2s;
}
.button-14-BFJ:hover {
  padding-bottom: 0px;
  transition: 0.2;
  background-color: var(--background-modifier-hover)!important;
}
@keyframes UserModalButtons {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-5px);
  }
  100% {
    transform: translateY(0px);
  }
}

[class*="standardSidebarView-"] {
  [class*="sidebarRegion-"] {
    [class*="sidebar-"] {
      background-color: transparent;
    }
  }
}

/*
* Snippet by christian#1111
* Remove CreArts Modal Blur
*/
.backdrop-1wrmKB::before, .backdropWithLayer-3_uhz4::before {backdrop-filter: none;}

/*
* css snippet - revert roles design
* by: Ashtrath#9079
*/
.role-2irmRk{
  background: transparent;
  border: 1px solid;
  border-radius: 11px;
}
.roleCircle-3xAZ1j {
  margin-left: 0;
}
.addButton-pcyyf6.role-2irmRk {
  border-color: #4f545c;
}
.addButtonIcon-1NMJ8u {
  width: 10px;
  height: 10px;
}

/*
* css snippet - Hide the cursor when the video controls are hidden
* by: DoggyBootsy#3442
*/
.wrapperControlsHidden-35Gtol {
  cursor: none;
}

/*
* css snippet - fix oversized channel icon on embeds
* by: Hekky#6869
*/
.topic-TCb_qw > .wrapper-3WhCwL > .channelIcon-1MN1lz,
.embedFooterText-28V_Wb > .wrapper-3WhCwL > .channelIcon-1MN1lz {
  width: calc(1.05rem * 1.05 / 1.3);
  height: 1.05rem;
}

/*
* css snippet - Hide "DISCORD" text in top left corner
* by: Tropical#4355
*/
.wordmarkWindows-1v0lYD {
  display: none;
}
