[class*="wrapper-"] {
  [class*="childWrapper-"] {
    &[class*="acronym-2mOFsV"] {
      &:hover {
        color: var(--text-alt)!important;
      }
    }
    &[class*="acronym-2mOFsV"] {
      color: var(--text-normal)!important;
    }
  }
  &[class*="selected-"] {
    [class*="childWrapper-"] {
      &[class*="acronym-2mOFsV"] {
        color: var(--text-alt)!important;
      }
    }
  }
}

.colorDefault-2K3EoJ:active:not(.hideInteraction-1iHO1O) {
  &[class*="colorDanger-"] {
    background-color: var(--color4);
  }
}

.numberBadge-2s8kKX {
  background-color: var(--color4)!important;
  color: var(--text-alt)!important;
  font-family: var(--font-display);
}

.nowPlayingColumn-2sl4cE, [class*="nowPlayingSidebar-"] {
  .container-lRFx4q {
    .header-2SF4Nh {
      color: var(--text-normal);
    }
    [class*="emptyCard-"] {
      [class*="emptyHeader-"] {
        color: var(--text-normal);
      }
      [class*="emptyText-"] {
        color: var(--text-muted);
      }
    }
  }
}

.colorDanger-2qLCe1, .colorDanger-2qLCe1 .checkbox-3s5GYZ, .colorDanger-2qLCe1 .radioSelection-1HmrQS {
  color: var(--color3)!important;
}

.colorDanger-2qLCe1.focused-3afm-j {
  color: var(--text-alt)!important;
  background-color: var(--color3);
}

.addButtonIcon-2CbG1X {
  color: var(--interactive-active);
  &:hover {
    color: var(--interactive-normal);
  }
}

.item-1tOPte {
  color: var(--text-muted);
  &:active {
    color: var(--text-alt)!important;
  }
}

[class*="unreadBottom-"] {
  [class*="unreadBar-"] {
    background-color: var(--color3);
    color: var(--text-alt);
  }
}

.unreadTop-3rAB3r {
  .unreadBar-3t3sYc {
    background-color: var(--color3);
    color: var(--text-alt);
  }
}

.modeSelected-346R90 .content-1x5b-n, .modeSelected-346R90:hover .content-1x5b-n {
  background-color: var(--background-modifier-selected);
  -webkit-box-shadow: 0 0 3px rgba(230, 230, 230, 0.6);
  box-shadow: 0 0 3px rgba(230, 230, 230, 0.6);
  div {
    color: var(--text-alt);
    [class*="iconItem-"] {
      svg {
        color: var(--text-alt);
      }
    }
  }
  .iconContainer-1BBaeJ {
    svg {
      color: var(--text-alt);
    }
  }
}

.content-1x5b-n {
  margin-top: 2px;
  border-radius: 6px;
  margin-right: 5px;
  &:active {
    div {
      color: var(--text-alt);
      [class*="iconItem-"] {
        svg {
          color: var(--text-alt);
        }
      }
    }
    .iconContainer-1BBaeJ {
      svg {
        color: var(--text-alt);
      }
    }
  }
}
 
[class*="result-"] {
  [class*="contentUnread-"] {
    [class*="name-"] {
      [class*="wrapper-"] {
        height: 55%;
        border-radius: 50%;
        background-color: var(--color4);
        font-family: var(--font-display);
        color: var(--text-alt);
      }
    }
  }
}

.clickable-1JJAn8.container-2Pjhx-:active, .highlighted-1gWxXa.container-2Pjhx-, .selected-aXhQR6.container-2Pjhx- {
  color: var(--text-alt);
}

// add selection animation for home channels
.layout-2DM8Md {
  border-radius: 8px;
  position: relative;
  transition: all .45s ease-Out;
}

.selected-aXhQR6.container-2Pjhx- {
  .layout-2DM8Md::before {
    animation: radiusHomeSelectionComponent 300ms;
    animation-iteration-count: 1;
    visibility: hidden;
  }
}

.layout-2DM8Md::before {
  content: '';
  height: 100%;
  width: 218px;
  visibility: visible;
  opacity: 0;
  display: block;
  line-height: 18px;
  border-radius: 8px;
  background: var(--color9);
  position: absolute;
  transition: all 1s ease-Out;
  margin: auto auto;
  top: -1px;
  right: 0;
  bottom: -1px;
  left: 0;
}

//add selection animation
.content-1x5b-n {
  position: relative;
  transition: all .45s ease-Out;
}

.content-1x5b-n a::before {
  height: 28px;
  width: 217px;
  opacity: 0;
  line-height: 18px;
  border-radius: 8px;
  background: var(--color9);
  position: absolute;
  transition: all .5s ease-Out;
  margin: auto auto;
  top: -1px;
  padding: 2px;
}

.modeSelected-346R90 .content-1x5b-n ::before {
  animation: radius 350ms;
  animation-iteration-count: 1;
}