/**
 * @Space Component
*/

// space channel input
.form-2fGMdU {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto;
  flex-direction: column;
  justify-content: space-between;
  padding: 0;
  margin-right: 10px;
  margin-bottom: 10px;
  >div {
    [class*="wrapper-"] {
      margin: 9px 0 0 0;
      background-color: var(--background-secondary);
    }
  }
  [aria-controls="popout_8624"] {
    grid-row: 2;
  }
  .cooldownWrapper-3joyFc {
    color: var(--interactive-hover)!important;
  }
}

.channelTextArea-rNsIhG {
  background-color: transparent;
  border-radius: 12px;
  width: 100%;
  margin-top: 10px;
  margin-bottom: auto;
  .attachedBars-tZDmyV {
    background-color: var(--background-secondary-alt);
    border-bottom: 1px solid rgba(230, 230, 230, 0.06);
  }
  .scrollableContainer-2NUZem {
    padding: 4px 0 4px 0;
    border-radius: 12px;
    &.hasConnectedBar-1MrFne {
      border-radius: 0px 0px 12px 12px;
    }
  }
}

// typing section
.typing-2GQL18 {
  grid-row: 1;
  position: relative;
  margin: 6px 6px -4px 4px;
  height: 14px;
  left: 0;
}

// space titlebar
.base-3dtUhz {
  .content-98HsJk, .title-3qD0b- {
    .container-1r6BKw {
      background: var(--background-spacing);
      padding: 0 10px 0 0;
      border: none;
      .children-19S4PO {
        background-color: var(--background-secondary-alt);
        margin: 10px 0 0 0;
        border-radius: 12px 0 0 12px;
        padding: .6rem;
        .topic-TCb_qw {
          color: var(--color7);
        }
        &::after {
          display: none;
        }
        // home section
        .tabBar-ZmDY9v {
          .item-3HknzM {
            border-radius: 8px;
          }
          .tab-ck0077, .tab-PQvTH4 {
            color: var(--text-normal)!important;
          }
          .tab-ck0077:hover, .tab-PQvTH4:hover {
            color: var(--text-alt)!important;
          }
        }
        .iconWrapper-2OrFZ1 {
          .icon-22AiRD {
            color: var(--interactive-hover);
          }
        }
        [aria-label="Add Friend"] {
          color: var(--text-alt)!important;
          &:hover {
            filter: brightness(0.9);
          }
        }
      }
      .toolbar-1t6TWx {
        padding: .6rem;
        background-color: var(--background-secondary-alt);
        margin: 10px 2px 0 0;
        border-radius: 0 12px 12px 0;
        .iconWrapper-2OrFZ1 {
          span.iconBadge-qZ4Ksk {
            background-color: var(--color3);
          }
        }
        .anchor-3Z-8Bb {
          .iconWrapper-2OrFZ1 {
            svg {
              color: var(--color5);
            }
            &:hover {
              svg {
                color: var(--color5);
                filter: brightness(0.9);
              }
            }
          }
        }
      }
    }
  }
}

// sidebar
.sidebar-2K8pFh {
  background: transparent;
  margin: 10px 10px 10px 10px;
  .panels-j1Uci_ {
    margin-top: 10px;
    border-radius: 12px;
    &:hover {
      .subtext-3CDbHg {
        color: hsla(240, 9%, 89%, 1);
      }
    }
  }
  .container-3w7J-x {
    border-radius: 12px;
    .animatedContainer-1NSq4T {
      border-radius: 12px 12px 0 0;
    }
    .headerChildren-u4cpg9 {
      color: var(--header-primary);
    }
  }
}

// scrollerspacer
.scrollerSpacer-avRLaA {
  height: 10px;
}

// hide sidebar in fullscreen
.sidebar-2K8pFh {
  &.hidden-3iamF5 {
    display: none;
  }
} 

// thread sidebar
.threadSidebar-1o3BTy {
  margin-left: 0;
  border-radius: 0;
  border-left: none;
}
.chat-3bRxxu.threadSidebarOpen-vdkwIh {
  border-radius: 0;
}
.chat-3bRxxu, .threadSidebar-1o3BTy {
  background-color: var(--background-spacing);
}

// don't know

.scroller-RmtA4e {
  border-radius: 0 0 12px 12px;
}

.container-2wlB3z {
  height: calc(100% - 20px);
  border-radius: 12px;
  margin: 10px 10px 10px 0;
  [class*="membersWrap-"] {
    margin: 5px;
  }
}

[class*="privateChannels-"] {
  border-radius: 12px;
}

::-webkit-scrollbar-track {
  background-color: transparent!important;
  &:hover {
    background-color: var(--scrollbar-auto-track)!important;
  }
}

.homeWrapperNormal-2KSUEa {
  background-color: var(--background-spacing);
  .scroller-9moviB {
    border: 1px solid rgba(230, 230, 230, 0.06);
    background-color: var(--background-primary);
    margin: 10px 10px 10px 0;
    border-radius: 12px;
  }
}

[class*="pageContent-"] {
  background-color: var(--background-spacing);
  [class*="stageSection-"] {
    border: 1px solid var(--background-secondary);
    background-color: var(--background-primary);
    margin: 16px 16px 16px 10px;
    border-radius: 12px;
  }
  [class*="nowPlayingSidebar-"] {
    background-color: var(--background-spacing);
    .container-lRFx4q {
      background: var(--background-secondary);
      height: 90vh;
      margin: 10px;
      border-radius: 12px;
    }
    .emptyCard-1RJw8n {
      background: var(--background-secondary);
    }
  }
}

.chatContent-a9vAAp {
  background-color: var(--background-spacing);
  .messagesWrapper-1sRNjr {
    padding: 4px;
    .scroller-2LSbBU {
      background-color: var(--background-primary);
      margin: 10px 10px 10px 0;
      border: 1px solid rgba(230, 230, 230, 0.05);
      border-radius: 12px!important;
    }
  }
}

.sidebar-2K8pFh {
  resize: horizontal;
  min-width: 190px;
  max-width: 340px;
}

.membersWrap-2h-GB4, .searchResultsWrap-3-pOjs {
  margin: 10px 10px 10px 0;
  border-radius: 12px;
}

.container-2wlB3z {
  .membersWrap-2h-GB4 {
    margin: 0;
    border: none;
    border-radius: 0;
  }
}

.members-1998pB {
  border-radius: 12px;
}

// fix screen recorder not showing part 2
.callContainer-36WRfH {
  margin: 10px 10px 10px 0;
  border-radius: 12px;
  background: var(--background-secondary);
  [class*="root-"] {
    background-color: unset;
  }
  .inner-2O5YO7 {
    margin: 18px;
  }
  .background-ujHpbY {
    background-color: var(--background-modifier-accent)!important;
  }
}

.topControls-KKImPZ {
  .headerWrapper-3NUKsd {
    margin: 10px 0 0 0;
    .container-1r6BKw {
      padding: 0!important;
      background: transparent!important;
    }
  }
}

.members-1998pB {
  padding-left: 9px;
}

.qualityIndicatorLowQuality-3VS_Sh {
  color: var(--text-alt);
}

.searchResultsWrap-3-pOjs {
  resize: horizontal;
  border: 1px solid rgba(255,255,255, 0.06);
  min-width: 310px;
  max-width: 418px;
  direction: rtl;
}

.wrapper-39oAo3 {
  border-radius: 12px;
  width: 100%;
  margin-bottom: 10px;
  margin-top: 6px;
}

.nowPlayingColumn-2sl4cE {
  background-color: transparent;
  .container-lRFx4q {
    background: var(--background-secondary);
    height: calc(100% - 20px);
    margin: 10px;
    border-radius: 12px;
    .emptyCard-1RJw8n {
      background: transparent;
    }
  }
}

.scroller-2ZPeAD {
  border: none;
}

.bg-h5JY_x {
  background-color: transparent;
}

.app-2rEoOp {
  background-color: var(--background-spacing);
}

.animatedContainer-1NSq4T {
  background-color: transparent;
}

.header-2V-4Sw {
  border-radius: 12px 12px 0 0;
}

.app-2rEoOp {
  [class*="layers-"] {
    nav {
      &.wrapper-3NnKdC {
        border-radius: 12px;
        &[class*="guilds-"] {
          margin: 10px 0 10px 10px;
          >ul {
            .scroller-1Bvpku {
              background: var(--background-secondary-alt);
            }
          }
        }
      }
    }
  }
}

// other chat
.chat-15Vmww {
  .chatHeaderBar-4vZS1x {
    margin: 10px 10px 0 0;
    border-radius: 6px;
  }
}

.chatContent-a9vAAp {
  .chatHeaderBar-4vZS1x {
    margin: 10px 10px 0 0;
    border-radius: 6px;
  }
}