[class*="strikethrough-"] {
  color: var(--color3);
}

.children-19S4PO {
  .tabBar-ZmDY9v {
    .item-3HknzM {
      border-radius: 8px;
    }
  }
  .iconWrapper-2OrFZ1 {
    .icon-22AiRD {
      color: var(--interactive-hover);
    }
  }
  [aria-label="Add Friend"] {
    color: var(--text-alt)!important;
    &:hover {
      filter: brightness(0.9);
    }
  }
}
 
.tabBar-ZmDY9v {
  .tab-ck0077, .tab-PQvTH4 {
    color: var(--text-normal)!important;
  }
  .tab-ck0077:hover, .tab-PQvTH4:hover {
    color: var(--text-alt)!important;
  }
}

.header-2-Imhb {
  &.header-ykumBX {
    border-bottom: 1px solid rgba(230, 230, 230, 0.06);
  }
}

[id*="popout"] {
  [class*="container-"] {
    .resultsGroup-r_nuzN::before {
      border-color: rgba(230, 230, 230, 0.06)!important;
    }
  }
}

a[href="https://support.discord.com"] {
  .iconWrapper-2OrFZ1 {
    svg {
      color: var(--color5);
    }
    &:hover {
      svg {
        color: var(--color5);
        filter: brightness(0.9);
      }
    }
  }
}

.toolbar-1t6TWx {
  .iconWrapper-2OrFZ1 {
    span[class*="iconBadge-"] {
      background-color: var(--color3);
    }
  }
}

.title-3qD0b- {
  [class*="children-"] {
    [class*="topic-"] {
      color: rgba(230, 230, 230, 08);
    }
  }
}

[class*="inviteToolbar-"] {
  [class*="divider-"] {
    background-color: var(--text-muted);
  }
}

.toolbar-1t6TWx {
  .search-36MZv- {
    .search-2oPWTC {
      .searchBar-3dMhjb {
        border-radius: 8px;
        border: 1px solid rgba(230, 230, 230, 0.03);
        .icon-38sknP {
          .iconContainer-O4O2CN {
            svg {
              color: var(--interactive-active);
            }
          }
        }
      }
    }
  }
}
