// components
@forward './components/color-replacement';
@forward './components/left-bar-container';
@forward './components/right-bar-container';
@forward './components/top-bar-container';
@forward './components/buttons-and-items';
@forward './components/messages-wrapper-container';
@forward './components/mentions-nd-tags';
@forward './components/popout-containers';
@forward './components/settings-container';
@forward './components/servers-bar-container';
@forward './components/spaced-elements-style';
@forward './components/home-section';
@forward './components/channel-message-input';

// snippets
@forward './snippets-from-community/bd-toasts';
@forward './snippets-from-community/panel-buttons-animated';

// fonts
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Source+Sans+Pro:wght@400;600&family=Work+Sans:wght@400;500;600;700&display=swap');