.button-12Fmur:hover .contents-3ca1mk {animation: UserModalButtons 0.5s normal ease;}
  .container-YkUktl .noWrap-hBpHBz {width: 100px;opacity: 1;}
  .button-12Fmur {transition: 0.2s;}
  .button-12Fmur:hover {padding-bottom: 0px;transition: 0.2;}
  @keyframes UserModalButtons {
    0% {
      transform: translateY(0px);
    }
    50% {
      transform: translateY(-5px);
    }
    100% {
      transform: translateY(0px);
    }
  }