@use '../abstracts/theme-colors' as tc;
@use '../abstracts/general-colors' as gc;

// warn theme updates
#app-mount[class*="appMount"]::before {
  content: "Your version of Smooth Theme is outdated. Please download the newest version from: <https://datsfilipe.github.io/smooth-theme/>";
  display: var(--theme-version, block);
  background-color: gc.$color3;
  color: tc.$text-alt;
  font-size: 14px;
  line-height: 36px;
  font-weight: 400;
  text-align: center;
  z-index: 101;
}

/*Hide "DISCORD" text in top-left corner.*/
[class*="wordmarkWindows"] {display: none;}

// panel buttons animated
[class*="panels"][aria-label="User area"] {
  [class*="button"]:hover [class*="contents"] {animation: UserModalButtons 0.5s normal ease;}
  [class*="container"] [class*="noWrap"] {width: 100px;opacity: 1;}
  [class*="button"] {transition: 0.2s;}
  [class*="button"]:hover {padding-bottom: 0px;transition: 0.2;}
  @keyframes UserModalButtons {
    0% {
      transform: translateY(0px);
    }
    50% {
      transform: translateY(-5px);
    }
    100% {
      transform: translateY(0px);
    }
  }
}

/*disable discord's laggy settings animation*/
// custom change to make it work better in the theme
[class*="container-"] [class*="noWrap-"] {
  width: auto;
}
// snippet itself
[class*="layer-"] {transform: none !important;opacity: 1 !important;}
[class*="layers-"]>[class*="layer-"][class*="animating-"] *,
[class*="layers-"]>[class*="layer-"][class*="animating-"] {pointer-events: auto !important;will-change: unset;}
[class*="animating-"][class*="stop-"] {z-index: 100 !important;}

// hide panel buttons until hover
[class*="panels-"] > [class*="container-"] [class*="flex-"] > :not(:last-child) {
  opacity: 0% !important;
  width: 0px;
  transition: all 0.2s ease-in-out;
}

[class*="panels-"] > [class*="container-"]:hover [class*="flex-"] > :not(:last-child) {
  opacity: 100% !important;
  width: 32px;
}
